[2013-01-22 12:16] gunjisatoshi opened #1 "41号のリリース時期を決める"
当初の予定: 2/10 (日)
- リスケ案1: 3月
- リスケ案2: 2末

[2013-01-22 12:20] gunjisatoshi opened #2 "41号に掲載する記事を決める"
現在の記事候補です。
- 巻頭言
- 2.0 リリースに向けて
- Rubyist Hotlinks
- RubyConf Taiwanレポート
- 地域 Ruby 会議レポート（東京 Ruby 会議 10 （初日） レポート）
- Yarv Maniacs
- Euroko2012レポート
- Ruby札幌でのursmさんの記事
- 添削に対する言い訳(m_seki)

[2013-01-22 12:22] gunjisatoshi opened #3 "Ruby 2.0に合わせた号外を出すかどうか決める"
41号をRuby 2.0に合わせて出すのか、号外を別に出すのかを決める。

[2013-01-22 12:25] gunjisatoshi opened #4 "号外をいつ出すのか決める"
- 2/24 に合わせて出す
- 少し前に出す

[2013-01-22 12:28] gunjisatoshi opened #5 "2.0 の紹介記事（特集）"
号外の記事用にお祝いのメッセージをコミッタの皆さまから集めたい。

[2013-01-22 12:29] gunjisatoshi opened #6 "編集会議の日程を決める"
3月くらいにどうでしょうか。

[2013-01-22 12:31] gunjisatoshi opened #7 "たるいさんインタビュー"
希望としては41号に間に合わせたい。
- [x] 担当決め
- [x] テープ起こし
- [x] prepに記事を転載する
- [ ] 記事を編集する
- [ ] たるいさんに確認してもらう
- [x] 編集MLに確認依頼をだす
- [x] 難易度つける

[2013-01-22 12:32] gunjisatoshi opened #8 "テープ起こしの分担を決める"
時間で1/3にしてアサインする。

[2013-01-22 12:37] takkanm opened #9 "Ruby のお誕生日会の記事を書いてもらう"
- [x] 担当を決める
- [ ] 作者から目次をもらう
- [ ] 編集Wikiのprepに記事ページのリンクを作る
- [ ] 作者から記事をもらう
- [ ] もらった記事を編集Wikiに転載する
- [ ] 編集Wikiの記事を編集する
- [ ] 編集した記事を作者に確認してもらう
- [ ] 編集MLに作者からの確認が完了した旨を伝える
- [ ] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [ ] 作者にお礼のメールを出す

Ruby のお誕生日会の記事を書いてもらえる人を ruby-list や 日本 Ruby の会で募集する

[2013-01-22 12:54] gunjisatoshi opened #10 "Markdownで記事を書きたい"

[2013-01-22 13:07] gunjisatoshi opened #11 "Hikiに代わるシステムを考える"
Octopressとか？
脚注とかAmazonの書影とか連載一覧とかのプラグインを実装する必要がありそう。

[2013-01-23 14:54] #1 closed, assigned to takkanm

[2013-01-23 14:56] #3 closed, assigned to nobody

[2013-01-23 14:57] #4 closed, assigned to nobody

[2013-01-24 03:13] gunjisatoshi opened #12 "課題を定期的にレビューする仕組みを考える"
- 週次レビュー
- 月次レビュー

[2013-01-24 15:10] takkanm opened #13 "RubyTaiwan"
- [x] 担当決め
- [x] 目次を貰う
- [x] prepに記事ページを作る
- [x] 記事を貰う
- [x] prepに記事を転載する
- [x] 記事を編集する
- [x] 作者に確認してもらう
- [x] 編集MLに確認依頼をだす
- [x] 難易度つける

[2013-01-24 15:10] takkanm opened #14 "Euroko"
- [ ] 担当決め
- [ ] 目次を貰う
- [ ] prepに記事ページを作る
- [ ] 記事を貰う
- [ ] prepに記事を転載する
- [ ] 記事を編集する
- [ ] 作者に確認してもらう
- [ ] 編集MLに確認依頼をだす
- [ ] 難易度つける

[2013-01-24 15:10] takkanm opened #15 "Ruby札幌でのursmさんの記事"
- [x] 担当決め
- [x] 目次を貰う
- [x] prepに記事ページを作る
- [x] 記事を貰う
- [x] prepに記事を転載する
- [ ] 記事を編集する
- [ ] 作者に確認してもらう
- [ ] 編集MLに確認依頼をだす
- [ ] 難易度つける

[2013-01-24 15:10] takkanm opened #16 "YARVManiacs"
- [x] 担当決め
- [x] 目次を貰う
- [x] prepに記事ページを作る
- [x] 記事を貰う
- [x] prepに記事を転載する
- [x] 記事を編集する
- [x] 作者に確認してもらう
- [ ] 編集MLに確認依頼をだす
- [x] 難易度つける

[2013-01-24 15:10] takkanm opened #17 "東京Ruby10"
- [x] 担当決め
- [x] 目次を貰う
- [x] prepに記事ページを作る
- [x] 記事を貰う
- [x] prepに記事を転載する
- [x] 記事を編集する
- [x] 作者に確認してもらう
- [x] 編集MLに確認依頼をだす
- [x] 難易度つける

[2013-01-24 15:10] takkanm opened #18 "添削に対する言い訳"
- [x] 担当決め
- [x] 目次を貰う
- [x] prepに記事ページを作る
- [x] 記事を貰う
- [x] prepに記事を転載する
- [ ] 記事を編集する
- [ ] 作者に確認してもらう
- [ ] 編集MLに確認依頼をだす
- [ ] 難易度つける

[2013-01-26 23:38] hsbt opened #19 "巻頭言"

[2013-01-26 23:47] #2 closed, assigned to nobody

[2013-01-26 23:47] hsbt opened #20 "hsbt の継続デリバリの原稿"
- [x] 担当を決める
- [x] 作者から目次をもらう
- [x] 編集Wikiのprepに記事ページのリンクを作る
- [x] 作者から記事をもらう
- [x] もらった記事を編集Wikiに転載する
- [ ] 編集Wikiの記事を編集する
- [ ] 編集した記事を作者に確認してもらう
- [ ] 編集MLに作者からの確認が完了した旨を伝える
- [ ] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [ ] 作者にお礼のメールを出す

いつにマイルストーンを合わせるか謎なので置いておきます。何処かに設定してください。

[2013-01-27 22:34] #8 closed, assigned to gunjisatoshi

[2013-01-28 03:01] gunjisatoshi opened #21 "magazine at jp.rubyist.netにメールを送るとエラーになる"
[RubiMa-editors:6263]の件です。

[2013-01-28 22:40] sunaot opened #22 "編集参加応募者へ編集へようこそメールを出す"
2013/1/25 に応募を受けた分。

ここにどの参加希望者かを identify 可能な情報を載せたいところですが、公開されてるならメールアドレスはまずそうですねえ。るびま編集に参加しているというのが公開情報に困る人がいなければひとまず名前や twitter id なのかなあ

[2013-01-28 22:40] #22 closed, assigned to sunaot

[2013-01-29 01:06] sunaot opened #23 "福岡Ruby会議01レポート"
ML に連絡先が流れているので担当立てる人がいれば、コンタクトをとるところから。

連絡先は「昨日行った福岡Ruby会議01のるびまのレポートの作成を行いたいと思います」という文章を含むスレッドを検索してください。

[2013-01-29 22:27] sunaot opened #24 "41 号表紙"
表紙をつくる。

[2013-01-29 22:29] sunaot opened #25 "41 号サイドメニュー"
サイドメニューへ41号の記事を追加する。折り返しに注意して適宜記事名の長さを調整すること。

[2013-01-29 22:31] sunaot opened #26 "編集後記"
お題を決めて、書く人が書いて。今回のお題は 2.0 といえばで決まりかな。

[2013-01-29 22:41] sunaot opened #27 "各号目次"
41 号分の記事を追加する。

[2013-01-29 22:41] sunaot opened #28 "分野別目次"
41 号分の記事を追加する。

[2013-01-29 22:42] sunaot opened #29 "FrontPage"
最新号とバックナンバーの表記を更新する。
- [x] 表紙を作る
- [ ] トップページの最新号更新
- [x] 分野別を修正
- [x] バックナンバー修正

[2013-02-10 06:02] #24 closed, assigned to nobody

[2013-02-11 10:18] takkanm opened #30 "42号のリリース時期を考える"
おおまかな時期の合意とりたい。

5 月頭ぐらいですかね?

[2013-02-12 03:17] gunjisatoshi opened #31 "deliciousボタンが死んでいる"
[RubiMa-editors:6341]の件です。

そういえばDelicious自体しばらく使ってなかったんですが、
URL変わったんですね。

https://delicious.com/discover

知らなかった‥‥。

[2013-02-12 14:06] hsbt opened #32 "Ruby の歩き方 が古すぎるので何とかしたい"
@ko1 が一発目を書いてから誰かが追記する? 誰もいなかったら @hsbt がやります。

[2013-02-12 17:52] #31 closed, assigned to nobody

[2013-02-13 18:35] sunaot opened #33 "開催場所を確保する"
- 3/17 (日)
- １０人くらい？
- 場がなごむので、飲食可能だといいなあ
- ホワイトボードがあるとよりうれしいけれどなければポストイットと壁でもいいかな

[2013-02-16 09:40] #6 closed, assigned to nobody

[2013-02-24 01:44] #7 closed, assigned to gunjisatoshi

[2013-02-24 02:22] #19 closed, assigned to takahashim

[2013-02-24 02:28] #17 closed, assigned to hokkai7go

[2013-02-24 02:28] #13 closed, assigned to sunaot

[2013-02-24 03:06] #15 closed, assigned to sunaot

[2013-02-24 03:55] #5 closed, assigned to ko1

[2013-02-24 04:51] #25 closed, assigned to nobody

[2013-02-24 06:38] #29 closed, assigned to nobody

[2013-02-24 06:42] #27 closed, assigned to nobody

[2013-02-24 08:33] #18 closed, assigned to sunaot

[2013-02-24 08:34] #28 closed, assigned to nobody

[2013-02-24 08:36] sunaot opened #34 "分野別目次に重複がある"
各号の記事と連載記事の両方に重複している Regional RubyKaigi 記事がたくさん。あとから分野別記事にまとめたときに、過去のを消すのに手が回らなかったんですね、きっと。

だぶってるなーというだけで実害少ないので手が空いてるときに適当に消しましょう。

[2013-02-24 08:40] #14 closed, assigned to nobody

[2013-02-24 08:41] #16 closed, assigned to zonuexe

[2013-02-24 09:03] #26 closed, assigned to nobody

[2013-02-24 11:33] #34 closed, assigned to nobody

[2013-02-26 23:47] gunjisatoshi opened #36 "編集会議の議題を考える"
そういえばこんなフィードバックがあったので、議題の中に挙げておきたいですね。
http://developers.slashdot.jp/comments.pl?sid=594060&cid=2332259

[2013-02-27 23:49] gunjisatoshi opened #37 "42号の進行役を決める"
編集会議で決めるのがいいのかなあ。

[2013-03-01 20:22] sunaot opened #38 "Hotlinks のインタビューを開催する（卜部さん）"
- [x] 参加者を募る
- [x] インタビューの日取りを決める
- [x] 場所を確保する
- [x] インタビューを開催する

[2013-03-03 11:59] hsbt opened #39 "るびまの Ruby のバージョンを 1.8.7p371 にしたい"
アップデートするだけで良いと思いますが、何かブロックしている物ってありますか?

[2013-03-03 12:00] hsbt opened #40 "るびまの Ruby のバージョンを 1.9 ないし 2.0 にしたい"
Hiki 本体のバージョンアップも必要です。

[2013-03-05 13:54] sunaot opened #41 "編集会議 参加者の点呼をする"

[2013-03-05 13:56] sunaot opened #42 "ランチの手配"
まずは参加者の確定 #41 が先だなー

[2013-03-06 03:02] takkanm opened #43 "RubyKaigi 2013 の記事をどうするか"
別issueにしたほうがいいかもしれませんが、まずはここに書きます。
RubyKaigi 2013のレポートをどうしようかなーと思っておりまして。

1st シーズンのようなエクストリームスポーツみたいなのはもう止めたいのですが、
せめて地域Ruby会議や海外カンファレンスのレポートぐらいのものはるびまに載せられるといいなあと思ってます
(あと、参加者のしおりもbest effortであるといいな、とか……)

日本Rubyの会のプロジェクト関係者には何らかのかたちで割引などの還元をしたいので、
その理由と対象範囲をさぐっております。というあたりを話題にしてもらえるといいな、と思ってます
(当日行けるかどうか、まだちょっとわからないので……)

(written by @kakutani)

[2013-03-08 09:41] hsbt opened #44 "rubima アカウントにアイコン設定したい"
メールアドレス + gravator の設定が必要だけどどうしようかなあ

[2013-03-10 12:02] #37 closed, assigned to nobody

[2013-03-10 12:07] gunjisatoshi opened #45 "prep を作る"
進行役が決まったので、とりあえず prep を作るところから始めましょうか。

[2013-03-10 12:15] gunjisatoshi opened #46 "記事候補を確認する"
現在の記事候補です。
- 巻頭言
- Rubyist Hotlinks 卜部さん
- 継続的デリバリ
- CucumberからTurnipへ
- 東京 Ruby 会議 10 レポートの続き
- 福岡 Ruby 会議 01 レポート
- ぐんま Ruby 会議 01 レポート
- Ruby お誕生会のレポート

[2013-03-10 12:55] #45 closed, assigned to gunjisatoshi

[2013-03-10 12:58] gunjisatoshi opened #47 "記事の募集をする"
相変わらず技術系の記事がさみしいので、記事の募集をしたいですね。

ruby-listとかで募集するのがいいんでしょうかねえ。

[2013-03-10 13:00] gunjisatoshi opened #48 "担当のついていない記事に担当をアサインする"
立候補制だとなかなか担当が付かないんですよねえ。
このあたりは編集会議で話したほうがいいのかもしれませんね。

[2013-03-10 13:23] gunjisatoshi opened #49 "東京Ruby会議10の残り(3日目)レポート"
- [x] 担当を決める
- [x] 作者から目次をもらう
- [x] 編集Wikiのprepに記事ページのリンクを作る
- [x] 作者から記事をもらう
- [x] もらった記事を編集Wikiに転載する
- [x] 編集Wikiの記事を編集する
- [ ] 編集した記事を作者に確認してもらう
- [ ] 編集MLに作者からの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [ ] 作者にお礼のメールを出す

[2013-03-10 22:08] #33 closed, assigned to nobody

[2013-03-11 03:59] sunaot opened #50 "Ruby20周年記念パーティレポート"
- [x] 担当を決める
- [x] 作者から目次をもらう
- [x] 編集Wikiのprepに記事ページのリンクを作る
- [x] 作者から記事をもらう
- [x] もらった記事を編集Wikiに転載する
- [x] 編集Wikiの記事を編集する
- [x] 編集した記事を作者に確認してもらう
- [x] 編集MLに作者からの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] 作者にお礼のメールを出す
#9 で執筆してもらえることになった記事。

[2013-03-11 03:59] #9 closed, assigned to SugHimsi

[2013-03-11 04:04] sunaot opened #51 "ぐんま Ruby 会議 01 レポート"
- [x] 担当を決める
- [x] 作者から目次をもらう
- [x] 編集Wikiのprepに記事ページのリンクを作る
- [x] 作者から記事をもらう
- [x] もらった記事を編集Wikiに転載する
- [x] 編集Wikiの記事を編集する
- [x] 編集した記事を作者に確認してもらう
- [x] 編集MLに作者からの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] 作者にお礼のメールを出す

間に合いそうな気がするので、コンタクトをとるところから。[RegionalRubyKaigi:1082] にて担当変更が連絡されてます。ひとまずそこへ返信して連絡先を聞く or 連絡をもらうところからですね。

[2013-03-11 04:12] #41 closed, assigned to sunaot

[2013-03-13 03:38] gunjisatoshi opened #52 "WindowsでRubyを野良Buildしよう、の記事"
[RubiMa-editors:6458]の件です。誰に頼むのがいいのかなあ。
誰も書かないのであれば（＆私の帯域があれば）私が書いても良いです。

[2013-03-13 03:40] gunjisatoshi opened #53 "Rubyist Magazine 編集コミュニティから RubyKaja 2013 を選出する"
[ruby:2621] の件です。
個人的には若い人にあげたい。これも編集会議で話すといいのかなあ。

[2013-03-14 03:20] gunjisatoshi opened #54 "Enumerable#lazyの記事の例を修正する"
http://jp.rubyist.net/magazine/?0041-200Special-lazy

[code]

じゃなくて、

[code]

ですね。
（直そうと思ったら、なぜか本番Wikiに入れなかった‥‥）

[2013-03-15 01:26] takkanm opened #55 "IRC通知の設定をする"
Service hook しかけたけどどうか?

[2013-03-15 09:52] #54 closed, assigned to nobody

[2013-03-16 10:25] sunaot opened #56 "編集会議の議事録を ML へ送る"
だれか！

[2013-03-16 10:26] #42 closed, assigned to nobody

[2013-03-17 02:16] #55 closed, assigned to nobody

[2013-03-17 02:39] gunjisatoshi opened #57 "編集プロセスに関するドキュメントを編集WikiからGitHubに移す"
編集の人が読むべきドキュメントは編集Wikiにあると埋もれてしまうので、GitHub上に移したい。

[2013-03-17 02:59] takkanm opened #58 "るびま用に sqale を借りてもらえないか日本 Ruby の会に問いあわせる"
るびまに関するサーバに編集の人がアクセスできなくて、
Hiki 以外にするや、Ruby のバージョンをあげるなどができないので、
サーバを移行したい。
そのための移行先のリソースを用意してもらえるかを聞く。
issues あげればいいのかな

[2013-03-17 05:26] oshow opened #59 "柴田さんの「継続的デリバリの記事」の編集"
やります。

柴田さんの札幌RubyKaigiの発表を元に原稿にしていただく予定でしたが、
ボリュームが少ない？ということで一旦棚上げになっているものです。
（編集wikiでは「Ruby の世界の継続的デリバリ」というタイトルで置いてあります）

内容の追記をして記事を仕上げたいということで、42号合わせで書いてもらいます。
その編集を担当したいと思います。

[2013-03-17 05:29] #59 closed, assigned to oshow

[2013-03-17 06:46] #36 closed, assigned to nobody

[2013-03-18 02:29] hsbt opened #60 "デプロイ作業に必要なことを知りたい"
#57 の続きになりますが、編集 wiki で「だいたい出して良さそう」という状態から世に出るまでに必要なこと、つまり「本番wikiにデプロイ」と呼ばれるものが具体的になんなのかを wiki か何かに書き出して欲しいです。

上記は今後サーバーのリプレイスや hiki 以外の仕組みを採用する際に必須の情報ですので、よろしくお願いします。

[2013-03-18 03:22] takkanm opened #61 "地域 Ruby 会議のレポート記事の受けとり方を変えたい"
編集会議でも少し話したのですが、地域 Ruby 会議のレポートのやりとりを変更したいです。

現状、地域 Ruby 会議の ML にいる編集者の人がコンタクトしてやりとりをするというフローになっていますが、レポートに関するやりとりを GitHub でやるようにしたいです。

案として、以下のような pull request ベースのやりとりを考えています。
- rubima/rubima に regional というディレクトリを作る(これは編集側の作業)
- 各地域 Ruby 会議のレポート担当の人は、rubima/rubima を fork
- 記事を regional ディレクトリにいれてもらって、pull request ベースでやりとりをする

pull request ベースのやりとりが難しいようであれば、以下のようなissues ベースのやりとりでもいいかと思います。
- r

[2013-03-18 08:16] #53 closed, assigned to nobody

[2013-03-19 10:51] #56 closed, assigned to sunaot

[2013-03-20 00:22] gunjisatoshi opened #62 "「RubyistMagazine 表記規則」に従っているかを自動でチェックするようにする"
「RubyistMagazine 表記規則」
https://github.com/rubima/rubima/blob/master/editing_policy.md

正規表現とかで頑張ればテストを書けそうな気がする。
テストが書ければCIでチェックとかもできそう。

[2013-03-20 00:59] #57 closed, assigned to nobody

[2013-03-20 01:05] gunjisatoshi opened #63 "大江戸 Ruby 会議 03 レポート"
- [x] 担当を決める
- [x] 作者から記事をもらう
- [x] もらった記事を編集Wikiに転載する
- [x] 編集Wikiの記事を編集する
- [ ] 編集した記事を作者に確認してもらう
- [ ] 編集MLに作者からの確認が完了した旨を伝える
- [ ] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [ ] 作者にお礼のメールを出す

[2013-03-20 01:26] gunjisatoshi opened #64 "CucumberからTurnipへ"
- [x] 担当を決める
- [x] 作者から目次をもらう
- [x] 編集Wikiのprepに記事ページのリンクを作る
- [x] 作者から記事をもらう
- [x] もらった記事を編集Wikiに転載する
- [x] 編集Wikiの記事を編集する
- [x] 編集した記事を作者に確認してもらう
- [ ] 編集MLに作者からの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] 作者にお礼のメールを出す

see https://github.com/rubima/rubima/issues/47#issuecomment-15046772

[2013-03-20 01:34] #30 closed, assigned to nobody

[2013-03-20 01:40] gunjisatoshi opened #65 "他言語からの訪問 いまさら Perl"
- [x] 担当を決める
- [x] 作者から目次をもらう
- [ ] 編集Wikiのprepに記事ページのリンクを作る
- [ ] 作者から記事をもらう
- [ ] もらった記事を編集Wikiに転載する
- [ ] 編集Wikiの記事を編集する
- [ ] 編集した記事を作者に確認してもらう
- [ ] 編集MLに作者からの確認が完了した旨を伝える
- [ ] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [ ] 作者にお礼のメールを出す

see https://github.com/rubima/rubima/issues/47#issuecomment-14696959

@sunaot 追記

シリーズの主旨にも合うので、他言語からの訪問の一記事にして書きます。第一回の Groovy がよかったので、このシリーズも細々と続けたいなという気持ちもこめて。

[2013-03-20 01:45] gunjisatoshi opened #66 "「式と文、評価と実行、そして副作用」の記事の続き"
- [x] 担当を決める
- [x] 作者から目次をもらう
- [ ] 編集Wikiのprepに記事ページのリンクを作る
- [ ] 作者から記事をもらう
- [ ] もらった記事を編集Wikiに転載する
- [ ] 編集Wikiの記事を編集する
- [ ] 編集した記事を作者に確認してもらう
- [ ] 編集MLに作者からの確認が完了した旨を伝える
- [ ] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [ ] 作者にお礼のメールを出す

see http://jp.rubyist.net/magazine/?0039-ExpressionAndStatement

[2013-03-20 23:58] hsbt opened #67 "mobi 形式で配信したい"
今でもスクレイピングして読んだりしているみたいですが、単純に変換したものでも配信すると読者にとって嬉しくなりそうです。

以前に hiki 形式を mobi にしてみたのですが、せっせと編集画面からコピペしてやるには挫折しました。今、db をもらって中身を覗くので db から直接エントリの一覧だけ抽出できないか調べてみます。

あと、こんな機能もあるそうです。

http://japanese.engadget.com/2013/03/20/send-to-kindle/

[2013-03-21 05:39] sunaot opened #68 "他言語からの訪問 いまさら Perl"
書きます
#47 で書いていた、他言語 OOP プログラマ向けの Perl OOP 入門と、それに付け足して、今 Rubyist が Perl から得られる発見や気づきを中心に、Perl のすてきなところを紹介します。

[2013-03-21 06:21] #68 closed, assigned to nobody

[2013-03-22 06:49] hsbt opened #69 "るびまを sqale に引っ越したので QA をお願いしたい"
http://hiki-hsbt.sqale.jp に構築中です。見るだけならこれでいいんじゃないのというクオリティになっていますが、所々プラグインエラーが発生しています。どなたか、存在するページを一通りみて、エラーやここのレイアウト崩れているというようなチェックをして頂けないでしょうか...

現在把握しているもの
- backnumber プラグインがない
- ページの履歴がない、これは hiki の mysql アダプタを直さないとダメ
- 編集のテストしてない

[2013-03-22 23:12] #44 closed, assigned to nobody

[2013-03-22 23:14] #40 closed, assigned to hsbt

[2013-03-22 23:14] #39 closed, assigned to hsbt

[2013-03-22 23:19] hsbt opened #70 "るびまサーバーの引っ越し"
マイルストーン完了用の issue です。

るびまは jp.rubyist.net で動いているけど、誰も管理できていないので PaaS(sqale) でお気楽サーバー管理できるようにして、編集作業に注力したい。

[2013-03-22 23:23] hsbt opened #71 "新しいドメインを使いたい"
jp.rubyist.net 以外のサーバーを使う場合、サブディレクトリで CNAME ということはできないので、新しくドメインを用意する必要があります。

(弊社サービスですが...) ムームードメインだと rubima.jp が 2980 円、rubima.info が 980 円みたいです。結構良いと思うのですがどうでしょうか?

/cc @ko1 @gunjisatoshi @takahashim @takkanm @kakutani @sunaot

[2013-03-22 23:25] hsbt opened #72 "sqale でも編集 wiki から本番 wiki にデプロイという仕組みを導入したい"
sqale は ssh ログインすることができるので、編集 wiki にログインして、rdb のコピーという原稿スクリプトを走らせる形がよさそう。添付ファイルはどうするかなあ...

内部でどうにかなるか社内のチームに聞いてみます。ダメなら s3 経由とか、scp で何とかすることになりそうです。

むしろ、二つの wiki を用意しないで 本番 wiki のみにして、編集中のものは外に表示しない機能みたいのを作った方が複雑さが減るかもしれません。

[2013-03-22 23:32] #21 closed, assigned to ko1

[2013-03-22 23:32] snoozer05 opened #73 "問い合わせ先などを magazine at ruby-no-kai.org に変更する"
magazine at jp.rubyist.net から

[2013-03-23 02:35] #58 closed, assigned to nobody

[2013-03-23 02:40] hsbt opened #74 "sqale 上で編集wiki(preview) と本番wiki の両方を扱える仕組みを考える"
アプリケーションとして二つ作るか、アプリケーション一つのままで二つを構築するかが難しそう。

個人的には、アプリケーションは一つにした上で、るびまからヘッダを取っ払ってしまってページ一覧は見えないようにしてから、裏ではせっせと作っておいていいんじゃないのと思いますがどうでしょうか。

[2013-03-23 07:39] sunaot opened #75 "桐島 Ruby やめるってよの記事"
担当探しから。

[2013-03-23 09:23] hsbt opened #76 "sqale 上の構築手順をちゃんと文章化する"
今は hsbt アカウントでがちゃがちゃやってるけど、rubima アカウントでちゃんと作成した時にはやったこと一つ一つを wiki にする

[2013-03-23 14:19] #38 closed, assigned to nobody

[2013-03-23 14:23] gunjisatoshi opened #77 "卜部さんインタビューのテープ起こしを手伝ってくれる人を募集する"
とりあえず私と @hamakn の2名は確定。
前回同様、最低でも3人は欲しいところです。

[2013-03-24 16:18] gunjisatoshi opened #79 "Rubyist Hotlinks 卜部昌平さん"
- [x] 担当を決める
- [x] テープ起こしをする
- [x] 編集Wikiのprepに記事ページのリンクを作る
- [x] 編集Wikiに記事ページを作る
- [x] 編集Wikiの記事を編集する
- [x] 編集した記事をインタビュイーに確認してもらう
- [ ] 編集MLにインタビュイーの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] インタビュイーにお礼のメールを出す

see https://github.com/rubima/rubima/issues/77 https://github.com/rubima/rubima/issues/38

[2013-03-24 16:22] #77 closed, assigned to nobody

[2013-03-25 03:42] hsbt opened #80 "sqale からも更新メールを送信したい"
今は connection refused されてしまう、まずは hiki の更新メール通知を読み解くところから...

[2013-03-25 08:15] #80 closed, assigned to nobody

[2013-03-26 00:50] hsbt opened #81 "sqale にるびまアカウントを作成する"
作成後に関係者っぽい人の公開鍵を登録する。

[2013-03-26 07:38] #69 closed, assigned to nobody

[2013-03-26 08:57] #76 closed, assigned to nobody

[2013-03-26 08:58] #72 closed, assigned to nobody

[2013-03-28 23:42] #48 closed, assigned to gunjisatoshi

[2013-04-01 03:25] #81 closed, assigned to nobody

[2013-04-01 05:57] sunaot opened #82 "各号の日程はやっぱり単独の issue で管理したほうがいいかもという相談"
各記事の著者の人へうまくリリースまでの日程が伝わってない気がするので、各号ごとに日程は issue を起こして各記事進行 issue から参照させたほうがいい気がしました。一日、二日待って反対なければやっちゃいます (現行の milestone 上の表記でなく issue にしたい理由は、URI で固定で参照させたいため。あと、会議に出てた編集者は milestone にあるってわかってるけど、一期一会の著者の人にはわかりにくいため)

https://github.com/rubima/rubima/issues/milestones

[2013-04-01 13:31] gunjisatoshi opened #83 "RubyKaja 2013に応募する"
https://github.com/rubima/rubima/issues/53#issuecomment-15043218 の件です。
2013年5月12日(日)応募締切なので、忘れないようにしないと‥‥。
http://kaja.rubyist.net/2013/about

[2013-04-01 20:10] sunaot opened #84 "記事の編集募集かける"
42 号の様子をざっと眺めてみたところ、@gunjisatoshi と @zonuexe が抱えてるタスクが多めなので、お二人から反対がなければ引き取り手募集を ML に流してみようかと思います。いかがでしょうか？

assigned to @gunjisatoshi
- hotlinks テープ起こし
- 「式と文」執筆
- 「Cucumber から Turnip へ」編集
- 進行役
- 大江戸レポート係 (でしたっけ？)
- Ruby20 周年レポート 一部担当

assigned to @zonuexe
- 「式と文」編集
- 「他言語からの訪問」編集
- ぐんま 01 レポート編集

[2013-04-01 22:33] #71 closed, assigned to nobody

[2013-04-02 11:08] hsbt opened #85 "amazon アソシエイトIDを変更したい"
現在はかずひこさんの個人のアソシエイトIDなのでるびまかRubyの会のアソシエイトIDがあると捗りそう

[2013-04-02 11:47] #74 closed, assigned to nobody

[2013-04-04 02:27] #70 closed, assigned to nobody

[2013-04-04 02:49] hsbt opened #86 "favicon を設定したい"

[2013-04-04 02:50] hsbt opened #87 "ページのリネーム機能が欲しい"
今まではデータの insert によって「デプロイ」というものを実現していたけど、これをページ名のリネームで実現可能にしたい。

[2013-04-04 02:51] hsbt opened #88 "更新履歴をクリックするとエラーとなる"
hiki の repos 方面が壊れている

[2013-04-04 02:54] znz opened #89 "Content-Type がおかしいことがある"
`ruby -r open-uri -e 'p open("http://magazine.rubyist.net/").content_type'` で `"application/octet-stream"` になるなど、 Content-Type が `text/html` にならないことがあります。

[2013-04-04 03:52] #88 closed, assigned to nobody

[2013-04-04 06:23] znz opened #90 "SideMenu の背景画像の長さが足りない?"
SideMenu のバックナンバーが増えたり、今回は 2.0.0 Special (En) が増えたりして内容が長くなっていて、 SideMenu の背景が途中からただの赤い四角形になっているのは、背景画像の長さが足りていないからではないでしょうか?

[2013-04-04 07:16] #87 closed, assigned to nobody

[2013-04-04 07:17] hsbt opened #91 "ソーシャルブックマークバーが表示されていない"
たぶん奥底にプラグインが沈んでいると思う。

[2013-04-04 15:01] znz opened #92 "移行で内容が変化していないことを確認する"
機械的にチェックしたい。

[2013-04-04 15:13] znz opened #93 "Last modified (更新日時) の位置が変わって表示されなくなっている"
Last modified (更新日時) の位置が違っていて、たぶん CSS の影響だと思いますが、表示されなくなっています。

[2013-04-04 15:14] znz opened #94 "Accept-Language なしの時の言語が違う"
Accept-Language なしの時に英語だったのが日本語になるようになってしまっています。

[2013-04-04 15:16] znz opened #95 "RSS がない"
magazine.rubyist.net には RSS の link タグがないようですが、なくす予定でしょうか?

[2013-04-05 03:28] hsbt opened #96 "Trackback をやめる"
もう使っている人はいないので消しましょう

[2013-04-05 03:30] znz opened #97 "TrackBack URL の削除"
http://jp.rubyist.net/magazine/?0001 などの昔の号には TrackBack URL がついていますが、もうずっと無効にしたままなのでバックナンバーのページからも削除しましょう。

[2013-04-05 12:20] znz opened #98 "0034-AloneFramework の削除"
`http://jp.rubyist.net/magazine/?0034-AloneFramework` が本番 wiki にありますが、 `http://jp.rubyist.net/magazine/?0035-AloneFramework` が正式なもののようなので、 0034 は削除した方が良さそうです。

[2013-04-05 12:24] znz opened #99 "0040-ContinuousDeliveryInRubyWorld"
`http://jp.rubyist.net/magazine/?0040-ContinuousDeliveryInRubyWorld` が本番 wiki にありますが、 `http://jp.rubyist.net/magazine/?0040` からはリンクされていません。
このページはどういう状態なのでしょうか?

`http://magazine.rubyist.net/` には `0042-ContinuousDeliveryInRubyWorld` があるので、書きかけのまま公開側にコピーされてしまっているのなら、削除しておく方が良さそうです。

[2013-04-06 02:07] #98 closed, assigned to nobody

[2013-04-06 05:31] #99 closed, assigned to hsbt

[2013-04-06 06:16] hsbt opened #100 "pre- で始まるページだけを集めるプラグインが欲しい"
pre- で始まるページを集めてくるプラグインを作ろう

[2013-04-07 20:09] sunaot opened #101 "本番に見えちゃいけないページを隠す"
業務ユーザー業として本番には要らんページを一通り目視でチェックして pre- にしてみました。

mput さんによる Rubyist のための C 入門が企画されていたり、2013 年にふりかえるとにやにやしてしまうものが発掘され、なかなか楽しい作業でありました。

[2013-04-07 20:11] sunaot opened #102 "Encoding::CompatibilityError のページがある"
ページリネーム業の途中で気づきました。作業進めるほうを優先したのでなにも調べてません。

`http://magazine.rubyist.net/?CodeReview-0017-miyako.rb`

[2013-04-08 03:16] gunjisatoshi opened #103 "GitHubの通知メールにメールで返信するとGitHub上で文字化けする"
see https://github.com/rubima/rubima/issues/64#issuecomment-16028286 https://github.com/rubima/rubima/issues/79#issuecomment-16028195 他

これはGithub自体の不具合なので、GitHubに苦情を言うべきですかねえ。
（他のプロジェクトでは困ってないんですかね）

ちなみに、化けていても以下のようなサービスを使えば読むことはできます。

http://www.kanzaki.com/docs/jis-recover.html
http://ltside.com/enc/

[2013-04-08 03:29] #83 closed, assigned to gunjisatoshi

[2013-04-10 10:07] #97 closed, assigned to nobody

[2013-04-10 10:08] #96 closed, assigned to nobody

[2013-04-10 10:44] #47 closed, assigned to gunjisatoshi

[2013-04-10 10:48] gunjisatoshi opened #104 "某レシピ共有サイトの Ruby 1.9 対応で大変苦労されたお話"
- [x] 担当を決める
- [x] 作者から目次をもらう
- [x] 編集Wikiのprepに記事ページのリンクを作る
- [x] 作者から記事をもらう
- [x] もらった記事を編集Wikiに転載する
- [x] 編集Wikiの記事を編集する
- [x] 編集した記事を作者に確認してもらう
- [ ] 編集MLに作者からの確認が完了した旨を伝える
- [ ] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [ ] 作者にお礼のメールを出す

see https://github.com/rubima/rubima/issues/47#issuecomment-16040663

[2013-04-10 23:24] gunjisatoshi opened #105 "編集Wikiを編集する場合はadminじゃなくて各自のアカウントでログインして編集するようにする"
see https://github.com/rubima/rubima/issues/11#issuecomment-16175500
adminからアカウントを各自作ってもらう感じでしょうか。
編集MLで告知したほうがいいですね（手順書が必要？）。

[2013-04-11 00:54] hsbt commented on #105
手順書いて、各自作ってもらう、で良いと思います!

あと目的としては、アカウントを厳密に管理したいとかそういうことじゃなくて、単純にページを更新した人が誰かをゆる〜く知りたいというのを付け加えればよいですかねえ。

[2013-04-11 00:58] #10 closed, assigned to nobody

[2013-04-11 01:03] #90 closed, assigned to nobody

[2013-04-11 03:31] #12 closed, assigned to nobody

[2013-04-11 06:29] znz commented on #105
pre-HowtoJoinTemplate も更新をお願いします。

[2013-04-11 06:35] #100 closed, assigned to hsbt

[2013-04-11 06:38] znz opened #106 "attach_rb inline plugin がない"
`http://magazine.rubyist.net/?0027-ActiveLdap` で

[code]

になっています。

[2013-04-11 13:50] gunjisatoshi commented on #105
とりあえず[RubiMa-editors:6496]で告知しました。

[2013-04-12 00:15] znz opened #107 "www.ruby-lang.org に 0041 号のアナウンスがない"
他の www.ruby-lang.org の話を見ていたときに気づいたのですが、 0041 号のアナウンスが載っていないようです。
この号は英語版もあるので /ja/ だけではなく /en/ にもアナウンスをのせてもらえると良さそうです。
リリースから時間が経ってしまっているのが難点ですが。

意外と忘れやすいので #60 のリリース作業手順に webmaster への更新依頼も入れておいた方が良さそうです。

[2013-04-12 00:21] znz opened #108 "更新情報が diff ML に流れていない"
`RubiMa-editors-diff` ML に `magazine.rubyist.net` での変更が流れていないようにみえます。

[2013-04-12 06:56] sunaot opened #109 "デプロイ前後の手順を書き起す"
@hsbt と @sunaot で書いて周知したら done

過去の経緯は #60 と #107 参照

[2013-04-12 13:46] znz commented on #105
rubima/magazine.rubyist.net#359 に各自のアカウント作成も入れるといいかもしれません。
それから各記事の著者の人にも今までのように admin (のような共通のアカウント) のパスワードを教えるのではなく、個別のアカウントを作成すると良さそうです。

[2013-04-13 13:41] #46 closed, assigned to gunjisatoshi

[2013-04-14 23:53] gunjisatoshi opened #111 "編集差分を表示させようとするとエラーになる"
たとえば[prep-0042の編集差分](http://magazine.rubyist.net/?c=diff;p=prep-0042)とかが以下のようになりますねえ‥‥。

[code]

[2013-04-16 08:16] #111 closed, assigned to nobody

[2013-04-16 08:59] #89 closed, assigned to hsbt

[2013-04-16 14:38] znz opened #113 "HEAD リクエストに対応していない"
以下の `head.rb` で `503 Service Temporarily Unavailable` になります。

[code]

[code]

[2013-04-16 14:40] znz opened #114 "cookie ヘッダ"
応答ヘッダに `cookie: #<Hiki::Cookie:0x0000000246f558>` というのが入っていますが、不要ではないでしょうか。

[code]

[code]

[2013-04-17 00:51] #114 closed, assigned to hsbt

[2013-04-17 13:44] #107 closed, assigned to nobody

[2013-04-21 09:57] ginkouno opened #115 "TokyuRuby会議06レポート"
お世話になっております。

TokyuRuby会議06の開催が決まっておりますので、
issueを立ち上げさせて頂きます。

担当は@ginkounoです。
- [x] 担当を決める
- [x] 記事の概要を頂く(?)
- [x] 目次を頂く (?)
- [x] 記事のアウトラインを頂く (?)
- [x] 編集Wikiのprepに記事ページのリンクを作る
- [x] 記事を頂く ()
- [x] 頂いた記事を編集Wikiに転載する
- [x] 編集Wikiの記事を編集する
- [x] 編集した記事を確認していただく
- [x] 編集MLに作者からの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける

[2013-04-22 06:31] znz opened #117 "SideMenu の「以下リリースでは削除」"
SideMenu に「以下リリースでは削除」という部分がありますが、リリースと共通で使われてしまうため、削除してしまおうと思います。

[2013-04-22 13:17] #117 closed, assigned to znz

[2013-04-24 12:47] znz opened #119 "0009-CGIKit-2.x が Encoding::CompatibilityError"
`http://magazine.rubyist.net/?0009-CGIKit-2.x` が
 Encoding::CompatibilityError at /
 incompatible character encodings: UTF-8 and EUC-JP
 Ruby   /home/sqale/current/style/default/html_formatter.rb: in gsub, line 208
で 500 Internal Server Error になっています。

[2013-04-26 02:02] #106 closed, assigned to hsbt

[2013-04-27 07:37] znz opened #120 "日本語ファイル名の添付ファイル"
`http://magazine.rubyist.net/?0006-RDIntro`
`http://jp.rubyist.net/magazine/?0006-RDIntro`
で `ピクチャ 1.png` のように日本語ファイル名が添付ファイルで使われていて表示されなくなっているようです。

[2013-04-27 09:25] sunaot opened #121 "0042 号スケジュール"
- 記事申し込み・概要締め切り
  - 4/21 (日)
- 記事の目次、アウトライン締め切り
  - 4/29 (月)
- 記事の締め切り
  - 5/6(月)
- 校正完了、リリース
  - 5/26 (日)

[2013-04-27 09:26] #82 closed, assigned to nobody

[2013-04-27 09:59] sunaot opened #122 "記事進行チェックリストのテンプレートを更新"
github ＆新編集 wiki だといらないものを更新、削除したらこうなりました。次号あたりからご活用ください
- [ ] 担当を決める
- [ ] 作者から概要をもらう
- [ ] 作者から目次をもらう
- [ ] 作者から記事をもらう
- [ ] もらった記事を編集Wikiに転載する
- [ ] 編集Wikiの記事を編集する
- [ ] 編集した記事を作者に確認してもらう
- [ ] 編集MLに作者からの確認が完了した旨を伝える
- [ ] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [ ] 作者にお礼を伝える

[2013-04-27 10:00] #84 closed, assigned to sunaot

[2013-04-27 15:30] #119 closed, assigned to znz

[2013-04-27 15:31] #113 closed, assigned to nobody

[2013-04-27 15:36] #102 closed, assigned to nobody

[2013-04-27 15:45] #11 closed, assigned to nobody

[2013-04-28 01:57] #108 closed, assigned to znz

[2013-04-28 17:56] sunaot opened #123 "0042 号でるびまが移行されたことに対してありったけの賛美と感謝をしたい"
移行後るびまのお披露目となると思われる 0042 号にて、柴田さんと西山さんへ感謝の言葉を書きたい。読み物としてどうこうというより、みんなの楽しむるびまが移行されてこんな活躍がありました。読む人が喜んでるかはわからないけれど、編集者は喜んでます。ありがとうという編集後記の番外編みたいな記事を載せたい。

誰も書かなくても自分で書く。自分の記事は落としても書く。

[2013-05-02 10:08] #91 closed, assigned to hsbt

[2013-05-02 10:09] hsbt opened #124 "ソーシャルブックマックバーから delicious を外す"
異論ある方いますでしょうか。

[2013-05-02 13:08] znz opened #125 "＼ や ～ が ? に化ける"
0009-Hotlinks の AA が `Unmatched double quote` になっていて原因は `＼` が `\` になていたからでした。
本番 Wiki 側から全体をコピーしてエラーはなくなったのですが、 `＼` や `～` だった部分が `?` に化けてしまっています。

`http://jp.rubyist.net/magazine/?0009-Hotlinks#f04`
`http://magazine.rubyist.net/?0009-Hotlinks#f04`

[2013-05-02 23:14] znz opened #126 "bbs プラグインと trackback プラグインのエラー"
`http://magazine.rubyist.net/?0025` で bbs プラグインが有効になってしまっているのと、trackback プラグインのエラー (`Hiki::PluginException (not plugin method): inline plugin`) が出ています。

[2013-05-02 23:16] znz opened #127 "ページ内リンク先が間違っている"
`http://magazine.rubyist.net/?0009-YAML` の「はじめに」の中の「セクション『XML との比較』」のところのリンク先が変です。
本番 Wiki の方 (`http://jp.rubyist.net/magazine/?0009-YAML`) でも変になっているようです。

[2013-05-03 04:42] #32 closed, assigned to nobody

[2013-05-03 06:35] znz opened #128 "diff メールの URL が "./?ページ名" になっている"
移行前はちゃんと `http://...` になっていたようです。

[2013-05-03 06:50] #126 closed, assigned to gunjisatoshi

[2013-05-03 06:51] hsbt opened #129 "bbs と trackback を全ページから消す"
#126 の派生です。

[2013-05-04 11:35] znz commented on #105
https://github.com/rubima/rubima/wiki/HowToEditRubyistMagazine に手順もまとめられているようなので閉じます。

[2013-05-04 11:35] #105 closed, assigned to gunjisatoshi

[2013-05-08 09:53] hsbt opened #132 ".rubima のデータを消す"
magazine.rubyist.net では旧るびまの本番と編集のデータがありますが、今後は編集データを正として扱っていくので、「旧るびま本番データ」を消そうと思います。

[2013-05-11 19:37] sunaot opened #133 "編集 ML へメールが届かない"
進行役業として、先週明けに締切でした通知メールを編集 ML へ送っていたのですが、届きませんでした。 @ko1 atdot.net のほうはご無事でしょうか？

[code]

[2013-05-12 02:24] hsbt opened #134 "Ruby の歩き方を github へのリンクにするかどうか"
現状の確認
- http://magazine.rubyist.net/?FirstStepRuby に @satococoa さんが書いて頂いたものを反映済み
- https://github.com/rubima/rubima/blob/master/first_step_ruby/first-step-ruby-2.0.md は適時更新されている

論点: magazine.rubyist.net にはもう載せないで github を正として直リンクだけで良いのでは?

[2013-05-12 02:51] #128 closed, assigned to nobody

[2013-05-12 03:04] #124 closed, assigned to hsbt

[2013-05-14 04:13] znz opened #135 "diff メールが送られなくなっている"
https://github.com/rubima/rubima/issues/133#issuecomment-17782874 のあたりから流れていないことが確認されています。

[2013-05-14 04:14] #133 closed, assigned to nobody

[2013-05-14 09:52] #101 closed, assigned to hsbt

[2013-05-15 08:14] shyouhei opened #137 "[rk13op:1225] 【2013.5.30-6.1_日本Rubyの会様】オペレーター見積書 に返信する"
「２・３日で」！

[2013-05-15 08:17] #137 closed, assigned to nobody

[2013-05-17 09:47] #120 closed, assigned to nobody

[2013-05-17 13:24] znz opened #138 "Mysql2::Error: Too many connections"
`Mysql2::Error: Too many connections` というエラーで表示出来なくなることがあるようです。

[code]

[2013-05-18 01:05] gunjisatoshi opened #139 "「見えているページ」と『「編集」で見えるソース』が異なる"
https://github.com/rubima/rubima/issues/129 関連でタンポポワークスに着手しようと思ったのですが、たとえば

http://magazine.rubyist.net/?0024

で「見えているページ」では「今号へのご意見募集は終了しました。」となっているのですが、編集してhiki記法のソースを見てみるとその記述がなかったのでおや？と思いました。

どうも.rubimaと.RubiMaで同じページ名のページがあるとこのような状況になるのではないかなあとエスパーします（Hikiのバグ）。ただ、.rubima を削除すれば https://github.com/rubima/rubima/issues/132 とりあえず解決しそうな気はします。

[2013-05-18 01:58] SugHimsi opened #140 "0042号へも巻頭のお言葉を頂戴する"
- [x] 担当を決める
- [x] 編集Wikiのprepに記事ページのリンクを作る
- [x] 作者から記事をもらう
- [x] もらった記事を編集Wikiに転載する
- [x] 編集Wikiの記事を編集する
- [x] 編集した記事を作者に確認してもらう
- [x] 編集MLに作者からの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] 作者にお礼のメールを出す

そろそろ(寝た子ともども)起こしますね。

[2013-05-18 11:59] muryoimpl opened #141 "undefined method `index_url' for nil:NilClass"
ファイルを選択ボタンでファイル選択した後、ファイルの添付ボタンを押すと、undefined method `index_url' for nil:NilClass エラーが出ます。

エラー画面が表示された際、ファイルは添付できている模様です。

[2013-05-18 12:22] #141 closed, assigned to znz

[2013-05-18 12:40] #135 closed, assigned to nobody

[2013-05-18 12:42] znz opened #142 "添付ファイル操作の diff メールの URL"
#141 と #135 の関連です。

添付ファイル操作の時のメールの URL が `./` で始まるもののままです。

[2013-05-20 11:12] gunjisatoshi opened #143 "RubyKaja 2013 の推薦文を書く"
https://github.com/rubima/rubima/issues/83 の件です。

RubyKaja 2013 の推薦文を書いてどこかに登録しないといけないはずなんですけど、そういえばその通知ってもらってましたっけ‥‥。

[2013-05-20 23:31] kakutani opened #144 "RubyKaigi2013のるびまへのレポート記事"
#43 からの続き。

るびま側でのインターフェイスを @muryoimpl として、
会期中のレポート班を、 @zonuexe @miio @raa0121 @shokola @mitaku @asonas にお願いすることにしました。
会期中(できれば後も……) @june29 にレポート班顧問に就任してもらうことにしましたっ。

[2013-05-20 23:34] #43 closed, assigned to nobody

[2013-05-21 01:52] znz opened #145 "0001-bbs"
詳しいことは調べていませんが `http://jp.rubyist.net/magazine/?0001-bbs` と `http://magazine.rubyist.net/?0001-bbs` を見比べると `RDについては </a> が` という InterWiki 関連で旧本番側で壊れていた部分が直っているようです。

それから trackback のところに `http://jp.rubyist.net/number-of-access.txt` というのがあるのが気になるのですが、どういう仕組みで更新されているのでしょうか?

[2013-05-21 01:54] znz opened #146 "ansi_screen plugin"
0023-Rspec で使われている ansi_screen プラグインが入っていないようです。

[2013-05-21 01:55] znz opened #147 "attach_rb でエスケープ漏れ"
0010-CodeReview-pukipa.rb とか 0010-CodeReview-pukiwikiparser.rb で attach_rb で生成されている HTML の中で `<li>` とかがちゃんとエスケープされてない問題があるようです。

[2013-05-21 03:16] znz opened #148 "etc/hikiconf.rb での設定"
`@options['diffmail.style'] = 1` の設定が移行出来ていなかったので追加しました。
他には

[code]

の設定が移行されていないようですが、どうしましょうか?

元の hikiconf.rb には `@use_wikiname = false` はたぶん設定画面で false にしているので etc/hikiconf.rb では true のままになっているのだと思います。

[2013-05-21 08:58] znz opened #149 "0035-TranslationArticle"
`magazine.rubyist.net` だけに `0035-TranslationArticle` があったので `pre-0035-TranslationArticle` に改名しました。

この記事はどういう状況なのでしょうか?

[2013-05-21 09:04] znz opened #150 "EuRuKo2011レポート"
`0035-Euroko2011` と `0036-Euroko2011` が存在していますが、どういう状況なのでしょうか?

タイトルの衝突があったからか、 `http://magazine.rubyist.net/?0035-Euroko2011` だけは `EuRuKo2011レポート_drop` と `_drop` というのがついたタイトルになっています。

[2013-05-21 09:41] #147 closed, assigned to nobody

[2013-05-22 04:09] gunjisatoshi opened #151 "RubyKaigi2013で「るびま編集コミュニティ」のコミュニティアピールをどうするか決める"
see https://github.com/rubima/rubima/issues/143#issuecomment-18255924

[2013-05-22 05:47] hsbt opened #152 "google analytics を入れたい"
入れたいというか入れたので、みたい人はこの issue にメールアドレスを書いてください。

[2013-05-22 11:16] gunjisatoshi opened #153 "42号の表紙をつくる"
pre-0042に作ろうと思い始めたら各記事へのリンクをpre-*にするのかどうとかリリース作業を含めて色々と悩ましいのでとりあえずissueにしました :smiley:

[2013-05-22 12:19] #149 closed, assigned to nobody

[2013-05-22 12:46] #146 closed, assigned to nobody

[2013-05-24 04:00] #143 closed, assigned to nobody

[2013-05-24 16:02] sunaot opened #154 "0042 号の掲載可能記事を確認したい"
さて、そろそろリリースが気になる時期なので、掲載可能記事を確定させたいです。

リリースに載せるつもりの記事を担当の方は、コメントお願いします。

参考 :  #121

確定分? (コメントから抜粋)
- Hotlinks
- 福岡Ruby会議01のレポート
- 大江戸 Ruby 会議 03 レポート
- 東京Ruby会議10の残り(3日目)レポート
- 桐島、Rubyやめるってよ
- クックパッドを Ruby 2.0.0 に対応させた話
- 移行感謝記事

[2013-05-24 20:00] sunaot opened #155 "0042 号の本番リリース方法を決めたい"
#60 でコメントしてたのですが、完全に脱線だったので別立てします。

下記の方針で行くつもりです。あまり時間もないですが懸念などある方はお知らせください。

上記の背景には、こんな課題をどうしようかなーという悩みがあり、もう割りきって記事の校正をがんばったほうが幸せになれそうだと思ったのでした。

[2013-05-26 07:14] sunaot opened #156 "0042 号のリリースを新 wiki にするか、旧 wiki へ転記にするか決めたい"
さて、どうしましょうね。ご意見あればコメントお願いします。

個人の意見としては、#138 の影響で見られなくなると困るなあと思うくらいで、他にはリリースをブロックするほどの issue はないかなと思ってます。現行るびまを残したまま、いったん 0042 号としては magazine.rubyist.net をお披露目してもいいんじゃないかなと思いますがどうでしょう？
(旧るびまからのリダイレクトをかけなければ、アクセスパスのほとんどを占めると思われる検索エンジンからのアクセスは旧へ行くはずなので、新記事目当ての人以外は困らないようにできそうです。新記事はどうせリリースしなければ見られないものなので仮に多数のアクセスで停止してもごめん、ごめんでいいかなーと。)

あとは、#127 が多少気になりますが、これはどうせ現行の wiki でも同様のようなので気にしても仕方ないですね。

[2013-05-26 07:25] #155 closed, assigned to nobody

[2013-05-26 07:29] sunaot opened #157 "正しくタイトルつけると未公開記事がページ一覧から探せないw"
pre-title というタイトル未定状態だとページ一覧から pre- で検索をかけられるのですが、ページタイトルをつける (リリース時はこの状態) と、pre- が表記上見えなくなりいったいどれが次号の予定記事なのか探すすべがなくなったのでした。

これは笑ってすますしかないですが、次号へのメモとして issue にして close しておきますw

[2013-05-26 21:34] #156 closed, assigned to nobody

[2013-05-29 10:49] sunaot opened #158 "pre- のついてるページを公開版へリネームする"

[2013-05-29 10:50] #158 closed, assigned to nobody

[2013-05-29 11:48] sunaot opened #159 "0042 号リリースまでの TODO"
個別に issue にしてもいいのだけど忘れる前に書いておきます。
- [x] 分野別目次の更新
- [x] 各号目次の更新
- [x] 巻頭言の記事紹介の更新
- [x] 表紙の Regional report の採番
- [x] ぐんま01の文章が消えてしまってる件の fix (他にないかもチェックしたいかも)
- [x] Turnip の残りの校正
- [x] 福岡01の写真
- [x] jp.rubyist.net/magazine に 0042 号へのリンクを追加 (リリース後)

他、気づいたものあればコメントください。上記のリストにマージします。

[2013-05-29 11:50] #50 closed, assigned to SugHimsi

[2013-05-29 11:52] #104 closed, assigned to oshow

[2013-05-29 11:52] #123 closed, assigned to nobody

[2013-05-29 11:53] #79 closed, assigned to gunjisatoshi

[2013-05-29 11:53] #75 closed, assigned to oshow

[2013-05-29 11:56] #140 closed, assigned to takahashim

[2013-05-29 12:13] #63 closed, assigned to niku

[2013-05-29 12:54] ore-public opened #160 "分野別目次の地域RubyKaigiレポート記事一覧が、採番されてる順と表示順が違う"
{{backnumber('.+RubyKaigi\d+Report.*')}}
これで、同じ号に載っている記事が、ページ名順になってるっぽい。

[2013-05-29 17:00] #64 closed, assigned to gunjisatoshi

[2013-05-29 21:26] #23 closed, assigned to muryoimpl

[2013-05-29 21:26] SugHimsi opened #161 "RubyKaja 2013 のるびまURLは、いまや修正すべきである"
@gunjisatoshi #143 の件関連の流れになろうかと思いますので…。

お手数ですが、るびまのURL、修正を依頼していただけませんか?

[2013-05-30 02:55] #159 closed, assigned to nobody

[2013-05-30 02:56] #121 closed, assigned to sunaot

[2013-05-30 02:58] #49 closed, assigned to hokkai7go

[2013-05-30 03:28] hokkai7go opened #162 "るびまのコミュニティアピールをどうするか決める"
今日の18時からなのに、何も決まっていないぞう…
(るびま42号リリースお疲れ様でした！

[2013-05-30 03:37] #161 closed, assigned to gunjisatoshi

[2013-05-30 04:04] #162 closed, assigned to nobody

[2013-05-30 13:08] #151 closed, assigned to nobody

[2013-05-30 14:03] #51 closed, assigned to zonuexe

[2013-05-30 22:22] #153 closed, assigned to nobody

[2013-05-30 22:22] #154 closed, assigned to nobody

[2013-05-30 22:25] hsbt opened #163 "Vol.43 をデプロイする"
リリース達成用の issue です。以下、「デプロイ/リリース」と呼ばれる手順(誰か書いてください...)。
- [ ] あーだこーだ

[2013-05-31 23:35] hsbt opened #164 "jp.rubyist.net からのリダイレクト"
Vol.42 もリリースして特に問題無さそうに見えるので旧るびまから permanent redirect を設定しようと思いますが何か懸念点ありますか?

[2013-06-01 11:41] oshow opened #165 "43号に載せる記事を集める"
次号へ向けてやっていきましょう。

コメントまとめ
- Hotlinks → 今号は掲載なし
- fluentd (oshowさん)
- RubyMotion Kaigi 2013 (たなべ)
- Ruby 1.8 (たなべ)
- RubyKaigi を支えるネットワーク技術 (郡司さん)
- ライブラリ開発者になろう！ (郡司さん)
- RubyKaigi レポート (むりょういさん)
- RailsBerry と RailsConf の参加記 (えむ。さん)
- 地域Ruby会議レポート（既に開催されている、あるいは記事受け付け〆切の6/23あたりまでで開催されるもの）
  - 九州Ruby会議02
- RedDotRubyConf 2013 に参加しましたの記事 (郡司さん) #178
- TRICK ( @zonuexe ) 
- EuRuKo 2013 (郡司さん)
- Ruby

[2013-06-01 12:06] oshow opened #166 "fluentdに関する記事"
- [x] 担当を決める
- [x] 作者から目次をもらう
- [x] 編集Wikiのprepに記事ページのリンクを作る
- [x] 作者から記事をもらう
- [x] もらった記事を編集Wikiに転載する
- [x] 編集Wikiの記事を編集する
- [x] 編集した記事を作者に確認してもらう
- [x] 編集MLに作者からの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] 作者にお礼のメールを出す

執筆者： @sonots さん
記事の詳細は決まっていませんが方向性は「fluentdで何か」ということだそうです。

[2013-06-01 15:33] gunjisatoshi opened #167 "編集者リクルート＠RubyKaigi 2013"
RubyKaigi 2013 の懇親会で @miyohide をるびま編集者に勧誘したので備忘録です。
あと @shokola が仲間になりたそうにこちらを見ている（ドラクエ）のを[観測した](https://twitter.com/shokolateday/status/340777996778606593)ので、これまた備忘録です（明日[RubyHiroba](http://rubyhiroba.org/2013/)に行く予定の編集者の人は、勧誘してきてくださいませ）。

[2013-06-01 15:49] gunjisatoshi opened #168 "43号の進行役を決める"
誰か！

[2013-06-02 01:15] #164 closed, assigned to nobody

[2013-06-02 13:50] oshow opened #169 "RubyMotion Kaigi 2013レポート記事"
- [x] 担当を決める
- [x] 作者から目次をもらう
- [x] 編集Wikiのprepに記事ページのリンクを作る
- [x] 作者から記事をもらう
- [x] もらった記事を編集Wikiに転載する
- [x] 編集Wikiの記事を編集する
- [x] 編集した記事を作者に確認してもらう
- [x] 編集MLに作者からの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] 作者にお礼のメールを出す

執筆者： @satococoa

http://connpass.com/event/2095/
↑これのレポート記事になります。

[2013-06-02 21:28] sunaot opened #170 "むこう半年のリリーススケジュールどうする？"
#168 からの fork

という話があがってたので、今後の発行計画づくりをする issue として立てました。
意見を書いていって、発行予定ができたら done

[2013-06-03 01:45] #138 closed, assigned to nobody

[2013-06-04 07:04] oshow opened #171 "RubyKaigi2013を支えたネットワーク技術についての記事"
- [x] 担当を決める
- [x] @koiwa さんから概要をいただく
- [ ] @koiwa さんから目次をいただく
- [ ] @koiwa さんから記事をいただく
- [ ] いただいた記事を編集Wikiに転載する
- [ ] 編集Wikiの記事を編集する
- [ ] 編集した記事を @koiwa さんに確認していただく
- [ ] 編集MLに @koiwa さんからの確認が完了した旨を伝える
- [ ] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [ ] @koiwa さんにお礼のメールを出す

執筆者： @koiwa

[2013-06-04 14:43] #167 closed, assigned to nobody

[2013-06-04 15:19] gunjisatoshi opened #172 "「ライブラリー開発者になろう！」の記事"
- [x] 担当を決める
- [x] @kou さんから目次をいただく (6/30)
- [x] 編集Wikiのprepに記事ページのリンクを作る
- [x] @kou さんから記事をいただく (7/7)
- [x] いただいた記事を編集Wikiに転載する
- [x] 編集Wikiの記事を編集する
- [x] 編集した記事を @kou さんに確認していただく
- [x] 編集MLに作者からの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] 作者にお礼のメールを出す

執筆者： @kou

[2013-06-05 02:30] muryoimpl opened #173 "RubyKaigi 2013 のレポート記事"
- [x] 担当を決める
- [x] 作者から目次をもらう
- [x] 編集Wikiのprepに記事ページのリンクを作る
- [x] 作者から記事をもらう
- [x] もらった記事を編集Wikiに転載する
- [x] 編集Wikiの記事を編集する
- [x] 編集した記事を作者に確認してもらう
- [x] 編集MLに作者からの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] 作者にお礼のメールを出す

著者: RubyKaigi2013 るびまレポートスタッフ

[2013-06-05 03:36] gunjisatoshi opened #174 "Hotlinks用のICレコーダーが欲しい"
そういえば昨日 @shyouhei さんと話をして、Hotlinks用のICレコーダーが欲しいという話が出ました（が、どこに申請すればいいかを失念しましたので、とりあえずIssueにしておきます）。

[2013-06-05 06:30] #168 closed, assigned to nobody

[2013-06-05 08:41] gunjisatoshi opened #175 "44号(記念号)の企画を決める"
昨日 @ko1 さんと「44号(記念号)は何かやりたいね」という話をしました。

昨日出た主な企画は、覚えている限りだと以下のような感じでした。
- 帰ってきた Rubyist のための他言語探訪 【第 15 回】 Elixir
- 帰ってきた あなたの Ruby コードを添削します 【第 6 回】接待添削もしくは逆襲の添削
- 帰ってきた スはスペックのス 【第 3 回】一気に最新版 RSpec をキャッチアップ
- 帰ってきた 標準添付ライブラリ紹介 【第 16 回】
- YARV Maniacs 【第 12 回】 RGenGC
- [RubyのMechanizeでできる！自動投資](https://speakerdeck.com/hamakn/katutetokorekara-komiyuniteitoojin-tokofalsehui-she) @hamakn いや、これはジョーク

[2013-06-06 23:53] takkanm opened #176 "RailsBerry, RailsConf の参加記事"
- [x] 担当を決める
- [x] @satomicchy さんから記事の概要を頂く(6/23)
- [x] @satomicchy さんから目次を頂く (6/30)
- [x] 記事のアウトラインを頂く (7/7)
- [x] 編集Wikiのprepに記事ページのリンクを作る
- [x] @satomicchy さんから記事を頂く (7/28)
- [x] 頂いた記事を編集Wikiに転載する
- [x] 編集Wikiの記事を編集する
- [x] 編集した記事を @satomicchy さんに確認していただく
- [x] 編集MLに作者からの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける

以前お話させていただいたるびまの件なのですが、次の号は6月23日概要締め切り、6月30日 記事の目次、アウトライン締め切り、7月7日記事の締め切り、7月28日

[2013-06-07 00:52] hokkai7go opened #177 "九州Ruby会議02 の記事"
- [x] 担当を決める
- [x] 記事の概要を頂く(6/23)
- [x] 目次を頂く (6/30)
- [x] 記事のアウトラインを頂く (7/7)
- [x] 編集Wikiのprepに記事ページのリンクを作る
- [x] 記事を頂く (7/28)
- [x] 頂いた記事を編集Wikiに転載する
- [x] 編集Wikiの記事を編集する
- [x] 編集した記事を確認していただく
- [x] 編集MLに作者からの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける

[2013-06-08 06:33] hsbt opened #178 "RedDotRubyConf 2013 に参加しましたの記事"
- [x] 担当を決める
- [x] @hsbt さんから目次をいただく (6/30)
- [ ] 編集Wikiのprepに記事ページのリンクを作る
- [x] @hsbt さんから記事をいただく (7/7)
- [x] いただいた記事を編集Wikiに転載する
- [x] 編集Wikiの記事を編集する
- [x] 編集した記事を @hsbt さんに確認していただく
- [x] 編集MLに作者からの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] 作者にお礼のメールを出す

執筆者： @hsbt

[2013-06-08 18:30] sunaot opened #179 "0043 号スケジュール"
- 記事申し込み・概要締め切り
  - 6/23 (日)
- 記事の目次、アウトライン締め切り
  - 6/30 (日)
- 記事の締め切り
  - 7/7 (日)
- 校正完了、リリース
  - 7/28 (日) → 7/31(水) 21:00 に延期になりました see [RubiMa-editors:6659]

[2013-06-08 18:53] sunaot opened #180 "Ruby 1.8 系の記事 (仮)"
- [x] 担当を決める
- [x] 作者から目次をもらう
- [ ] 編集Wikiのprepに記事ページのリンクを作る
- [ ] 作者から記事をもらう
- [ ] もらった記事を編集Wikiに転載する
- [ ] 編集Wikiの記事を編集する
- [ ] 編集した記事を作者に確認してもらう
- [ ] 編集MLに作者からの確認が完了した旨を伝える
- [ ] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [ ] 作者にお礼のメールを出す

　執筆者 : 卜部さん
担当編集 : たなべ

[2013-06-08 18:59] sunaot opened #181 "今後も prep 必要でしょうか？"
各記事のチェックリストを見ていて、「編集Wikiのprepに記事ページのリンクを作る」があるのに気づいたのですが、今後も prep つくりますか？

二重管理になるので github issue があればいいかなと思ってます。ただ、ラベル貼り忘れて記事の考慮漏れが出たりするとつらいので merge された掲載予定リストのようなものは別途 issue として管理されていたほうがいいかもしれません (#165 のようなもの)。

[2013-06-09 06:13] oshow opened #182 "るびまトップページのQ&Aの中の「掲示板」はもう存在しない？"
http://magazine.rubyist.net/
るびまのトップページのQ&Aの中に

というものがありますが、掲示板は既になくなっているので（ですよね？）この文章は修正してよろしいでしょうか。

[2013-06-09 07:59] #182 closed, assigned to nobody

[2013-06-09 11:18] #170 closed, assigned to nobody

[2013-06-09 14:45] oshow opened #183 "CRuby Committers Who's Who in 2013の記事"
- [x] 担当を決める
- [x] @nagachika さんから記事の概要を頂く
- [x] @nagachika さんから目次を頂く
- [x] @nagachika さんから原稿を頂く
- [x] 表紙用ページに記事ページのリンクを作る
- [x] 頂いた記事を編集Wikiに転載する
- [x] 編集Wikiの記事を編集する
- [x] 編集した記事を @nagachika さんに確認していただく
- [x] 編集MLに作者からの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける

執筆者： @nagachika さん
これは44号(9月発行予定)合わせの記事になります。

[2013-06-09 22:07] #181 closed, assigned to nobody

[2013-06-11 13:15] zonuexe opened #184 "44号掲載記事をまとめる"
#165 やMLを見ると44号の予定で進んでる記事があるので、早いですが立てておきます
- 44号(記念号)企画 #175
- CRuby Committers Who's Who in 2013 (担当: @miyohide ／サブ担当: @oshow) #183
- TokyuRuby会議06レポート #115
- fluentd に関する記事（担当: @oshow） #166
- 岡山Ruby会議02レポート #189

[2013-06-11 13:45] zonuexe opened #185 "TRICKの記事"
早いですが、お話はあるらしいので掲載号未定で立てておきます。

<del>正式な話ではないので、まだ記事テンプレは貼りません。</del>

- [x] 担当を決める
- [x] @mame さんから記事の概要を頂く
- [x] @mame さんから目次を頂く
- [x] @mame さんから原稿を頂く
- [x] 表紙用ページに記事ページのリンクを作る
- [x] 頂いた記事を編集Wikiに転載する
- [ ] 編集Wikiの記事を編集する
- [ ] 編集した記事を @mame さんに確認していただく
- [ ] 編集MLに作者からの確認が完了した旨を伝える
- [ ] 表紙の記事リンクの作成・記事の説明・難易度をつける

[2013-06-18 07:43] oshow opened #186 "Hikiのページに隠し属性がついたので、URLにpre-を付ける代わりにそれを使おう"
43号リリース後に、ここで説明した手順を他のドキュメントに移してcloseします。
##### 41号以前の、リリース前の記事の隠し方
- 編集wikiと本番wikiが別だったため、隠すという考え方が特に必要なかった。
- リリース時に、該当号の記事(41号なら0041-XXXXというページ)を編集wikiから本番wikiへコピーするスクリプトを使っていた。
##### 42号の、リリース前の記事の隠し方
- 編集wikiと本番wikiが一緒になったため、次号向けに準備中のページを隠す必要が出てきた。
- 各編集者はURLに「pre-」というprefixをつけて記事ページを作成する。こうするとページにBasic認証がかかる。
- 進行役がprep というまとめページ(42号で言うと http://magazine.rubyist.net/?prep-0042 )を作り、そこにpre-付きの

[2013-06-23 15:08] gunjisatoshi opened #187 "EuRuKo 2013"
- [x] 担当を決める
- [x] @gunjisatoshi に EuRuKo の記事書くんでしょ？　意識高いなら当然帰りの機内で記事を書くよね？　なら目次はもう出せるよね？　と催促する (6/30)
- [x] そういえば編集 Wiki の prep に記事ページのリンクを作るという行程はもう不要なんだっけ
- [x] @gunjisatoshi に EuRuKo の記事はもう当然出来ているよね？　編集権限持っているんだからさっさと自分で編集 Wiki に上げるといいと思うよ？　と催促する (7/7)
- [x] 直接編集 Wiki に上がるはずなので転載の必要はないんじゃないかな
- [x] 編集 Wiki の記事をざっと見てツッコミを入れる
- [x] ツッコミを入れた部分を @gunjisatoshi がちゃんと反映したか確認する
- [x] 編集 ML に @gunjisat

[2013-06-24 07:02] sunaot opened #188 "書籍紹介記事「パーフェクト Ruby」"
- [x] 担当を決める
- [x] 作者にやりとりの手段を確認する (メール？ github issue？ その他？)
- [x] 作者に記事執筆についての案内をする (記事執筆依頼テンプレート)
- [x] 作者に日程を伝える
- [x] 作者から記事概要をもらう
- [x] 作者から目次をもらう
- [x] 作者から記事をもらう
- [x] もらった記事をWikiに隠しページとして転載する
- [x] Wikiの記事を編集する
- [x] 編集した記事を作者に確認してもらう
- [x] 作者の確認が完了した
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] 作者にお礼を伝える

　執筆者 : @ryopeko さん
担当編集 : たなべ

[2013-06-24 15:15] #165 closed, assigned to nobody

[2013-06-29 11:17] ore-public opened #189 "岡山Ruby会議02のレポート"
- [x] 担当を決める
- [x] 記事の概要を頂く
- [x] 目次を頂く
- [x] 記事のアウトラインを頂く
- [x] 記事を頂く
- [x] 頂いた記事を編集Wikiに転載する
- [x] 編集Wikiの記事を編集する
- [x] 編集した記事を確認していただく
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける

[2013-07-01 00:37] hsbt opened #190 "Rubyist hotlink のインタビュー一覧を発掘する"
旧サイトには存在していたらしいのでデータベースから発掘してページを作っておく

[2013-07-07 23:59] gunjisatoshi opened #191 "大場さん夫妻のインタビューのテープ起こしを手伝ってくれる人を募集する"
今回は4時間くらい（途中休憩をはさんだので、実質は3時間くらい？）あるので、かなり大変です‥‥。

[2013-07-08 00:03] gunjisatoshi opened #192 "Rubyist Hotlinks 大場さん夫妻 前編"
- [x] 担当を決める
- [x] テープ起こしをする
- [x] 編集Wikiに記事ページを作る
- [x] 編集Wikiの記事を編集する
- [x] 編集した記事をインタビュイーに確認してもらう
- [ ] 編集MLにインタビュイーの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] インタビュイーにお礼のメールを出す

see https://github.com/rubima/rubima/issues/191

[2013-07-09 15:41] #180 closed, assigned to sunaot

[2013-07-17 11:48] #174 closed, assigned to nobody

[2013-07-20 23:11] #127 closed, assigned to nobody

[2013-07-20 23:51] #150 closed, assigned to nobody

[2013-07-21 11:31] #73 closed, assigned to nobody

[2013-07-23 13:37] takkanm opened #193 "42号の記事に目次がついていないものがある"
`toc_here` を使って目次を生成していない記事がいくつかあったのですが、
これは何か意図があってやってないんでしたっけ?

[2013-07-27 07:36] gunjisatoshi opened #194 "0043 号 巻頭言"
@takahashim いつも巻頭言ありがとうございます。 [RubiMa-editors:6641] の件ですが、 Issue になっていなかったので備忘録的に Issue 起こしました。

0043 号の発行予定は一応 7/28(日) なのですが、数日遅れる可能性もあります。 https://github.com/rubima/rubima/issues/179

それでは、よろしくお願いいたします :blush:

[2013-07-27 07:53] #190 closed, assigned to nobody

[2013-07-27 13:19] sunaot opened #195 "るびまに oEmbed な埋込を展開するプラグインを追加"
speakerdeck や slideshare やその他 oEmbed に対応しているサービスの埋込を展開できる (であろう) プラグイン oembed.rb を追加したのでそのログ。

plugin 追加。ここの内容に従って追加。
- https://github.com/rubima/rubima/wiki/Upgradehikiplugin

jquery-oembed.js が必要だったので追加。rubima/rubima.git な hiki を clone してみたものの、public ディレクトリがなかったので直接設置してしまった。これはそういうものでよかったですかね？

[code]

[2013-07-27 13:33] sunaot opened #196 "sidemenu や目次ページなどどうするんでしたっけ？"
方針決まってなかった or とくにちゃんと要件書いてなかったような気がして、https://github.com/rubima/rubima/issues/60#issuecomment-18210828 のあたりで書いてあるとおり目次やら sidemenu やらどうしたものかというかんじです。

[2013-07-27 14:15] #195 closed, assigned to nobody

[2013-07-28 07:07] gunjisatoshi opened #197 "RubyEventCheckのフォローをするかどうか"
そういえば毎回リンクされているRubyEventCheckですが、

https://github.com/ruby-no-kai/official/wiki/RubyEventCheck

[ruby:2617](http://www.fdiary.net/ml/ruby/msg/2617) を見るとイベントを開催した／したい人が勝手にアピールする場という位置づけのようなのですが、あんまりメンテされている感じじゃないですねえ（告知が足りてない？）。

http://regional.rubykaigi.org/ とか http://lanyrd.com/topics/ruby/ とか（Asakusa.rbで教えてもらった）を見て、るびま発行のタイミングでフォローするのがいいんですかねえ。

[2013-07-28 09:14] #197 closed, assigned to nobody

[2013-07-28 13:57] gunjisatoshi opened #198 "RubyConf 2013でるびまをアピールする"
とりあえず思いつきをdumpしておきます。
CFP出すほどじゃないので、LT狙い？
（RubyConfでの発表をどうすればいいのか良く分かっていない）

[2013-07-29 05:55] gunjisatoshi opened #199 "0043 号のリリースまで、可能な限りプルーフリーディングする"
リリースは 7/31(水) 21:00 に延期になりましたので、少し余裕ができました。

see https://github.com/rubima/rubima/issues/179#issuecomment-21700595

各自の担当記事以外にも、可能な限り目を通しましょう。
（誤字脱字程度であれば担当記事にこだわらず断りなく修正しちゃって構わないと思います！）

[2013-07-29 22:27] #132 closed, assigned to nobody

[2013-07-31 13:25] #199 closed, assigned to nobody

[2013-07-31 13:27] #194 closed, assigned to takahashim

[2013-07-31 13:29] #187 closed, assigned to nobody

[2013-07-31 13:31] #178 closed, assigned to gunjisatoshi

[2013-07-31 13:36] #172 closed, assigned to gunjisatoshi

[2013-08-01 03:04] #186 closed, assigned to nobody

[2013-08-02 02:11] #196 closed, assigned to nobody

[2013-08-02 02:14] #188 closed, assigned to nobody

[2013-08-02 02:16] #179 closed, assigned to nobody

[2013-08-02 02:17] #173 closed, assigned to muryoimpl

[2013-08-02 02:18] #169 closed, assigned to sunaot

[2013-08-02 02:23] #157 closed, assigned to nobody

[2013-08-02 02:28] #163 closed, assigned to nobody

[2013-08-02 02:29] #144 closed, assigned to nobody

[2013-08-02 02:30] #85 closed, assigned to takahashim

[2013-08-02 02:32] #61 closed, assigned to sunaot

[2013-08-02 02:33] #176 closed, assigned to takkanm

[2013-08-02 02:43] #139 closed, assigned to nobody

[2013-08-02 02:45] #185 closed, assigned to zonuexe

[2013-08-02 05:00] #152 closed, assigned to nobody

[2013-08-02 05:26] #193 closed, assigned to nobody

[2013-08-04 14:04] #177 closed, assigned to hokkai7go

[2013-08-12 13:15] gunjisatoshi opened #201 "0044 号スケジュール"
- 記事申し込み・概要締め切り
  - 8/25 (日)
- 記事の目次、アウトライン締め切り
  - 9/1 (日)
- 記事の締め切り
  - 9/8 (日)
- 校正完了、リリース
  - 9/29(日) → 9/30 (月) に延期しました

0043 号のスケジュール ( https://github.com/rubima/rubima/issues/179 ) を参考に、おおむね 2 カ月スライドさせてみました。都合が悪いようであれば、コメントお願いします！

[2013-08-12 13:21] gunjisatoshi opened #202 "0044 号 巻頭言"
@takahashim いつも素晴らしい巻頭言をいただき、ありがとうございます！

0044 号の発行予定は現在のところ 9/29 (日) となっております ( https://github.com/rubima/rubima/issues/201 )。毎度すみませんが、だいたい発行の 1 週間前くらいまでに 0044 の巻頭言を頂けると幸いです。

それでは、よろしくお願いいたします :smiley:

[2013-08-12 14:05] gunjisatoshi opened #203 "www.ruby-lang.org に 0043 号のアナウンスがない"
https://github.com/rubima/rubima/issues/107 関連ですが、ちょっと時機を逸した気もしますねえ。

忘れやすいのでデプロイ手順 https://github.com/rubima/rubima/issues/109 に含めていただけるとありがたいです！

[2013-08-12 15:16] gunjisatoshi opened #204 "0044 号の表紙をつくる"
記事の順番はhttps://github.com/rubima/rubima/issues/153#issuecomment-18564037 によると
1. 巻頭言
2. Hotlinks
3. 単発記事
4. 連載記事

なのだそうです (これもどこかに明文化すべきですかねえ)。

[2013-08-13 15:11] gunjisatoshi opened #205 "0043 号のふりかえりをする"
今日の Asakusa.rb で少し話をしたのですが、「ふりかえりの Issue を立ててみんなに書いてもらって適当なところでクローズでいいんじゃない？」ということで Issue 立てました。以下は私が感じた KPT を書いておきますので、何かあればコメントで続きをお願いします！
- Keep

進行役の動きがたいへん素晴らしかったと思います。 @oshow さん GJ! :+1:
- Probrem

リリースがずれてしまったこと。このあたりはリリースをずらす決断というか判断が難しいですねえ。
- Try

日程キープ。

[2013-08-20 12:13] #129 closed, assigned to nobody

[2013-08-20 12:57] #60 closed, assigned to nobody

[2013-08-22 15:30] znz opened #206 "bbs の代わり"
bbs プラグインの代わりとして Disqus http://disqus.com/ を付けてみるのはどうでしょうか?
spam 対策などはすべて外部に任せられるので、管理の手間がかからないのが利点だと思います。
欠点としては JavaScript オフだと見えないとかがあります。

[2013-08-24 12:34] #103 closed, assigned to gunjisatoshi

[2013-08-28 10:15] znz opened #207 "Organization Profile の Email 変更"
#73 と同様に magazine at jp.rubyist.net になっているのを magazine at ruby-no-kai.org に変えたいです。

変える前に #44 の再設定が必要そうです。

[2013-08-29 15:57] znz opened #208 "るびまwikiのアカウントを作る方法"
https://github.com/rubima/rubima/wiki/HowToEditRubyistMagazine#%E3%83%A6%E3%83%BC%E3%82%B6%E7%99%BB%E9%8C%B2 に書いてありますが、埋もれていて探しにくいので、別ページに分離して https://github.com/rubima/rubima/wiki の 編集者向け のところに追加する。

[2013-08-29 15:58] znz opened #209 "非公開状態でページを作る方法"
非公開状態でページを作る方法も wiki に書いて https://github.com/rubima/rubima/wiki の 編集者向け のところに追加する。

[2013-08-31 18:29] znz opened #210 "「sqale にアクセスする準備をする」の重複"
- [x] https://github.com/rubima/rubima/wiki/UpgradeHiki と https://github.com/rubima/rubima/wiki/DeploymentForSqale で重複しているのでまとめる。
- [x] https://github.com/rubima/rubima/wiki/Upgradehikiplugin と https://github.com/rubima/rubima/wiki/Upgradehikitheme からもリンクする。
- [x] `unset SSH_AUTH_SOCK` の代わりに `IdentitiesOnly yes` にする。

[2013-09-01 18:06] muryoimpl opened #211 "関西Ruby会議05のレポート"
- [x] 担当を決める
- [x] 記事の概要を頂く
- [x] 目次を頂く
- [x] 記事のアウトラインを頂く
- [x] 編集Wikiのprepに記事ページのリンクを作る
- [x] 記事を頂く
- [x] 頂いた記事を編集Wikiに転載する
- [x] 編集Wikiの記事を編集する
- [x] 編集した記事を確認していただく
- [x] 編集MLに作者からの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける

[2013-09-12 03:31] gunjisatoshi opened #212 "0044 号の編集後記"
お題はやっぱり「9」ですかねえ。

もしくは2020年東京オリンピックにかけて「ごりんと言えば」とか。

[2013-09-23 14:22] #205 closed, assigned to nobody

[2013-09-26 03:55] gunjisatoshi opened #213 "0044 号をリリースする"
- [ ] 各記事の担当者に担当記事がリリースできる状態になっているか確認する
- [ ] リリースできないと判断した記事を表紙から落とす
- [x] るびま編集コミュニティ全員に 0044 号全体のプルーフリーディングのお願いをする ( https://github.com/rubima/rubima/issues/214 )
- [x] るびま編集コミュニティ全員に編集後記の記載を促す ( https://github.com/rubima/rubima/issues/212 )
- [x] RubyEventCheck の更新をする
- [x] リリースの時刻を決める
- [x] 旧編集Wikiでリハーサルする (SideMenuとか目次ページとかの表示を確認する)
- [x] リリース時刻にリリース作業をする (各記事のauthを外し、各号目次、分野別目次、SideMenuおよび表

[2013-09-26 04:17] gunjisatoshi opened #214 "0044 号のリリースまで、可能な限りプルーフリーディングする"
自分の担当記事以外の記事も可能な限り読んでクロスチェックをお願いします。

参考: https://github.com/rubima/rubima/issues/199

[2013-09-29 00:02] #184 closed, assigned to gunjisatoshi

[2013-09-29 11:33] sunaot opened #216 "未公開記事が分野別目次に載ってしまう"
ML の松田さんの指摘を転載。

気づいてなかったけど、問題ですね。。。
まだ見てないけど、直すの少し面倒そう。

[2013-09-29 11:36] sunaot opened #217 "未公開記事をログイン前に開くと注釈が見えている"
ML での松田さんの指摘を転載。

注釈。。。
#216 との合わせ技でページにも気づけるのですね。

[2013-09-29 12:50] #204 closed, assigned to gunjisatoshi

[2013-09-30 14:34] #192 closed, assigned to gunjisatoshi

[2013-09-30 14:35] #214 closed, assigned to nobody

[2013-09-30 14:36] #212 closed, assigned to nobody

[2013-09-30 14:37] #202 closed, assigned to takahashim

[2013-09-30 14:38] #201 closed, assigned to gunjisatoshi

[2013-09-30 14:38] #189 closed, assigned to ore-public

[2013-09-30 14:41] #175 closed, assigned to nobody

[2013-09-30 14:42] #65 closed, assigned to zonuexe

[2013-09-30 15:21] oshow opened #218 "ページ内リンクを踏むと飛び先の位置より上が欠けてしまう"
例えば

http://magazine.rubyist.net/?0044-FluentdV11NewFeatures

の記事の目次をどれかクリックしてその項目に飛ぶと、その項目より上が消えてしまう。{{fn()}}による注釈をクリックした場合でも同じ現象が発生しました。

以前はこうではなかったと思うのですが、どのタイミングからこうなっていたのでしょうか。

[2013-10-01 11:07] #203 closed, assigned to nobody

[2013-10-01 11:11] #115 closed, assigned to hokkai7go

[2013-10-01 11:13] #183 closed, assigned to miyohide

[2013-10-01 14:11] #218 closed, assigned to nobody

[2013-10-03 00:25] gunjisatoshi opened #219 "0044 号のふりかえりをする"
参考: https://github.com/rubima/rubima/issues/205
# Keep
- みんな自主的に動いてた。素晴らしい！　進行役としてみると、大変ありがたい話です。
# Problem
- みんなが自主的に動くのに任せすぎて、個別の状況をあんまり見てなかったので、進行役的にはフォローが足りなかったかなあ、という点が反省点です。まあ過干渉も良くないので、さじ加減が難しいですね。
- リリース日程が守れなかったこと。早め早めに動かないといけませんねえ。
# Try
- デイリースクラムっぽい何かを定期的にやったほうがいいかもしれない。たとえば各担当者が週一回、「先週やったこと」「今週やること」「困っていること」を自分の担当 Issue に書くとか。まあこれも強制するのもあれなので、まず自分からやってみますかねえ。

[2013-10-03 00:27] #213 closed, assigned to gunjisatoshi

[2013-10-03 03:40] hsbt opened #220 "あんちぽさんの「入門puppet」の記事のダイジェスト版をるびまに掲載する"
@kentaro と話して、入門puppet の1-3章くらいの適当な分量を公開して続きが気になる人は〜というのはどうかという話をしました。

http://www.amazon.co.jp/dp/B00CL92JC0
- [x] @hsbt が編集 Wiki に記事を書く
- [x] 編集した記事を @kentaro に確認してもらう
- [x] @hsbt と @kentaro 以外の編集部の誰かに確認してもらう
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] @kentaro にありがとうありがとうと伝える

[2013-10-04 04:32] gunjisatoshi opened #221 "0045 号の進行役を決める"
ちなみに、
- 0044 号は @gunjisatoshi が進行役でした ( RubiMa-editors:6714 に続くスレッド参照 )。
- 0043 号は @oshow さん https://github.com/rubima/rubima/issues/168
- 0042 号は 最初 @gunjisatoshi がやろうとしたけど https://github.com/rubima/rubima/issues/37 忙しくなって @sunaot さんに途中交代 https://github.com/rubima/rubima/issues/84#issuecomment-16023618
- 0041 号は @takkanm さん ( prep-0041 より)

という感じです。やってみたい、という方は手を上げてください！

[2013-10-08 11:53] gunjisatoshi opened #222 "RubyConf 2013 レポート"
@hokkai7go がレポートを書きたいという話があるようなので Issue にしておきますね :smiley:

個人的にも旅行記は書こうと思ってます。
- [x] @hokkai7go が編集 Wiki に記事を書く
- [x] 記事を編集部の誰かに確認してもらう
- [x] @hokkai7go がレビュー対応する
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける

[2013-10-08 12:00] gunjisatoshi opened #223 "Rubyist Hotlinks 大場さん夫妻 後編"
- [x] 担当を決める
- [x] テープ起こしをする
- [x] 編集Wikiに記事ページを作る
- [x] 編集Wikiの記事を編集する
- [x] 編集した記事をインタビュイーに確認してもらう
- [x] 編集MLにインタビュイーの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] インタビュイーにお礼のメールを出す

see https://github.com/rubima/rubima/issues/191 https://github.com/rubima/rubima/issues/192

[2013-10-10 03:58] sunaot opened #224 "vagrant+chef で運用の記事"
vagrant+chef について、紹介よりもどう運用するかというほうによった記事を @SpringMT さんが書いてくれることになりました。ひとまず 45 号予定。

執筆者：@SpringMT さん
　担当： @sunaot
- [x] 掲載号を決める
- [x] 担当を決める
- [x] 概要の受領
- [x] 目次アウトラインの受領
- [x] 記事の受領
- [x] Wiki に転載する
- [x] 校正作業
- [x] 校正済記事の執筆者レビュー
- [x] 編集 ML に記事の完了連絡
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] 執筆者への御礼連絡

[2013-10-12 23:08] #191 closed, assigned to nobody

[2013-10-13 10:21] #219 closed, assigned to nobody

[2013-10-13 10:30] #207 closed, assigned to nobody

[2013-10-13 10:31] #166 closed, assigned to oshow

[2013-10-20 14:55] hokkai7go opened #225 "0045号掲載記事をまとめる"
いけそうなやつ
- #223 Rubyist Hotlinks 大場さん夫妻 後編
- #229 RubyWorld Conference 2013 参加レポート
- #224 vagrant+chef で運用の記事
- #222 RubyConf 2013 レポート
- #220 入門 Puppet ダイジェスト
- #211 関西Ruby会議05のレポート
- #231 とちぎRuby会議05レポート

掲載号不明からもいくつか
- #171 RubyKaigi2013を支えたネットワーク技術についての記事
- ストックから? #20 #66

[2013-10-20 18:30] sunaot opened #226 "今後のリリース予定どうしましょうね？"
12 月に 0045 号が予定されていますが、その後のリリース予定はとくに決まっていません。どうしましょうね？

気にしたほうがいいイベントなどありましたっけ？
来年 9 月は 10 周年ですね！っていうのが一番大きなイベントかなあ。

[2013-10-21 00:04] #221 closed, assigned to nobody

[2013-10-21 04:03] hokkai7go opened #227 "0045号のリリース時期を決める"
#226 での話に関係しますが、

「今年のクリスマスに Ruby 2.1.0 リリース」

るびまリリースは、Rubyのリリース前は避けたほうがいいんですかねぇ？
しかし、Ruby リリースを避けると 年末のど真ん中にるびまリリースをすることになってしまうので避けたい。

ですので、12/20 リリース目標くらいかなぁと考えています。
みなさん、ご意見聞かせて下さい。

リリース時期の案作ってみました
- 記事申し込み・概要締め切り: 11/11(月) => RubyConf の後に設定
- 記事の目次、アウトライン締め切り: 11/23(土)
- 記事の締め切り: 11/30(土)
- 校正完了、リリース: 12/21(土)
#201 を参考にスケジュール立ててみました。日曜日じゃなくても大丈夫ですよね？

[2013-10-21 12:11] hokkai7go opened #228 "0045号をリリースする"
- [x] 各記事の担当者に担当記事がリリースできる状態になっているか確認する
- [x] リリースできないと判断した記事を表紙から落とす
- [x] るびま編集コミュニティ全員に 0045 号全体のプルーフリーディングのお願いをする
- [x] るびま編集コミュニティ全員に編集後記の記載を促す
- [x] リリースの時刻を決める
- [x] 旧編集Wikiでリハーサルする (SideMenuとか目次ページとかの表示を確認する)
- [x] リリース時刻にリリース作業をする (各記事のauthを外し、各号目次、分野別目次、SideMenuおよび表紙を更新する)
- [x] 「ログアウトした状態ですべての記事が正常に見られること」の確認
- [x] リリースした旨を日本Rubyの会 ML と ruby-list に告知する
- [x] https://github.com/ruby-no-k

[2013-10-23 12:52] miyohide opened #229 "RubyWorld Conference 2013のレポート"
11月21日〜22日にかけて、島根県松江市にてRubyWorld Conference 2013が開催されます。
http://www.rubyworld-conf.org/ja/

ちょっと検索したところ、過去にRubyWorld Conferenceの参加レポートがるびまに載ったことは無いようなので不安なのですが、せっかくるびま編集に携わっていることもあることから記事を書いてみようかと思います。

と、とりあえず勢いだけでIssueを上げてみました。
- [x] 掲載号を決める
- [x] 担当を決める
- [x] 概要の受領
- [x] 目次アウトラインの受領
- [x] 記事の受領
- [x] Wiki に転載する
- [x] 校正作業
- [x] 校正済記事の執筆者レビュー
- [x] 編集 ML に記事の完了連絡
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける

[2013-10-29 05:49] #109 closed, assigned to sunaot

[2013-10-29 11:58] #210 closed, assigned to nobody

[2013-11-01 06:56] gunjisatoshi opened #230 "Rails と Backbone.js に関する記事"
- [x] 掲載号を決める
- [x] 担当を決める
- [x] @joker1007 さんから概要をいただく
- [x] @joker1007 さんから目次をいただく
- [x] @joker1007 さんから記事をいただく
- [x] いただいた記事を編集 Wiki に転載する
- [x] 編集 Wiki の記事を編集する
- [x] 編集した記事を @joker1007 さんに確認していただく
- [x] 編集 ML に @joker1007 さんからの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [ ] @joker1007 さんにお礼のメールを出す

執筆者： @joker1007

see https://github.com/rubima/rubima-support/issues/12

[2013-11-10 18:37] hokkai7go opened #231 "とちぎRuby会議05レポート"
レポート執筆者の中内さんから、レポートを HTML でいただきました。
45号に掲載できそうです。自分が編集担当します。
- [x] 掲載号を決める
- [x] 担当を決める
- [x] 概要の受領
- [x] 目次アウトラインの受領
- [x] 記事の受領
- [x] Wiki に転載する
- [x] 校正作業
- [x] 校正済記事の執筆者レビュー
- [x] 編集 ML に記事の完了連絡
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] 執筆者への御礼連絡

[2013-11-11 20:13] #226 closed, assigned to nobody

[2013-11-13 12:59] #198 closed, assigned to nobody

[2013-11-13 13:12] gunjisatoshi opened #232 "Rubyist インタビュー特別編 小崎資広さん（前編）"
- [x] 担当を決める
- [x] テープ起こしを手伝ってくれる人を探す
- [x] テープ起こしをする
- [x] 編集Wikiに記事ページを作る
- [x] 編集Wikiの記事を編集する
- [x] 編集した記事をインタビュイーに確認してもらう
- [ ] 編集MLにインタビュイーの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [ ] インタビュイーにお礼のメールを出す

現在ボストン近郊に在住の小崎さん ( @kosaki ) が RubyConf 2013 にいらしてたので、せっかくなので @shyouhei さん + 野次馬数名でインタビューを実施したのでした。

いつもの Hotlinks とは別枠のインタビュー記事になるかと思いますが、基本的には Hotlinks と同様のプロセスで記事にするのかなぁと思っています。とりあえず

[2013-11-26 11:01] hokkai7go opened #233 "0045 号 巻頭言"
@takahashim 巻頭言、いつもありがとうございます！

0045 号の発行予定は現在のところ 12/21(土) となっております ( https://github.com/rubima/rubima/issues/227 )。毎度すみませんが、だいたい発行の 1 週間前くらいまでに 0045 の巻頭言を頂けると幸いです。

それでは、よろしくお願いいたします :ramen:

[2013-11-26 11:02] hokkai7go opened #234 "0045 号の表紙をつくる"
記事の順番はhttps://github.com/rubima/rubima/issues/153#issuecomment-18564037 によると
1. 巻頭言
2. Hotlinks
3. 単発記事
4. 連載記事

[2013-12-09 02:52] sekaiya opened #235 "【提案】rubimaのデザインを今っぽくしたい"
いつも魅力的な記事をありがとうございます。
より魅力的なrubimaにするために、ぜひ以下を提案させてください。

■背景
rubimaのデザインは白黒を基調としており、2010年代風というよりは、
00年代のデザインといった感じで、すこし時代を感じさせるものとなっている。

■提案内容
・文字や背景の「黒」を灰色に変更することで、明度差を和らげ見易さを向上させる
・赤基調のデザインと調和するよう、リンクの色を赤調に変更する

■具体案
以下スクリーンショット１～５を提案させていただきます。
（１）タイトルを黒から灰色に。
（２）ボーダーラインを黒から灰色に。
（３）文字抜き枠を黒から灰色に。
（４）リンク（visited）を黒い赤に。
（５）リンク（not visited）を明るい赤に。

■備考
見た目が洗練されると、より多くの人が親しみを感じられると考えます。
CSSの文字色をいじっ

[2013-12-10 00:50] hsbt opened #236 "rubima lint をリポジトリに入れて、編集のチェックフローに組み込む"
https://gist.github.com/znz/819651e1995428557d84

というスクリプトを使って校正しているという話を聞いたので、みんなで使うと良いと思いました。

@znz このリポジトリに入れてもいいですか?

[2013-12-10 02:38] #236 closed, assigned to nobody

[2013-12-13 02:45] znz opened #238 "ページ新規作成時に auth を自動で付けたい"
新規作成時にキーワードに `auth` を付け忘れることが多いようなので、自動で付くように出来ると良いのではないかと思いました。

[2013-12-16 07:34] sekaiya opened #239 "【提案】インタビューをより良くしたい。「議事録」ではないインタビュー"
るびま のみなさま、いつもお世話になっています。
るびま の１ファン、小林せかいです。
このたび「るびま」をさらに良くするため、以下を提案させてください。

■内容
インタビュー記事の編集について

■詳細
自分は基本的に本や記事は丁寧に読む性分なのですが、
インタビュー記事だけは長すぎて、目が滑ることがあります。
こういったことは早々ないので、普通だと最後まで読み切るのが難しいのでは、、と思っています。

自分が提案したいのはただの内容の省略ではなく、
インタビュイーのピントはどこにあるのかを意識したインタビュー・編集です。
読みやすく、インタビュイーの思いが伝わるような記事に一層近づけば、
多くの方にも目を通してもらえると考えます。

例えば以下のようなポイントについて、より良くするチャンスがあるかと思っています。
・多分な会話調（短すぎるやり取りが続くため注意力がそがれる）（例No1

[2013-12-17 12:46] sunaot opened #241 "編集新規参加者向けに Welcome メールが届いてないなら送られるように明文化しておきたい"
Aasakusa.rb での流れを見て、そういえばるびまもようこそメールがあったんだよなと思い出したのですが、最近参加された方って送られてますでしょうか？

私は自分が誘った人には自分で送っていたのですが、そうではない方には送っていませんでした。この機会にこれも明文化しておいたほうがよさそうだなーと思ってます。
(少し前にえむ。さんから、join したら軽い自己紹介送ってねみたいな話もあったので、その辺も含めて書いておけるとよさそう)

ようこそメールのテンプレート
http://magazine.rubyist.net/?pre-HowtoJoinTemplate

関係しそうなものとしては、

編集の指針
http://magazine.rubyist.net/?pre-EditingPolicy

執筆者へのhikiの説明
http://magazine.rubyist.net/?p

[2013-12-19 00:44] #227 closed, assigned to hokkai7go

[2013-12-19 00:50] #225 closed, assigned to hokkai7go

[2013-12-21 02:00] hokkai7go opened #242 "0045 号の編集後記"
ネタは、「寒さといえば」にします。

[2013-12-21 03:29] sekaiya opened #243 "【デザインバグ】リンクが青字で表示される"
■内容
#235 を受け

https://github.com/rubima/hiki-theme/pull/5　
にてCSS改修を行ったが一部のページに新デザインが適応されていない

■対応予定
CSS再改修？

■詳細
以下のタイトルリンクは赤色で表示される（期待通り）
http://magazine.rubyist.net/?0045-SetupDevelopmentEnvWIthVagrantAndChefSolo

以下のタイトルリンクは青色のまま
http://magazine.rubyist.net/?0045-PuppetBook

[2013-12-21 11:23] #242 closed, assigned to nobody

[2013-12-21 11:23] #234 closed, assigned to hokkai7go

[2013-12-21 12:09] #228 closed, assigned to hokkai7go

[2013-12-21 12:13] #211 closed, assigned to oshow

[2013-12-21 12:37] #223 closed, assigned to nobody

[2013-12-21 12:43] #233 closed, assigned to takahashim

[2013-12-21 12:44] #231 closed, assigned to nobody

[2013-12-21 12:45] #222 closed, assigned to nobody

[2013-12-22 06:13] #229 closed, assigned to nobody

[2013-12-23 07:00] oshow opened #244 "0046号掲載記事をまとめる"
記事まとめ Issue だけ立てておきます。
忘年会～新年会でついでに執筆者探しをするのもいいのではないかと思います！

掲載号未定で Issue が存在する記事↓
- #232 Rubyist インタビュー特別編 小崎資広さん
- #230 Rails と Backbone.js に関する記事
- #171 RubyKaigi2013を支えたネットワーク技術についての記事
- ストック #20 #66

[2013-12-23 07:05] #220 closed, assigned to hsbt

[2013-12-24 01:26] #224 closed, assigned to nobody

[2013-12-24 04:26] #243 closed, assigned to nobody

[2013-12-24 06:29] znz opened #245 "rubima-lint.rb に `{{toc}}` チェックを入れる"
`{{toc}}` が使われていたら `{{toc_here}}` を推奨する。

参考: https://github.com/rubima/rubima/issues/243

[2013-12-24 11:11] sekaiya opened #246 "インタビュー（小崎資広さん）のテープ起こしを募集する"
今回も４時間ほど、かなり長いインタビューとなります。
テープ起こしを手伝ってくださる方を探しています。

■今回の試み
https://github.com/rubima/rubima/issues/232
にある通り、
- テープ内容を一語一句書き留める方法
- 内容を適宜まとめて編集しながら起こす方法

どちらでも作業頂けます。
テープ起こしは単純な割に大変な作業…と思っている方も、チャレンジしがいがあるかと思います。

どうぞよろしくお願いします。ご不明点ありましたらご指摘ください。

[2014-01-06 23:53] gunjisatoshi opened #247 "0046 号の進行役を決める"
そろそろ次の号の進行役を決めましょうか。参考までに直近 5 号の進行役は下記です。
- 0045 号は @hokkai7go さん https://github.com/rubima/rubima/issues/221
- 0044 号は @gunjisatoshi ( RubiMa-editors:6714 に続くスレッド参照 )。
- 0043 号は @oshow さん https://github.com/rubima/rubima/issues/168
- 0042 号は 最初 @gunjisatoshi がやろうとしたけど https://github.com/rubima/rubima/issues/37 忙しくなって @sunaot さんに途中交代 https://github.com/rubima/rubima/issues/84#issuecomment-16023618

[2014-01-07 00:32] gunjisatoshi opened #248 "0045 号のふりかえりをする"
参考: https://github.com/rubima/rubima/issues/219 https://github.com/rubima/rubima/issues/205

0045 号のふりかえりのための Issue です。良かったこと (Keep)、うまくいかなかったこと (Problem)、次にチャレンジしたいこと (Try) を記載ください。記載の参考として私の KPT を以下に書いてみます。
# Keep
- 継続して進行役 ( https://github.com/rubima/rubima/issues/221 ) を毎回新しい人がやってくれていること ( @hokkai7go さんおつかれさまでした！ )
- リリース日程通りにリリースできたこと ( https://github.com/rubima/rubima/issues/228 )
# Problem

[2014-01-23 02:19] sunaot opened #249 "今の時点で記事集めないと 46 号出ないんじゃないかな疑惑"
#244 見ながら気になりまして、このままだと出そうにも記事がないのではないかという気がしてます (もしくはストックが効果を発揮して出るのかも)。

たなべは今以前声をかけさせていただいた方お一人へ正式に打診中なのですが、他の方はどんな様子でしょうか？

[2014-01-24 04:15] sunaot opened #250 "Milkode 記事"
ongaeshi さんに Milkode についての記事をお願いしてみました。
記事のテーマなどもこれから決める形になります。
紹介記事はすでに「[rroongaを使ったソースコード検索エンジンMilkode](http://gihyo.jp/dev/clip/01/groonga/0004)」があるので、内部実装につっこんだ技術記事というのもおもしろいかもしれません。
ご都合しだいですが、ひとまず 0046 号で打診します。

[2014-01-24 08:18] zunda opened #251 "編集しているうちにHikiのログイン状態がタイムアウトしちゃうことがある"
るびまWikiにログインしてページの編集をして、何十分かあとにやっと保存を押すと、「エラー」と返されることがあります。その場合はログインしなおして同じページの編集を再開して、さっきの編集結果をペーストすると回避できるのですが、できればエラー無しで編集を保存できるとうれしいですよね。

[2014-01-28 10:55] #247 closed, assigned to nobody

[2014-01-28 11:05] gunjisatoshi opened #252 "0046号のリリース時期を決める"
とりあえず仮置きします。今週中くらいには決めてしまいたいので、問題あればコメントください！
- 記事申し込み・概要締め切り
  - 2/23 (日) → 2/16 (日) に変更 https://github.com/rubima/rubima/issues/252#issuecomment-33918775
- 記事の目次、アウトライン締め切り
  - 3/2 (日)
- 記事の締め切り
  - 3/9 (日)
- 校正完了、リリース
  - 3/30 (日) → 4/3(木) に延期 see https://github.com/rubima/rubima/issues/274#issuecomment-39155527

参考: https://github.com/rubima/rubima/issues/227

[2014-01-28 11:08] #248 closed, assigned to nobody

[2014-01-29 06:26] sunaot opened #253 "初心者向けクラスメソッドの定義の仕方記事"
たまたま gist に書いたのですが、46 号の記事が少ない && いまさらな内容と言われないのであれば体裁整えて記事にしてみます。短いですけどね。

https://gist.github.com/sunaot/8682795

[2014-02-05 00:49] niku opened #254 "札幌市中央区Ruby会議01記事"
こんにちは．
2/8 に行なわれる札幌市中央区Ruby会議の方から来ました．
開催後レポートの Issue を登録しておきます．

担当はやりたい方がいらっしゃらなければ私がなろうと思います．
よろしくお願いします．
- [x] 掲載号を決める
- [x] 担当を決める
- [x] 概要の受領
- [x] 目次アウトラインの受領
- [x] 記事の受領
- [x] Wiki に転載する
- [x] 校正作業
- [x] 校正済記事の執筆者レビュー
- [x] 編集 ML に記事の完了連絡
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] 執筆者への御礼連絡

[2014-02-05 23:57] #252 closed, assigned to nobody

[2014-02-06 12:10] #245 closed, assigned to nobody

[2014-02-06 12:11] #209 closed, assigned to nobody

[2014-02-06 12:12] #208 closed, assigned to nobody

[2014-02-06 12:15] #241 closed, assigned to nobody

[2014-02-07 10:31] sunaot opened #256 "randexp-multibyte gem の話"
@deme0607 が [randexp-multibyte gem](https://github.com/deme0607/randexp-multibyte) の話を書いてくれることになりました。
gem の紹介とその開発の経緯やらの話となるようです。
担当編集募集中。

今号のスケジュール
- #252

進行
- [x] 担当を決める
- [x] 作者から概要をもらう
- [x] 作者から目次アウトラインをもらう
- [x] 作者から記事をもらう
- [x] もらった記事を編集Wikiに転載する
- [x] 編集Wikiの記事を校正する
- [x] 編集した記事を作者に確認してもらう
- [x] 編集MLに作者からの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] 作者にお礼を伝える

[2014-02-15 22:11] #249 closed, assigned to nobody

[2014-02-15 22:30] gunjisatoshi opened #257 "0046 号 巻頭言"
@takahashim 毎号すばらしい巻頭言をご執筆いただき、ありがとうございます！

0046 号の発行予定は現在のところ 3/30 (日) となっております。 https://github.com/rubima/rubima/issues/252

お忙しいところ恐縮ですが、発行の 1 週間前頃までに巻頭言の原稿を頂けると幸いです。

それでは、よろしくお願いいたします :bow:

[2014-02-15 22:35] gunjisatoshi opened #258 "0046 号の表紙をつくる"
本日が 0046 号の記事申し込み・概要締め切りとなっています。 https://github.com/rubima/rubima/issues/252
掲載記事については https://github.com/rubima/rubima/issues/244 で議論していますので、こちらがまとまり次第、表紙を作りたいと思います。

[2014-02-15 22:46] gunjisatoshi opened #259 "0046 号各記事の担当編集を決める"
いままでの号では自主性にまかせて担当編集を強制的にアサインすることはしていませんでしたが、そうすると記事を取ってきた人がそのままなし崩し的に担当編集になるというのが半ば常態化しているような気がします。

なかなか「手伝って！」というのは言い出しづらいのもありますが、担当編集のアサイン方法として何かいい方法があればご意見ください！

[2014-02-17 06:08] #235 closed, assigned to nobody

[2014-02-17 06:12] #122 closed, assigned to sunaot

[2014-02-18 12:03] #258 closed, assigned to nobody

[2014-02-19 09:19] #244 closed, assigned to nobody

[2014-02-19 10:01] #62 closed, assigned to nobody

[2014-02-19 10:32] #206 closed, assigned to nobody

[2014-02-20 16:26] #86 closed, assigned to hsbt

[2014-02-21 15:28] hokkai7go opened #260 "RubyConfTaiwan2014に行って発表してきましたという記事を鳥井さんに書いてもらう"
@yakitorii さんに、掲題の件をお願いしてみたところ快諾頂けましたので、issue登録しておきます。

進行
- [x] 担当を決める
- [x] 作者から概要をもらう
- [x] 作者から目次アウトラインをもらう
- [x] 作者から記事をもらう
- [x] もらった記事を編集Wikiに転載する
- [x] 編集Wikiの記事を校正する
- [x] 編集した記事を作者に確認してもらう
- [x] 編集MLに作者からの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] 作者にお礼を伝える

[2014-02-26 06:04] gunjisatoshi opened #261 "読者プレゼント"
@yhara さんより「Ruby で作る奇妙なプログラミング言語 第二版」を 1 冊ご提供いただける、というお話をいただいております（ありがとうございます！）。

今後の進め方および担当者アサイン等未定ですが、取り急ぎ Issue としておきます。
（読者プレゼントに関するフローは下記参照）
https://github.com/rubima/rubima/wiki/PresentRecruitmentProcess

なお、時期的にいいタイミングなので　0046 号をターゲットとしたいと考えています。
- [x] プレゼントページ
- [x] 応募フォーム
- [x] 締切 (4/30) 後の抽選
- [x] 発送の依頼 (今回は方法要相談＆検討)

[2014-02-26 09:34] #95 closed, assigned to nobody

[2014-02-26 09:36] #125 closed, assigned to gunjisatoshi

[2014-02-27 05:28] sunaot opened #262 "burn の紹介記事"
@remore さんに [8-bit 風ゲームをつくるフレームワーク burn](https://github.com/remore/burn) の紹介記事を書いてもらえることになったので、やりとり用に記事 issue 立てます。
~~掲載は 47 号以降となりそうですが、担当編集募集中です。~~ 記事をいただいたので、掲載 47 号にします。

掲載号のスケジュール
- #279

進行
- [x] 担当を決める
- [x] 作者から概要をもらう
- [x] 作者から目次アウトラインをもらう
- [x] 作者から記事をもらう
- [x] もらった記事を編集Wikiに転載する
- [x] 編集Wikiの記事を校正する
- [x] 編集した記事を作者に確認してもらう
- [ ] 編集MLに作者からの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
-

[2014-03-03 06:21] takahashim opened #263 "サーバの更新手続き"
Rubyの会の方から来ました。

今月末でサーバ(Sqale)の契約が切れるので、それまで更新手続きを行う必要があります。

特に異論がなければこのまま継続したいのですが問題ないでしょうか？

[2014-03-03 13:31] #259 closed, assigned to nobody

[2014-03-07 03:08] gunjisatoshi opened #264 "RubyConf Taiwan 2014 でるびまのアピールをする"
4/25(Fri) 16:45～17:10 で何かしゃべってきます。 http://rubyconf.tw/2014/

[2014-03-08 11:09] miyohide opened #265 "RubyConf Indiaに行ってきましたという記事を @igrep さんに書いてもらう"
3/22 - 23 に開催される RubyConf India に参加される @igrep さんに記事を書いてもらえないかお願いしたところ快諾していただけましたので、Issueとして載っけておきます。

[2014-03-09 23:29] gunjisatoshi opened #266 "0046 号の記事の締め切り日を過ぎたので進捗どうですか"
昨日が締切日でした。 https://github.com/rubima/rubima/issues/252

各記事担当の皆様 https://github.com/rubima/rubima/issues/259#issuecomment-35480062 進捗どうですか？

[2014-03-12 14:52] ore-public opened #268 "first-step-rubyの内容を更新する"
ちょっと内容が古い部分があるので更新します。

https://github.com/rubima/rubima/issues/134
を読んだところ、github上のfirst-step-ruby-2.0.mdがマスターの方針のようなので、ここで更新する。

[2014-03-16 19:55] sunaot opened #270 "権限管理の gem pundit の記事"
nekogeruge の人 ( @onigra ) が権限管理 gem の pundit について記事を書いてくれると言っていたので issue 立てておきます。担当編集募集中。
(ぐぐってみると、なにやら @znz さんも使われたことがあるぽいですね)

[2014-03-18 05:15] #263 closed, assigned to nobody

[2014-03-24 13:25] gunjisatoshi opened #272 "0046 号 編集後記"
お題「期末」で編集後記のページを作りました。

編集各位、3/30(日) のリリースまでに記載をお願いします！

[2014-03-24 13:30] gunjisatoshi opened #273 "るびまアクセスランキング Vol.46"
@hsbt 備忘録的に Issue 起こしておきますが、今回もお願いしてしまってよろしいでしょうか？

[2014-03-25 11:33] gunjisatoshi opened #274 "0046号をリリースする"
- [x] るびま編集コミュニティ全員に 0046 号全体のプルーフリーディングのお願いをする see [RubiMa-editors:6763]
- [x] るびま編集コミュニティ全員に編集後記の記載を促す see https://github.com/rubima/rubima/issues/272
- [x] リリースの時刻を決める 3/30(Sun) 22:00 see https://github.com/rubima/rubima/issues/274#issuecomment-38887273 → 4/3(Thu) 22:00 に延期となりました see https://github.com/rubima/rubima/issues/274#issuecomment-39155527
- [x] 各記事の担当者に担当記事がリリースできる状態になっているか確認する
- [x]

[2014-03-31 23:55] gunjisatoshi opened #275 "0046 号 プルーフリーディング"
[RubiMa-editors:6763] でもアナウンスしましたが、Issue にも起こしておきます。

https://github.com/rubima/rubima/issues/257#issuecomment-39109743 にて 0046 号のリリース目標日時を 4/3(Thu) 22:00 にセットしました。それまで可能な限り全体に目を通して誤字脱字の修正および改善提案があれば著者・担当編集者に伝える等の活動をお願いします！

[2014-04-05 01:45] #256 closed, assigned to miyohide

[2014-04-05 02:57] #230 closed, assigned to hokkai7go

[2014-04-06 04:06] #253 closed, assigned to niku

[2014-04-06 09:47] #275 closed, assigned to nobody

[2014-04-06 09:49] #272 closed, assigned to nobody

[2014-04-06 09:51] #266 closed, assigned to nobody

[2014-04-06 09:54] #257 closed, assigned to takahashim

[2014-04-06 09:57] #250 closed, assigned to zonuexe

[2014-04-06 09:59] #232 closed, assigned to gunjisatoshi

[2014-04-06 10:01] #268 closed, assigned to ore-public

[2014-04-06 14:35] #274 closed, assigned to gunjisatoshi

[2014-04-08 15:42] hanachin opened #276 "沖縄Ruby会議01レポート記事"
[沖縄Ruby会議01](http://regional.rubykaigi.org/okrk01/)のレポート記事を、[okinawarb/rubima](https://github.com/okinawarb/rubima)で書いています。

るびまに掲載させていただきたいのですが、
掲載号や原稿の受け渡しについて、相談させて頂きたく、issueたてました。
現状、どう原稿を受け渡すべきか / 掲載号はいつか / その他必要事項は何か などがわかっていないため、教えていただけるとありがたいです :hibiscus:

[2014-04-09 00:45] gunjisatoshi opened #277 "0046 号のふりかえりをする"
参考: https://github.com/rubima/rubima/issues/248 https://github.com/rubima/rubima/issues/219 https://github.com/rubima/rubima/issues/205

0046 号のふりかえりのための Issue です。良かったこと (Keep)、うまくいかなかったこと (Problem)、次にチャレンジしたいこと (Try) を記載ください。記載の参考として私の KPT を以下に書いてみます。
# Keep
- 担当編集がばらけたので、特定の人に負担がかかるという事態は防げたんじゃないでしょうか ( https://github.com/rubima/rubima/issues/259 )
- 進行役が風邪で倒れても無事リリースされた ( @sunaot さんありがとうございます！

[2014-04-09 00:55] gunjisatoshi opened #278 "0047 号の進行役を決める"
次の号の進行役を決めるための Issue です。参考までに直近 5 号の進行役は下記です。
- 0046 号は @gunjisatoshi https://github.com/rubima/rubima/issues/247
- 0045 号は @hokkai7go さん https://github.com/rubima/rubima/issues/221
- 0044 号は @gunjisatoshi ( [RubiMa-editors:6714] に続くスレッド参照 )。
- 0043 号は @oshow さん https://github.com/rubima/rubima/issues/168
- 0042 号は 最初 @gunjisatoshi がやろうとしたけど https://github.com/rubima/rubima/issues/37 忙しくなって @sunao

[2014-04-27 15:18] #264 closed, assigned to nobody

[2014-05-11 13:04] sunaot opened #279 "0047 号スケジュール"
- 5/18 (日) 記事申込、概要の締切
- 6/1 (日) 記事の目次、アウトライン締切
- 6/15 (日) 記事の締切
- 6/29 (日) 校正完了、リリース

[2014-05-11 13:05] #278 closed, assigned to nobody

[2014-05-18 05:44] #277 closed, assigned to nobody

[2014-05-18 05:45] #273 closed, assigned to hsbt

[2014-05-19 13:15] #265 closed, assigned to nobody

[2014-06-12 13:07] shyouhei opened #280 "rubykaigiのほうからきましたがるびま10周年なのでrubykaigi何かやりませんかね"
だれとなく

[2014-06-17 11:36] sunaot opened #282 "RubyConf フィリピンの記事"
RubyConf フィリピンの記事を書いてもらえるそう (https://github.com/rubima/rubima/issues/279#issuecomment-44797522) なので、わくわくしながら待機する。

掲載号のスケジュール
- #279

進行
- [x] 担当を決める
- [x] 作者から概要をもらう
- [x] 作者から目次アウトラインをもらう
- [x] 作者から記事をもらう
- [x] もらった記事を編集Wikiに転載する
- [x] 編集Wikiの記事を校正する
- [ ] 編集した記事を作者に確認してもらう
- [ ] 編集MLに作者からの確認が完了した旨を伝える
- [ ] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [ ] 作者にお礼を伝える

[2014-06-21 12:15] miyohide opened #283 "神奈川 Ruby 会議 01 レポート記事"
神奈川 Ruby 会議 01の開催が決まりましたので、レポート作成 issue を起こします。レポート担当は @miyohide です。編集も @miyohide が担当しようと考えています。

開催ですが、2015年1月17日となります。かなり先の話となりますが、よろしくお願いします。

[2014-06-21 18:07] sunaot opened #284 "0047 号巻頭言"
@takahashim

来週 6/29 (日) が 0047 号のリリース予定となっております。
そろそろ巻頭言の準備をよろしくお願いします！

[2014-06-21 18:48] sunaot opened #285 "0047 号 編集後記のお題募集"
編集後記のお題はなににしましょうね？
- 前夜 (10 周年の...)
- 崖っぷち (時事的なことで、サッカーワールドカップの日本代表)
-  ...

[2014-06-24 05:28] #285 closed, assigned to nobody

[2014-06-28 23:10] sunaot opened #286 "アクセスランキング vol47 を誰か..."
アクセスランキングは誰が書けるんでしたっけ？
今も @hsbt さんだけ？

[2014-07-01 12:38] #276 closed, assigned to gunjisatoshi

[2014-07-01 12:44] #262 closed, assigned to gunjisatoshi

[2014-07-01 13:30] #286 closed, assigned to nobody

[2014-07-01 13:33] #270 closed, assigned to nobody

[2014-07-01 13:34] #279 closed, assigned to nobody

[2014-07-01 13:37] #282 closed, assigned to sunaot

[2014-07-01 13:43] #284 closed, assigned to nobody

[2014-07-01 15:15] #260 closed, assigned to hokkai7go

[2014-07-06 09:06] zunda opened #287 "小崎さんインタビュー後編へのリンクが前編に見えてしまっている"
http://magazine.rubyist.net/?0046-SpecialInterviewKosaki の一番下の「Rubyist インタビュー特別編 小崎資広さん 連載一覧」に http://magazine.rubyist.net/?0047-SpecialInterviewKosaki へのリンクが見えてしまっていることに気づきました。

非ログイン状態ではなかみは見えませんがちょっと気持ち悪いです。が、どう対処するのが良いかわからないのでこちらに投げてしまいます。

[2014-07-06 09:14] #287 closed, assigned to nobody

[2014-07-06 09:18] #254 closed, assigned to nobody

[2014-07-06 22:20] gunjisatoshi opened #288 "Rubyist Magazine 編集コミュニティから RubyKaja 2014 を選出する"
see: http://kaja.rubyist.net/2014/about
- [x] 誰にするか決める
- [x] 推薦文を書く
- [x] 応募フォームから応募する

締切は 7/31(木) なので、あと 4 週間弱です。

[2014-07-08 14:13] #261 closed, assigned to sunaot

[2014-07-15 11:53] gunjisatoshi opened #289 "10 週年記念号について考えるスレ"
- いつものお祝いメッセージ記事
- 10 年を振り返る記事
- 歴代編集者が今までを振り返る (お祝いメッセージと一緒でもいい？)
- 記事を書いたことのある人に一言 (お祝いメッセージと一緒でもいい？)
- るびまから本を出した人に一言 (お祝いメッセージと一緒でもいい？)
- RubyKaigi 発表予定者から、発表内容を紹介する内容をひとこと (スピーカー用 ML がある?)
- 特装版 (巻頭言集をepubで有料で出す？)
- etc...

[2014-07-15 12:00] gunjisatoshi opened #290 "48 号 (10 週年記念号) の進行役を決める"
いまさっき Asakusa.rb で @takkanm さんにお願いしました。

[2014-07-15 12:02] #290 closed, assigned to nobody

[2014-07-15 12:03] takkanm opened #291 "48 号(10 周年号)の進行"
## 48 号のたてつけ

10 周年お祝い号にしたい
## 進行

takkanm
## スケジュール予定

7/27 記事の締め切り
8/17 原稿締め切り
9/7 リリース目標
## 今でている予定記事
- 編集の感想とお祝いメッセージ (担当 : @gunjisatoshi )
- 今まで書いた人のふりかえり (担当 : @ko1 )
  - コード添削の感想
- 達人出版会で特装版 (担当 : @hsbt)

[2014-07-15 12:22] gunjisatoshi opened #292 "10 周年のメッセージ募集をする"
- [x] 去年の募集フォームをいじって今年のバージョンを作る
- [ ] いろんなところにメッセージ募集告知する
- [ ] 記事を書く

[2014-07-16 13:55] hsbt opened #293 "巻頭言をまとめた ebook を販売 or 作成する"
高橋さんの巻頭言をまとめた冊子を達人出版会で販売したい。そして巻頭言集の巻頭言をもらう。

@takahashim 第一感触としていかがでしょうか。許可が頂ければ編集等全てやります。

[2014-07-26 00:25] snoozer05 opened #294 "RubyKaigi 2014 での公式レポートについてのスレ"
RubyKaigi 2014 の方から来ました。

実行委員側も（薄い陣形で戦っていることもあって）あまり色んなことに手が回らないということもあり、今年については公式では「るびまレポート班」を編成しないという判断としました。

一方で、カンファレンスの雰囲気などはるびまでレポートできたらいいなという気持ちは去年と同様に持っていて、編集部のみなさんの方で何か良いアイデアがあれば、エクストリームスポーツではない形でレポートを実現できればと思うのですが、何か良いアイデアありますかねえ。

「そういうことならやらない方向で」とか「特にアイデアはなさそう」ということならこのissueは閉じていただいて問題ないです。もしやりようがありそうなら、一緒に考えれるといいなあと思います。

どうぞよろしくお願いいたします。

[2014-07-29 11:41] ko1 opened #295 "10周年記念：あの記事を振り返って"
10周年企画として、「今から振り返るとあの記事って」というのを考えています。
- 編集者として担当した記事
- 執筆者として担当した記事

について、
- エラッタ
- 今から振り返っての感想
- その後どうなったのか

などの内容について、寄稿頂けないかと思います。心当たりの方は、こちらに寄稿、もしくは寄稿予定をお寄せ下さい。

あんまり長くなくてもいいと思いますが（数行くらいを想定）、長い寄稿については、別途ページを用意します。

[2014-07-29 11:52] ko1 opened #296 "DeccanRubyConf （インド）旅行記"
インド行ってきたので旅行記書きます。
http://deccanrubyconf.org/

[2014-08-12 16:10] ko1 opened #297 "backnumber plug-in"
とても残念なことになっています。

[2014-08-12 16:14] ko1 opened #298 "記事の日付"
http://magazine.rubyist.net/?0006-YarvManiacs
がいつの記事だったか知りたくて、日付が出てたよなぁ、と思ったら、

日付は記事の鮮度を見るために大事な情報だと思うので、出して貰えると助かります。
移行するときに日付なくなっちゃった？

[2014-08-12 16:57] #297 closed, assigned to nobody

[2014-08-12 23:56] gunjisatoshi opened #299 "attach_rbがエラーになる"
http://magazine.rubyist.net/?0034-FiberForBeginners

にて、attach_rb を使っているところが軒並みエラーになっています。

[code]

まだ深追いしていないのですが、取り急ぎ Issue にしておきます。

[2014-08-13 01:02] #299 closed, assigned to nobody

[2014-09-04 10:04] yukaina opened #300 "Tokyu Ruby 会議 08 レポート"
TokyuRuby 会議08の開催が決まったので、レポート作成 issue を起こします。
レポート担当は @yukaina です。
開催は2014.11.29(土)です。よろしくお願いします。

[2014-09-21 07:45] tokumasa opened #301 "ルビマの英語版の作成にご協力させてください"
はじめまして。
山下と申します。
現在、麻布十番に所在するIT系のベンチャー企業を運営しているバイリンガルです。（日本語より英語の方が得意です。）
ルビマを今後は英語でも出していき、海外の方々にも情報を共有できればと思い、是非ご協力させてください。
どうぞよろしくお願い申し上げます。

山下

[2014-09-22 13:46] chiastolite opened #302 "渋谷 Ruby 会議 01 レポート"
渋谷 Ruby 会議 01の開催が決まったので、レポート作成 issue を起こします。

レポート担当は @chiastolite です。
開催は2014.11.01(土)です。よろしくお願いします。

[2014-09-25 05:11] muryoimpl opened #303 "49 号の進行役"
をやってみようかと思うのですが、いかがでしょう :sweat_drops:

スケジュールも12月というのはあったかと思いますが、具体的な日程はまだだったような記憶があります。

[2014-09-27 08:42] #292 closed, assigned to nobody

[2014-09-27 08:45] #291 closed, assigned to nobody

[2014-09-27 08:47] #289 closed, assigned to nobody

[2014-09-27 08:52] #288 closed, assigned to nobody

[2014-09-27 08:58] #295 closed, assigned to nobody

[2014-09-27 09:02] #280 closed, assigned to nobody

[2014-10-05 09:30] muryoimpl opened #304 "0049 号スケジュール"
締め切りを **12/14(日)** に設定したいと思います。(関連:  #303 )
- 概要締切: 11/16(日)
- 目次締切: 11/23(日)
- 記事締切: 11/30(日)
- リリース: 12/14(日)

あとで目次ページ作成と、掲載予定記事のまとめしておきます。

現時点掲載予定
- #306 インドのバンガロールの勉強会やカンファレンスに参加された体験記
- #246 小崎さんのインタビュー続編
- #309 @znz さんのRuby 考古学

次号以降に掲載
- @kenchan くんさんに寄稿いただく記事
- 渋谷Ruby会議01 レポート

[2014-10-21 04:32] hokkai7go opened #305 "Rubyist HotlinksのPodcast化について"
以下の内容のメールを、るびま編集者MLに投稿したのですが
Errorになってしまい、投稿できなかったのでissueを立てたいと思います。

[code]

[2014-11-17 12:40] muryoimpl opened #306 "インドのバンガロールの勉強会やカンファレンスに参加された体験記について"
@ctokoro さんからいただいた寄稿オファーについてissue立てました。

こちらで細かいお話ややりとりをさせていただければと思います。よろしくお願いします。

[2014-11-17 12:55] muryoimpl opened #307 "0049号 巻頭言"
@takahashim

かなり早いですが、issue たてさせていただきました。
0049号の詳細スケジュールは、#304 に記載させていただいておりますが、12/14(日)リリース予定となっております。

よろしくお願いいたします。

[2014-11-19 14:13] #303 closed, assigned to nobody

[2014-11-19 14:23] muryoimpl opened #308 "0049 号 記事担当"
@rubima/owners

担当を募集します。
まだ確認中の記事もありますが、現時点で下記の記事が0049号の掲載予定となっています。

0049号掲載予定(チェック済みは担当既に有り)
- [x]  #306 インドのバンガロールの勉強会やカンファレンスに参加された体験記
- [x] #246 小崎さんのインタビュー続編
- [ ] ~~@kenchan くんさんに寄稿いただく記事(本日直接お話ししました)~~ -> 次号に延期
- [x] 西山さんのRuby 考古学

[2014-11-19 14:36] muryoimpl opened #309 "Ruby 考古学 の記事"
@znz さんの RubyKaigi でのトークをるびま向けに hiki にしていただきました。
@znz さん、ありがとうございます。

そのままるびまサイトに書いてOKですが、やりとり用にissue立てました。

[2014-11-24 19:43] sunaot opened #311 "他言語からの訪問：Go"
Go の記事を書いてくれるということだったので、掲載時期未定ですがひとまず記事 issue を立てます。

[2014-12-07 02:58] muryoimpl opened #312 "0049 号 編集後記"
お題「12」で編集後記のページを作りました。

編集各位、12/14(日) のリリースまでに記載をお願いします :bow:

[2014-12-07 03:05] muryoimpl opened #313 "アクセスランキング vol49 を..."
すみません、こちら対応できる方に作成をお願いしたいです。

[2014-12-07 03:23] muryoimpl opened #314 "改名に失敗する"
[Rubyist インタビュー特別編 小崎資広さん 後編](http://magazine.rubyist.net/?0047-SpecialInterviewKosaki) を 0049-...にリネームしようと「改名」リンクをクリックすると以下のエラーメッセージが表示されました。

`undefined method `escapeHTML' for "0047-SpecialInterviewKosaki":String`

ユーザはadminでなく、自分のアカウントで実施しています。

[2014-12-10 20:48] sunaot opened #315 "0048 号読者プレゼントの発送"
@ko1

抽選を終えました。この後発送作業があるのですが、当選者の方の Email アドレスをささださんへ伝えて、当選連絡＆宛先の確認、発送までをお願いしてしまう形で問題ないでしょうか？

[2014-12-15 00:05] #306 closed, assigned to gunjisatoshi

[2014-12-15 07:26] ctokoro opened #316 "49号のバンガロールの記事( #306 )について、記事掲載の申し込みがありました"
クラウドワークスさんから、#306 の記事について掲載したいと連絡がありました。

内容（ざっくり）：
「クラウドワーキングマガジンでご登場いただいた。。。技術者向けバージョンが公開されています」

配信先：
- クラウドワークスユーザー向けメルマガ
- クラウドワークス公式FB

こちらの掲載可否の判断ってどのような感じにすればよいのでしょうか？？

[2014-12-18 16:22] sho-h opened #317 "松江 Ruby 会議 05 レポート"
過去に開催した松江 Ruby 会議 05 のレポートを RegionalRubyKaigi ML に投げていたのですが、その後 Issue ベースになっていた事に気づきましたので(といってもしばらく前ですが...)レポート作成 Issue を起こします。

レポート担当は @sho-h 他数名です。
開催は2014.03.15(土)でした。よろしくお願いします。

(すみません、後で松江 Ruby 会議 06用のIssueも起こす予定です)

[2014-12-18 16:25] sho-h opened #318 "松江 Ruby 会議 06 レポート"
松江 Ruby 会議06を開催するため、レポート作成 Issue を起こします。

レポート担当は @sho-h 他数名です。
開催は2014.12.20(土)です。よろしくお願いします。

[2014-12-19 00:58] gunjisatoshi opened #319 "Bundler と Rubygems.org の改善の話"
[RubiMa-editors:6829] の件です。

Andre Arko さんより、Bundler と Rubygems.org の改善の話 （依存関係インデックスフォーマットの改良、Travis 等から利用される API の改良、CDN の活用など） を記事にしていただけるそうです。

http://andre.arko.net/2013/12/09/extreme-makeover-rubygems-edition/
http://andre.arko.net/2014/03/28/the-new-rubygems-index-format/

1 月 15 日までには原稿をいただけるそうなので、どなたか本記事を担当してみたいという方はいらっしゃいませんでしょうか。
(翻訳はたいへんそうなので、英語記事のまま載せるイメージですかねえ)

[2014-12-22 06:06] gunjisatoshi opened #320 "0050 号の進行役を決める"
次の号の進行役を決めるための Issue です。どなたかやってみたい、という方はいらっしゃいませんか。

参考までに直近 5 号の進行役は下記です。

* 0049 号は @muryoimpl さん https://github.com/rubima/rubima/issues/303
* 0048 号は @takkanm さん https://github.com/rubima/rubima/issues/290
* 0047 号は @sunaot さん https://github.com/rubima/rubima/issues/278
* 0046 号は @gunjisatoshi https://github.com/rubima/rubima/issues/247
* 0045 号は @hokkai7go さん https://github.com/rubima/rubima/

[2014-12-22 06:07] #312 closed, assigned to nobody

[2014-12-22 06:08] #309 closed, assigned to nobody

[2014-12-22 06:11] #308 closed, assigned to nobody

[2014-12-22 06:11] #304 closed, assigned to nobody

[2014-12-22 06:12] #307 closed, assigned to nobody

[2014-12-22 06:42] #313 closed, assigned to nobody

[2014-12-22 06:43] #246 closed, assigned to nobody

[2014-12-22 06:48] #239 closed, assigned to nobody

[2014-12-23 23:41] #171 closed, assigned to gunjisatoshi

[2014-12-25 23:43] gunjisatoshi opened #321 "よちよち.rb イベントレポート"
- [x] るびまWiki のアカウントを作って著者の方にお伝えする
- [x] ページ名を決める ( http://magazine.rubyist.net/?0050-XXXX の XXXX の部分)
- [x] 上記名前で auth つきで空ページをつくる (auth つきだとログインしないと見えない)
- [x] 原稿を受け取る
- [x] 上記で作った空ページにいただいた原稿を転記する
- [x] 転記した記事を著者の方に見ていただき、必要であれば加筆修正いただく
- [x] 表紙からリンクを張る
- [x] リリース時に auth を外して誰でも見える状態にする
- [x] 著者の方に執筆ありがとうとお伝えする

@yucao24hours さんより「よちよち.rb」の「みんなで LT デビューしよう会」レポートのオファーをいただいております。
http://yochiyoch

[2015-01-06 08:37] gunjisatoshi opened #322 "Rubyist Hotlinks 島田浩二さん"
現在、個別に @shyouhei さんが @snoozer05 さんと調整中。備忘録として Issue にしておきます。

- [x] インタビュー日時・場所を決める
- [x] インタビュー協力者を募集する
- [x] 事前にインタビュー項目をお伝えする
- [x] インタビューを実施する
- [x] 担当を決める
- [x] 掲載号を決める
- [x] テープ起こし要員を募集する https://github.com/rubima/rubima/issues/349
- [x] テープ起こしをする
- [x] 編集Wikiに記事ページを作る
- [x] 編集Wikiの記事を編集する
- [x] 編集した記事をインタビュイーに確認してもらう
- [x] 編集MLにインタビュイーの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] インタビ

[2015-01-06 08:39] gunjisatoshi commented on #305
というわけでこちらでは結論が出なそうだったのでいったんクローズします。続きは https://github.com/rubima/rubima/issues/322 にて進め方などご意見いただきたく、よろしくお願いいたします :bow:

[2015-01-06 08:39] #305 closed

[2015-01-08 07:32] kou opened #323 "「YARV Maniacs 【第 12 回】」が連載扱いになっていない？"
[YARV Maniacs 【第 12 回】](http://magazine.rubyist.net/?0048-YARVManiacs)が http://magazine.rubyist.net/?CategoryIndices のリストに出ていないので連載扱いになっていないようにみえます。

http://magazine.rubyist.net/?0041-YarvManiacs の最後みたいにバックナンバーのリンクもあるとよさそうに思いました。

[2015-01-08 07:32] kou commented on #323
（報告場所としてここが適切じゃなかったらごめんなさい。）

[2015-01-08 07:39] ko1 commented on #323
ありゃ、大文字小文字まちがえた。

[2015-01-08 07:42] ko1 commented on #323
ありがとうございます。対応しました。
http://magazine.rubyist.net/?0048-YARVManiacs

[2015-01-08 07:48] hsbt commented on #323
@kou ここで大丈夫です!

[2015-01-08 07:48] kou commented on #323
速い！
（リンクになっているともっとよさそう！）

[2015-01-08 07:49] kou commented on #323
よかったです！

[2015-01-08 07:52] ko1 commented on #323
ありゃ、したつもりなのになってなかった。

[2015-01-08 07:52] #323 closed

[2015-01-08 07:53] ko1 commented on #323
301 Moved Permanently を返せるようになると、もっと良いですねえ。

[2015-01-08 08:08] gunjisatoshi commented on #323
ですよねー (Permalink は資産！)

[2015-01-08 08:19] gunjisatoshi commented on #323
実は報告用のやつもあるんですが https://github.com/rubima/rubima-support/issues 現状あんまり活用されてないので、こっちでいいと思います！

[2015-01-27 08:28] gunjisatoshi commented on #320
そろそろ決めないとですねえ。

というわけで、今週中に誰も手を挙げないようなら私が引き取ろうと思います。

[2015-01-30 09:33] gunjisatoshi commented on #321
おそらく原稿はこちらですかねえ。
https://github.com/yochiyochirb/meetups/blob/master/events/no50_lt/no50_lt_report.md

[2015-01-30 20:24] sunaot commented on #320
誰もいなそうなので手を挙げます。

[2015-01-31 01:51] oshow commented on #319
るびまMLに何度か送ってもエラーが出てしまうので、情報が分散してしまって申し訳ないのですがこちらで。

@ko1 「申し出」というのは私(oshow)の申し出のことでよろしいのですよね？　すぐお返事したけれどMLに届いていなかったようです。これは私が引き取ったということで大丈夫です。ボールは僕の方にあります。なので、他の件について転送をよろしくお願い致します。

[2015-01-31 04:40] ko1 commented on #319
@oshow いえ、もう２，３件別の人から書いてもいいよ、ってのがあった感じです。

[2015-01-31 05:12] oshow commented on #319
@ko1 あ、「申し出」って他のスピーカーさんからってことなんですね。勘違いしておりました。

わかりました、ではこの「BundlerとRubygems.org改善」の原稿については、私の方で進めていきます。

[2015-01-31 07:27] ko1 commented on #319
@oshow わかりにくくてすみません。よろしくお願い致します。

[2015-01-31 07:30] oshow commented on #319
@ko1 いえいえ！ 頑張ります！

[2015-02-01 01:28] gunjisatoshi commented on #320
@sunaot ありがとうございます！（毎度すみません）

[2015-02-04 12:11] miyohide commented on #283
50号掲載を目標に、記事を起こしました。
http://magazine.rubyist.net/?0050-KanagawaRubyKaigi01Report

[2015-02-04 23:54] gunjisatoshi commented on #283
ありがとうございます！
すごい、もうほとんどできてますね :clap:

[2015-02-05 14:31] miyohide commented on #283
@gunjisatoshi さん、早速見ていただきありがとうございます。
殆ど出来ていますが、あと数回推敲するのと、写真や記事の追加を行いたいと思います。

1点質問なのですが、「RegionalRubyKaigi レポート」の後に記されている番号はどのように採番すればよろしいでしょうか。早い者勝ち？

[2015-02-05 23:34] gunjisatoshi commented on #283
@miyohide 前の号の大江戸のレポートが 45 なので、それに続く番号を振る感じですねえ。

渋谷 Ruby 会議 01 のレポートも同時掲載される場合は、開催日の早い渋谷のほうが 46 で、神奈川は 47 になるかと思います (渋谷のほうが掲載されない場合は神奈川が 46)。

[2015-02-07 13:16] sunaot opened #324 "0050 号スケジュール"
* 2/15 (日) 記事申込、概要の締切
* 3/1 (日) 記事の目次、アウトライン締切
* 3/15 (日) 記事の締切
* 3/29 (日) 校正完了、リリース → 5/10 (日) に延期 https://github.com/rubima/rubima/issues/324#issuecomment-96461483

[2015-02-07 13:19] sunaot commented on #324
@rubima/owners

0050 号のスケジュールひいてみました。いかがでしょうか？
4月リリースを目指すとやや早めになってますね。

[2015-02-07 13:20] sunaot commented on #320
決まったので close しちゃいます。

[2015-02-07 13:20] #320 closed

[2015-02-07 13:24] #316 closed

[2015-02-07 13:37] sunaot opened #325 "0050 号の記事候補"
掲載候補は以下でしょうか。
各記事の担当編集の方は 0050 号の掲載目指すかについて再度確認お願いします。

* ~~Bundler と Rubygems.org の改善の話 #319~~ 次号以降へ
* ~~他言語からの訪問：Go #311~~ 次号以降へ
* 他言語からの訪問：Node.js/io.js #329
* Hypermedia Web API #326
* ~~RubyKaigi 2014 の公式レポート #294~~
* 神奈川 Ruby 会議 01 レポート記事 #283
* EffectiveRuby プレゼント記事
* mruby Debugger の話 #328
* よちよち.rb イベントレポート #321
* 松江 Ruby 会議 05 レポート #317

また、以下は担当不在の掲載候補です。地域 Ruby 会議の担当編集たくさん募集中 (主に窓口する人に

[2015-02-07 13:38] sunaot commented on #325
その他の掲載予定記事があればもちろん歓迎ですので、コメントぶらさげてください。

[2015-02-07 13:41] sunaot opened #326 "Hypermedia Web API"
tkawa さんに RubyKaigi 2014 での発表を記事起こししてもらえることになりました。
そのまま sunaot が担当します。

今号のスケジュール
- #324

進行
- [x] 担当を決める
- [x] 作者から概要をもらう
- [x] 作者から目次アウトラインをもらう
- [x] 作者から記事をもらう
- [x] もらった記事を編集Wikiに転載する
- [x] 編集Wikiの記事を校正する
- [x] 編集した記事を作者に確認してもらう
- [x] 編集MLに作者からの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] 作者にお礼を伝える

[2015-02-07 14:40] tkawa commented on #326
よろしくおねがいします！

[2015-02-08 11:30] sho-h commented on #317
ありがとうございます。すみません。せっかくすぐにお返事いただいたのに間を空けてしまいました...

まずは以前MLに投げさせてもらったものをhikiフォーマットにしてプルリクエストするのがいいでしょうか？掲載希望号は間に合えば50号がいいと考えています。

[2015-02-09 13:02] gunjisatoshi commented on #321
行きがかり上、本記事は私が担当します。

すでに原稿入手済み＆るびま Wiki に転記済みで、転記した記事を確認してもらっているところです。

[2015-02-10 10:30] takkanm commented on #325
arton さんより EffectiveRuby をプレゼント用に 3 冊いただいてますので、本紹介とプレゼント企画やります

[2015-02-11 14:08] sho-h commented on #317
とりいそぎは以下を参考に ML に以前投げたものを hiki フォーマットにしてプルリクエストしました。編集方針等についてはまたご相談させてくださいませ。m(_ _)m

* https://github.com/ruby-no-kai/official/wiki/RegionalrubykaigiRubimaReport

[2015-02-11 15:03] miyohide commented on #325
取りまとめありがとうございます。
#283 神奈川 Ruby 会議 01 レポート記事は0050号掲載でお願いします。

また、各種Ruby会議レポートの担当について、どれか一つ窓口になろうかと思っています。

[2015-02-12 17:23] sunaot commented on #324
とくにご意見なかったのでこのスケジュールで Fix しちゃいます。
ということで、2/15 (日) が記事申込、概要の締切です。

[2015-02-14 13:34] gunjisatoshi opened #328 "mruby Debugger の話"
- [x] るびまWiki のアカウントを作って著者の方にお伝えする
- [x] ページ名を決める ( http://magazine.rubyist.net/?0050-XXXX の XXXX の部分)
- [x] 上記名前で auth つきで空ページをつくる (auth つきだとログインしないと見えない)
- [x] 原稿を受け取る
- [x] 上記で作った空ページにいただいた原稿を転記する
- [x] 転記した記事を著者の方に見ていただき、必要であれば加筆修正いただく
- [x] 表紙からリンクを張る
- [ ] リリース時に auth を外して誰でも見える状態にする
- [ ] 著者の方に執筆ありがとうとお伝えする

@yurie さんより mruby Debugger のお話を記事にしていただけるというオファーを頂いております。

http://www.slideshare.ne

[2015-02-15 13:03] gunjisatoshi commented on #328
0050 号掲載を目指す方向で調整中です。

本日が概要締切りですが、上記 SlideShare の内容をもって概要とします。

[2015-02-15 13:04] gunjisatoshi commented on #328
行きがかり上、本件担当します。

[2015-02-16 16:29] sunaot opened #329 "他言語からの訪問 Node.js/io.js"
@yosuke-furukawa さんに書いてもらえることになりました。

#324 のとおり、

- 3/1 (日) 記事の目次、アウトライン締切
- 3/15 (日) 記事の締切
- 3/29 (日) 校正完了、リリース

となってます。

今号のスケジュール
- #324

進行
- [x] 担当を決める
- [x] 作者から概要をもらう
- [x] 作者から目次アウトラインをもらう
- [x] 作者から記事をもらう
- [x] もらった記事を編集Wikiに転載する
- [x] 編集Wikiの記事を校正する
- [x] 編集した記事を作者に確認してもらう
- [x] 編集MLに作者からの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] 作者にお礼を伝える

[2015-02-16 16:33] sunaot commented on #325
Go は別の人のほうが〜というお話をもらい、Node.js/io.js 記事 (#329) の執筆をしてもらえることになりました。

[2015-02-16 16:34] sunaot commented on #325
@miyohide

> また、各種Ruby会議レポートの担当について、どれか一つ窓口になろうかと思っています。

ありがとうございます。いずれも担当いないと思うので気になるものへサインアップしていただけるとうれしいです！

[2015-02-16 16:42] sunaot commented on #325
@takkanm

ありがとうございます。プレゼント企画は担当もお願いしてしまってよいかんじでしょうか？

[2015-02-16 16:44] sunaot commented on #325
mruby Debugger の話を記事候補の一覧へ足しました

[2015-02-17 11:12] takkanm commented on #325
プレゼント担当やります

[2015-02-19 13:51] miyohide commented on #317
@sho-h さん、こんにちは。本件、編集担当となりますmiyohideと申します。よろしくお願いします。

記事のプルリクエスト、今週末ぐらいに対処いたします。今しばらくお待ち下さいませm(_ _)m

今後の作業としては、次のようなものを予定しております。

- るびま編集用アカウントの作成とそのご連絡（miyohideの作業）
- プルリクエストで頂いた記事のアップロード（miyohideの作業）
- 記事のご確認と編集（ @sho-h さんとmiyohideの作業）
- 記事のリリース（我々るびま編集チームの作業）

つきましては、るびま編集用アカウントを発行いたします。アカウント名とパスワードをお知らせするために、お手数ですが、下記アドレスにメールを送信しただけませんでしょうか。

miyohide _at_ gmail.com （_at_は@に置換してください）

[2015-02-19 13:52] miyohide commented on #325
@sonaot さん。では、松江 Ruby 会議 05 レポート #317 を担当します。

[2015-02-20 08:15] sho-h commented on #317
@miyohide さん、こんにちは。ありがとうございます。先ほどお送りしました。よろしくお願いします。m(_ _)m

[2015-02-20 14:30] miyohide commented on #317
@sho-h さん、メールありがとうございます。
先ほど、るびま編集に必要なアカウントを発行し、メールにてご連絡しましたのでご確認ください。

また、Pull Request  で頂いた記事をるびま用ページとして作成しました。
http://magazine.rubyist.net/?0050-MatsueRubyKaigi05

上記のページの内容は、ログインしないと確認できません。ログインするには、まず http://magazine.rubyist.net/?c=login にアクセスしていただき、ご連絡したユーザ名とパスワードを入力後、「OK」ボタンを押してください。

ログイン後、上記のURL（ http://magazine.rubyist.net/?0050-MatsueRubyKaigi05 ）にアクセスすることにより確認することができます。

お手数おかけしますが、ログイ

[2015-02-22 02:20] sho-h commented on #317
@miyohide さん、ありがとうございます。ログイン確認できました！

記事の方も確認しました。我々の書いた内容の内以下の点を修正したくなったという以外は気になる点はありませんでした。

* 本文中のリンクは置き換えたくなった

[code]

* Ustreamは保存期間ができてしまったので「当時」と付けるか消してしまうかでもいいかもしれないと思った

修正はこちらでしてしまってもいいものでしょうか？

[2015-02-22 14:23] miyohide commented on #317
@sho-h さん、確認ありがとうございます。

修正は、 @sho-h さんで行って頂いて問題ありません。

なお、るびまの公開までは、記事を非公開の状態で作業を行う必要があります。キーワード欄に「auth」という文言があるかと思いますが、これは消さないようにお願いします。

詳細はこちらを確認して下さい。
https://github.com/rubima/rubima/wiki/HowToMakeWikiPagePrivate

また、編集指針というガイドラインもありますので、合わせてご確認いただけますと助かります。
https://github.com/rubima/rubima/wiki/EditPolicy

それでは、よろしくおねがいします。

[2015-02-24 11:49] sunaot commented on #302
@chiastolite @muryoimpl

0050 号の進行予定が下記のようになっております (#324)。
ご都合よければ、執筆よろしくお願いします。

* 3/1 (日) 記事の目次、アウトライン締切
* 3/15 (日) 記事の締切

[2015-02-24 11:50] sunaot commented on #300
@yukaina

0050 号の進行予定が下記のようになっております (#324)。
ご都合よければ、執筆よろしくお願いします。

* 3/1 (日) 記事の目次、アウトライン締切
* 3/15 (日) 記事の締切

[2015-02-24 11:52] sunaot commented on #318
@sho-h

0050 号の進行予定が下記のようになっております (#324)。
05 レポートも執筆していただいてますが、こちらも 50 号の掲載とされますか？

* 3/1 (日) 記事の目次、アウトライン締切
* 3/15 (日) 記事の締切

[2015-02-24 13:23] sho-h commented on #318
@sunaot さん、ご連絡ありがとうございます。

何人かでレポートを執筆しているのですが、3/15の締め切りまでに全員分揃わない気がしており、06のレポートは次号にまわしていただくのがいいように感じております。今度の土曜にその辺りを相談しまして、結論をご報告いたします。m(_ _)m

[2015-02-24 14:13] sho-h commented on #317
@miyohide さん、ありがとうございます！修正したい点は修正しました。

[2015-02-25 04:33] yukaina commented on #300
@sunaot

ご連絡ありがとうございます。
レポートの件ですが、TokyuRuby 会議07(2014.03.29)がissueをあげるのを忘れていたため、
抜けてしまっていました。もうしわけございません。

開催から間があいてしまったのですが、
別途issueをあげて、TokyuRuby 会議08ではなく07の記事でお願いしたいのですが、
よろしいでしょうか？

[2015-02-26 09:28] yosuke-furukawa commented on #329
一旦目次を作ってみました。

一旦EverNoteに貼っておくので、もう少ししたほうが良ければ連絡をください。

https://www.evernote.com/l/AARFOInwyqZJIZ6cTU6Kmx9k7iVZPKurzoU

[2015-02-26 10:18] chiastolite commented on #302
@sunaot はい、よろしくおねがいします!

[2015-02-27 22:19] SugHimsi commented on #329
ついついES6と書いてしまいがちでしょうから、確認するときは注意しようと思いますが、書かれる段階でも気をつけていただけると有難く。

[2015-02-28 14:21] miyohide commented on #317
@sho-h さん、ありがとうございます。明日ぐらいまでに、編集指針ガイドラインと誤字脱字等の確認を行います。
それで問題なければ公開までは特に作業はありません。今しばらくお待ちくださいませm(_ _)m

[2015-02-28 16:40] sunaot commented on #329
読みました。とてもバランスのよい内容だと思います。このまま進めていただければ！

[2015-02-28 22:09] tkawa commented on #326
原稿を更新して、目次アウトラインをつくってみました。
https://gist.github.com/tkawa/c3849684996804904f3c

[2015-02-28 23:37] hsbt commented on #329
@yosuke-furukawa

狙いと目次だけパッと見て、とても読みたくなってます。

[2015-03-01 03:25] yukaina opened #330 "Tokyu Ruby 会議 07 レポート"
TokyuRuby 会議07のレポート作成 issue を起こします。

レポート担当は @kishima, @tatsuo, @yukaina です。
開催は2014.03.29(土)でした。
よろしくお願いします。

[2015-03-01 03:28] yukaina commented on #330
目次は以下を予定しています。

----
#  はじめに
# 開催概要
- 開催日
2014-03-29 (土) 13:30 - 19:30
- 開催場所
株式会社 株式会社 VOYAGE GROUP 様 会議室
- 主催
Tokyu.rb
- 参加者
およそ 80 名
- 公式ページ
http://regional.rubykaigi.org/tokyu07
- 公式ハッシュタグ
\#tqrk07

----
# TokyuRuby 会
TokyuRuby会議は、Rubyに興味のあるエンジニアが集うTokyu.rbが主催するLT大会です。
第一回からの特徴として、「お酒・食べ物持ち込みあり」「その場で参加者から抽選でLT発表者を選出する」「基調講演は当日の投票で選ぶ」などがあります。
議とは

----

# LT 大会の様子
### 受付
### 開場〜前半戦 LT
### 抽選 LT

[2015-03-01 03:30] yukaina commented on #300
@sunaot

とりいそぎ、TokyuRuby 会議07(2014.03.29)について、
issueを #330 であげさせてもらいました。
よろしくお願いします。

[2015-03-01 12:48] sho-h commented on #318
@sunaot さん、昨日他のメンバーと相談してきたのですが、やはり3/15が厳しそうという事だったので次号にさせてください。

[2015-03-01 12:50] sho-h commented on #317
@miyohide さん、了解しました！引き続きよろしくお願いします。m(_ _)m

[2015-03-01 14:24] chiastolite commented on #302
目次ですが下記を予定してます

開催概要
===

はじめに
===

当日の様子
===

Unconference～shibuyarb lunch
---

Keynote
---

Community Talks
---

Member Talks
---

まとめ
===

Shibuya.rbについて
===

開催メンバー
---

[2015-03-02 06:02] sunaot commented on #300
@yukaina

ありがとうございます！
回答遅れましたが 07 の記事でまったく問題ありません。引き続きよろしくお願いします。
こちらも 07 が漏れているのを見逃していて申し訳ありませんでした。

[2015-03-02 08:05] sunaot commented on #326
ありがとうございます！これから読みますので、まずは ack のコメントをしておきます。

[2015-03-02 15:51] yukaina commented on #300
@sunaot
ありがとうございます、では、07で進めさせていただきます。
07の件は、こちらが手続き等漏れ、放置していたので、お気になさらず・・・
こちらこそ申し訳ございませんorz

[2015-03-03 00:51] sunaot commented on #315
遅くなりました。メールしたつもりです

[2015-03-03 03:45] ko1 commented on #315
了解しました。

[2015-03-03 10:45] gunjisatoshi opened #331 "Sqale の更新手続き"
早いもので、毎年恒例の Sqale の更新案内が来ました
参考: https://github.com/rubima/rubima/issues/263

@takahashim 問題ないようでしたら継続でお願いしたいのですが、いかがでしょうか。

[2015-03-03 12:37] miyohide commented on #317
@sho-h さん、遅くなり済みません。
編集し新ガイドラインと誤字脱字等の確認が終わりましたのでご連絡します。

1点確認させてください。『「基本設計」小谷 真一 氏』の部分にTwitterへのリンクを貼ろうかと思ったのですが、＠sn1128 さんというTwitterアカウントは現在存在しないようです。Githubアカウントでしょうか？

[2015-03-03 19:10] takahashim commented on #331
はい、それで問題ないです！　申し込んでおきます。

[2015-03-03 23:31] gunjisatoshi commented on #331
@takahashim お手数おかけいたしますが、よろしくお願いいたします :bow:

[2015-03-04 23:56] sho-h commented on #317
@miyohide さん、ありがとうございます。そうですね。小谷さんについてはGitHubアカウントでした。

[2015-03-08 17:25] oshow commented on #319
こちらの記事ですが、まだ原稿を頂けておりません。

@sunaot  既に諸々の締め切りを過ぎていますが、この記事を50号の記事候補からはずさせてください。連絡が遅くなりすみません。

[2015-03-08 23:20] sunaot commented on #319
@oshow ありがとうございます。りょうかいです

[2015-03-09 07:09] takahashim commented on #331
振り込んだので先方の確認待ちです

[2015-03-09 12:27] gunjisatoshi commented on #331
ありがとうございます :+1:

[2015-03-09 12:48] miyohide commented on #317
@sho-h さん、ありがとうございます。リンクも貼り終わり完成しました。

改めて素晴らしいレポートですね。ありがとうございます。また、お疲れ様でした。

リリースまでまだ日はありますので、なにか気になった点がありましたらご自由に修正してください。

[2015-03-10 10:20] sunaot opened #332 "monban の記事"
@kbaba1001 さんが書いてくれるそうです！

[2015-03-10 12:18] sunaot commented on #318
@sho-h 了解です！ありがとうございます。また次号よろしくお願いします。

[2015-03-10 12:19] sunaot commented on #302
@chiastolite ありがとうございます。引き続きよろしくお願いします。

[2015-03-10 12:19] sunaot commented on #330
@yukaina ありがとうございます。引き続きよろしくお願いします！

[2015-03-13 11:34] tkawa commented on #326
@sunaot さん
推敲・加筆してだいたい記事本文完成しました。よろしくお願いします。
図の入れ方がよくわかりませんがそのままGistに添付します。

[2015-03-16 13:05] sunaot commented on #329
@yosuke-furukawa

こんにちは。記事の状況いかがでしょうか？

着々と書いてもらえているのは Evernote で観測中ですので「いつ頃までには完成見込みなので待ってくれ」などあれば気軽にご相談ください。

[2015-03-16 13:20] yosuke-furukawa commented on #329
@sunaot すいません。おまたせしております。一旦今週末まで待っていただくこと、可能でしょうか。
そのタイミングでは仕上げておきます。

[2015-03-16 13:22] sunaot commented on #326
@tkawa さん

ありがとうございました。
RubyKaigi 2014 以来、半年ぶりで読んでいることになるのですが、現地で聞いていた興奮を思い出します。あらためて読みながらわくわくできました。

いったん私のほうでるびまの hiki へ転載しますので、後ほど hiki 上での図やコラム、注釈の表現が意図とずれていないかの確認をお願いします (転載完了後に閲覧用の id をメールでお知らせします)。

[2015-03-16 13:23] sunaot commented on #302
@chiastolite

3/15 が 50 号記事の締切日でした。
地域 Ruby 会議レポートについては校正のぎりぎりまで受け付けられますので、
3/27 あたりまでに完成稿をいただければ掲載の方向にしたいと思います。
引き続きよろしくお願いします。

[2015-03-16 13:25] sunaot commented on #329
@yosuke-furukawa

了解です。では完成を楽しみに待っています！

[2015-03-17 14:05] yukaina commented on #330
@sunaot
すみません、記事締切過ぎてしまったのですが、
記事の方まだまとめきれてなく、今週末まででも大丈夫でしょうか？
るびまのページの方を用意していただけましたら、そちらに貼付けて体裁を整えていければと。

[2015-03-17 15:37] sunaot commented on #330
@yukaina

はい、地域 Ruby 会議のレポートは今週末まででも大丈夫です。
掲載予定ページはこちらになります。編集用のアカウントはお持ちでしょうか？

- http://magazine.rubyist.net/?0050-TokyuRubyKaigi07Report

[2015-03-18 02:02] yukaina commented on #330
@sunaot
お手数お掛けしてもうしわけございません。
編集用アカウントは自分のものは以前に作っていただいたので、
用意していただきました掲載予定ページ確認できました。
後ほど、他の2名確認しておきます。

[2015-03-18 02:37] sunaot commented on #330
@yukaina

いえ、そんな、とんでもございません。
記事を直接記入していただけるということでむしろ助かります :smiley:
どうもありがとうございます。

[2015-03-18 02:57] tatsuo commented on #330
@sunaot すみません〜、自分のアカウントひょっとしたら以前作って頂いていたかもなんですが、すっかり忘れてしまい…お手数お掛けして大変もうしわけないのですが、確認していただいてもよいでしょうか :bow:

[2015-03-19 11:39] yukaina commented on #330
@sunaot
1. るびまのアカウント@kishimaさんの分、@kishimaで追加をお願いします。
2. 確認です、るびまの記事内で個人のブログへのリンク、スタッフTシャツを購入したスポンサーサイトへのリンクの記載をしても大丈夫でしょうか？

[2015-03-20 00:32] sunaot commented on #330
@yukaina

了解です。PC 新調時にるびまの admin パスワードをなくしてしまって、登録できないためすみませんが少しお待ちください。

はい、どちらも大丈夫です。

[2015-03-20 01:37] yukaina commented on #330
@sunaot
回答ありがとうございます。
アカウント登録の件は承知しました。
@kishimaさんの分については、早急にというわけではなく、念のためにあったほうが良いなという程度ですので、優先度低で間に合わなくても大丈夫です！

[2015-03-20 02:06] gunjisatoshi commented on #330
Oh...
@sunaot D したのでご確認ください！

[2015-03-21 02:17] miyohide commented on #330
@tatsuo さん
横から失礼します。
ちょっと確認しましたが、「tatsuo」や「sakurai」などのアカウントはありませんでしたので、おそらく無いかなと思います。いかが致しましょうか。

[2015-03-22 00:48] yosuke-furukawa commented on #329
一旦上げておきます。

https://github.com/yosuke-furukawa/babel_tutorial/blob/master/README.md

一つ迷っているのは、 ECMAScript 2015という呼び方があまりにも一般的になってないので、
ECMAScript6、 ES6という呼び方に戻そうかと思っています。

よろしくお願いいたします。

[2015-03-22 01:23] tatsuo commented on #330
@miyohide ありがとうございます〜。自分はGoogleDocsで編集して、 @yukaina にるびまへ反映させてもらう感じにしようかと思っておりますmm （なので追加していただかなくて大丈夫そうです！

[2015-03-22 01:34] tatsuo commented on #330
@miyohide すみません、やっぱり tatsuosakurai で発行していただけるとうれしいです〜m(_ _)m

[2015-03-22 08:55] SugHimsi commented on #329
お迷いの点、とりあえず、「はじめに」の「新しいSprocketsでは[ES6]で記述することもできる」のような表記の不統一を、今のうちに統一しておきませんか。
(ただ、コマンド名にes6などとあるので、どこかで「これは実は…」と触れる必要があるのかもしれません…)

[2015-03-22 09:07] miyohide commented on #330
@tatsuo さん、先ほどアカウントを発行しました。Githubに登録されているメールアドレス（Gmailのもの）にアカウント情報を送信しましたので、ご確認いただけますでしょうか。

[2015-03-22 10:59] takkanm commented on #324
来週リリースですがいかがでしょう ? (このスレ意外に状況がでてる ?

[2015-03-22 11:00] takkanm commented on #324
プレゼント企画、プレゼントページと書籍紹介のページができています。
書籍紹介は、監訳の arton さんに見てもらって、もう少しわたしが加筆する予定です。

[2015-03-22 12:28] gunjisatoshi commented on #331
先方にて無事入金確認でき、2015 年 4 月 1 日～ 2016 年 3 月 31 日分の更新が完了した旨のメールを受領済です。なのでこの Issue は閉じちゃいますね。

@takahashim ありがとうございました！

[2015-03-22 12:28] #331 closed

[2015-03-22 12:40] gunjisatoshi commented on #321
著者の方に記事の確認、および「著者について」の記入をしていただきました。本記事における 0050 リリースまでの作業は完了の認識です。

[2015-03-22 12:47] tatsuo commented on #330
@miyohide ありがとうございます！入れました！！

[2015-03-22 13:43] miyohide commented on #317
@sho-h さん。済みません。1点加筆をお願いできますでしょうか。

地域Ruby会議のレポートでは末尾に「著者について」の欄を書くことが多いです。
（ご参考：http://magazine.rubyist.net/?0049-OoedoRubyKaigi04Report ）

お手数ですが、著者について一言コメントを追加していただけませんでしょうか。

[2015-03-22 13:52] miyohide commented on #330
@yukaina さん、 @tatsuo さん。こんばんは。

地域Ruby会議のレポートですが、掲載順に連番を振っています。例えば、最近掲載された大江戸Ruby会議は「045」が振られています。
http://magazine.rubyist.net/?0049-OoedoRubyKaigi04Report

Tokyu Ruby 会議07の番号ですが、松江Ruby会議05を「46」と振った関係上、Tokyu Ruby 会議07は「47」を振るようにしていただけますでしょうか。

よろしくお願いします。

[2015-03-22 14:01] sunaot commented on #330
@tatsuo @yukaina

すみません、 @tatsuo さんからの依頼を @yukaina さんからの依頼と完全に勘違いしていて、
yukaina さんのパスワードをリセットして Twitter へ DM してしまいました...
ログインできなくなっていたら、私のせいです。。
そして、@tatsuo さんのことも堂々とスルーしていた形に。。こちらも申し訳ありませんでした。

@miyohide フォローありがとうございました。やりとり見ていたくせに今まで勘違いに気付きませんでした。。

[2015-03-22 14:02] sunaot commented on #330
@kishima さん、編集用アカウントをメールしたつもりですので、不着などの場合はこちらへ連絡ください。

[2015-03-22 14:05] sunaot commented on #294
あ、身内なのにリマインドすら忘れていた。。
50 号からは落とします。

[2015-03-22 14:10] sunaot commented on #324
各 issue のほうでリマインドなどしてまして、わりと順調に進んでいる様子が見られています。
#325 の記事候補に状況を更新してみましたが、掲載候補で状況がわからないのは
渋谷 01 の地域 Ruby 会議レポートくらいのようです。

あとは、#326, #329 の私の markdown 化作業が一番進捗ダメですな状況なので、ちゃんと進めます。。

[2015-03-22 14:12] sunaot commented on #329
@yosuke-furukawa

ありがとうございます。内容の確認とるびま wiki への転載作業を始めます。

[2015-03-22 15:31] tatsuo commented on #330
@sunaot いえいえ、こちらこそ急にすみませんでした〜mm （アイコンの作者が同じなので勘違いしやすいかもですよね^^;
@miyohide フォローありがとうございました〜

[2015-03-22 15:37] tatsuo commented on #330
タイトルを「RegionalRubyKaigi レポート (47) TokyuRuby 会議 07」に変更しましたmm
http://magazine.rubyist.net/?0050-TokyuRubyKaigi07Report

[2015-03-22 15:37] tatsuo commented on #330
↑ @miyohide m(_ _)m

[2015-03-22 16:37] kishima commented on #330
@sunaot
ご連絡ありがとうございました！メール受け取りました。

[2015-03-23 01:14] yukaina commented on #330
@sunaot
「Tokyu Ruby 会議 07 レポート」の件
一通りまとめました。
http://magazine.rubyist.net/?0050-TokyuRubyKaigi07Report
もしかすると、加筆修正、写真追加等あるかもしれませんが、
その際には、連絡しますのでよろしくお願いします :bow:

[2015-03-23 04:25] sho-h commented on #317
@miyohide さん、了解しました。ただ何人かおりますので、少し時間がかかるかもしれません。今週中や今週前半くらいでも大丈夫でしょうか？

あと、本Issueとは離れた話題になってしまうのですが、他のレポートでも同じように準備しておいた方がよいでしょうか？

[2015-03-23 13:53] miyohide commented on #317
@sho-h さん、るびま50号のリリース予定が3月29日（日）の予定ですので、3月28日（土）までに間に合わせていただけますでしょうか。直前で済みませんm(_ _)m。

他のレポートについても、同じように準備をしていただけると助かります。

[2015-03-23 23:17] sho-h commented on #317
@miyohide さん、了解しました。できるだけ28日より早めに準備したいと思います。他のレポートについても了解です。ありがとうございました。

[2015-03-24 12:46] sho-h commented on #317
@miyohide さん、案外早く全員分集まったので記事を修正しました(人数が多いので少し長いのですが...)。お手数ですがこれで良いかご確認いただけないでしょうか。

[2015-03-24 14:07] miyohide commented on #317
@sho-h 追加、ありがとうございます。助かります。
内容、確認しました。問題ありません。お疲れ様でした。

[2015-03-24 14:30] sho-h commented on #317
@miyohide さん、了解です。ここまでありがとうございました。m(_ _)m

[2015-03-25 15:09] miyohide commented on #283
進捗報告です。
本記事ですが、レポートの番号の採番決定待（渋谷Ruby会議が50号に載るか載らないかで決まります。）という状態です。記事については完成です。

[2015-03-26 00:29] sunaot commented on #283
渋谷 Ruby 会議原稿いただいてます！掲載予定です

[2015-03-28 06:23] ko1 commented on #324
@takkanm

http://magazine.rubyist.net./?0050-EffectiveRuby_ja
現状を見ての雑感

* 目次の見た目が変（pre が章ごとで切れている）
* 終わりに、に、いきなり「私は」と言われて違和感があった。誰だ？
* arton さんの紹介を、例えば大事なところだけでも引用するといいのでは。

[2015-03-28 07:33] sunaot commented on #324
すみません、担当分のmarkdown化作業にまだ手がついておらず、先にギブアップしておきます。
巻頭言も依頼を忘れてました。。
4/5 リリースで仕切直しをさせてください。。

[2015-03-28 07:45] sunaot opened #333 "0050 号巻頭言"
@takahashim

0050 号の巻頭言をお願いします。
(先ほどリスケし) 4/8 リリース予定になっております。

http://magazine.rubyist.net/?c=edit;p=0050-ForeWord

[2015-03-28 09:05] sunaot commented on #326
@rubima/owners

いったん転載したつもりです。表組みでいただいている markdown の意図に沿えていないところがあるので、まだ直します。手元のデータとずれが出ると困るので、hiki 上のページの編集はまだしないでください。

http://magazine.rubyist.net/?0050-Hypermedia

[2015-03-28 09:06] sunaot commented on #326
@tkawa さん

通常、記事に「著者について」というかんたんな自己紹介を入れております。
こちらへコメントしてもらえれば転記しますのでご希望の内容を返信お願いします。

[2015-03-28 10:31] miyohide commented on #283
@sunaot さん、了解です。では、渋谷は48、神奈川は49として採番します。

[2015-03-28 15:47] SugHimsi commented on #324
リスケ諒解。(編集後記に「いまGitHubが使えなく[なったら|なって]困っていること」を提案しようと思っていたら…)

[2015-03-29 09:07] takahashim commented on #333
はい、今回は隣で原稿書いてる人がいたのでスケジュールは把握しておりました(がまだ書けてなくてすみません…

[2015-03-30 09:26] tkawa commented on #326
ありがとうございます。
僕はアカウントを持っていないためか http://magazine.rubyist.net/?0050-Hypermedia は脚注だけが見える状態ですが、これは問題ないんですよね。
「著者について」を書きましたので使ってください。

---
# 著者について

川村 徹 ([@tkawa](https://twitter.com/tkawa))

Railsばかりやっているフリーランスプログラマ。RESTafarian。株式会社ソニックガーデン技術支援。
[Sendagaya.rb](http://sendagayarb.doorkeeper.jp/) 共同主催、 [RESTful Web APIs読書会](http://www.circleaf.com/groups/19) 主催、[RESTful#とは勉強会](http://rubychildren.doork

[2015-04-01 23:40] sunaot opened #334 "0050 号アクセスランキング"
アクセスランキングページをつくる

[2015-04-01 23:40] sunaot opened #335 "0050 号編集後記"
お題を決めて編集後記を記入する

[2015-04-01 23:40] sunaot commented on #335
お題募集中です...

[2015-04-01 23:42] sunaot opened #336 "0050 号表紙"
各記事目次を書く。主に地域 Ruby 会議の記事。

[2015-04-02 00:05] sunaot commented on #329
@yosuke-furukawa

hiki へ転載しました。もう少し体裁整えたら確認用のアカウントを連絡します。
タイトルと自己紹介 (「著者について」として記載します) を追加したいので、それぞれコメントください。

[2015-04-02 00:09] gunjisatoshi commented on #335
「50 と言えば」だと平凡ですかねえ。

[2015-04-02 01:23] sunaot commented on #326
はい、ログインしていないと脚注しか見えない状態で正しいです。
「著者について」もありがとうございました。転載しました。

[2015-04-02 04:50] yosuke-furukawa commented on #329
かしこまりました。

タイトル：「2015年のJavaScriptとbabelの話」
著者について：「
古川陽介 (Yosuke Furukawa / @yosuke_furukawa) 。日本Node.jsユーザーグループ代表、io.jsエヴァンジェリスト、io.jsコントリビュータ。記事掲載時点では会社でサーバサイドのPerlとフロントJavaScriptも行うフルスタックなエンジニア
」

[2015-04-02 04:50] yosuke-furukawa commented on #329
こんな感じでいかがでしょう？？

[2015-04-03 22:51] SugHimsi commented on #335
「GitHubが今なくなったら何が困るか」

[2015-04-06 08:42] gunjisatoshi commented on #324
4/5 も過ぎてしまいましたが、リリース日どうしましょうか。
（なんか @sunaot さんがタスクを持ちすぎのような気がするので、何か手伝えることがあればおっしゃっていただければ手伝います！）

[2015-04-06 11:17] takahashim commented on #333
本文の方はひと通り書いてみましたが、書影もあった方がいいでしょうか…

[2015-04-06 23:36] gunjisatoshi commented on #333
書影もあった方が良さそうですね。
（お忙しいようでしたら、こちらで追加いたします！）

[2015-04-06 23:38] gunjisatoshi commented on #328
状況報告ですが、原稿はほぼ終わっていて、最後に URL を修正して、表紙からリンクを張れば完了です。
（今日中くらいには終わりそうです）

[2015-04-07 11:26] takkanm commented on #324
ささださんより頂いた雑感は対応済みで、応募フォームをつくりました。

[2015-04-07 11:34] gunjisatoshi commented on #333
書影を追加してみました。
（ちょっとうるさい感じになっちゃいましたね‥‥）

[2015-04-07 23:49] gunjisatoshi opened #337 "るびま合宿 あらため るびま編集者会議 (0050 号記念)"
0050 号という記念すべき号がもうすぐ発行されようとしていますが、それを記念して、というわけでもないのですが、いろいろと現状のるびまに関する問題点とかもろもろを話し合う場を作りたいねという話をしたところ、日本 Ruby の会様よりご支援いただけそうな雰囲気です。 https://github.com/ruby-no-kai/official/issues/177

ここでやるのが良いのかメーリングリストのほうでやるのがいいかという話はありますが、まずは Issue としておきます。とりあえずまだふんわりした感じではありますが、そういう場が開かれたら参加したい！という方はここにコメントください。

- [x] 参加希望者を確認する
- [x] いつどこで何をやるか決める
- [x] 想定コストを日本 Ruby の会様に伝えてご支援可能かどうかにつきお伺いする
- [x] 参加確認
- [x

[2015-04-08 04:01] takahashim commented on #333
書影ありがとうございます！　私の方でも一部修正しました（amazonで品切れになってる奴はマイナビさんへのリンクにしてみました）。

[2015-04-08 12:43] SugHimsi commented on #333
ちょっと手を出せない状況で、言うだけになってしまうのですが、Rubyの歩き方のページからリンクさせたい。いつでも可。

[2015-04-08 13:38] miyohide commented on #337
参加希望で手を上げます。

[2015-04-09 04:59] takahashim commented on #333
とりあえず「Rubyの歩き方」の書籍の節からリンクしてみました。
あと、遅ればせながら記事紹介も追加しましたが、ES2015とハイパーメディア原稿は今号で良かったんでしょうか？

[2015-04-09 05:25] sunaot commented on #333
@takahashim

記事いただいていて、hiki 転載も終わってるので今号でお願いしたいです。

[2015-04-09 07:39] takahashim commented on #333
@sunaot  了解です！(次号送りになりそうなら記事紹介から削ろうかと思っていたのでした)

[2015-04-12 13:14] sunaot commented on #336
地域 Ruby 会議の目次がまだ一つも埋まっていないのです〜

- #330
- #317
- #302
- #283

[2015-04-12 13:16] sunaot commented on #336
渋谷 01 の記事も私が md で受け取ってたのでした。。
記事転記しないと。

[2015-04-12 15:46] sunaot commented on #324
すみません、プライベートが思ったより時間あかなかったのと、進行と担当かさなっていてパンクしてます。。
今ざっと見て自分の作業もして、とやってみたところ、まだ出せない箇所があちこちありますね。

[2015-04-12 15:53] sunaot commented on #334
こちらも残タスク〜

[2015-04-12 15:57] sunaot commented on #335
節目だし 50 といえばにしておきますか。

[2015-04-12 16:13] sunaot commented on #336
表紙に地域 Ruby 会議の記事を追加して、渋谷の記事ページが 0049 だったのと松江の `s/MatsueRubyKaigi05/MatsueRubyKaigi05Report/` するのに改名をしたら、

だったところで力尽きました。

「書いた人」も追加しないと。。

[2015-04-13 12:40] miyohide commented on #336
お手数おかけします。
松江と神奈川については、著者名入力しました。松江の改名については私もチャレンジしましたが、同じメッセージが出てしまったので、リンクのみを修正しました。

[2015-04-13 12:42] miyohide commented on #335
「50といえば」で書きました。

[2015-04-13 13:07] znz commented on #336
NoMethodError については https://github.com/rubima/hiki-plugin/commit/51dc31b9a2237762060eb85d8b35561bf4c1fc01 で修正してみたつもりですが、どうでしょうか。

[2015-04-13 13:08] znz commented on #314
https://github.com/rubima/rubima/issues/336#issuecomment-92344779 にも書きましたが、https://github.com/rubima/hiki-plugin/commit/51dc31b9a2237762060eb85d8b35561bf4c1fc01 で修正してみたつもりです。
動作確認していないので、動作確認がとれたら close してください。

[2015-04-13 23:59] gunjisatoshi commented on #328
ご連絡遅くなりましたが、リリース可能な状態にある認識です。

[2015-04-14 00:00] gunjisatoshi commented on #335
書きました！

[2015-04-15 11:32] yosuke-furukawa commented on #329
@sunaot さん、
こちらどうなりました?

[2015-04-16 07:43] ko1 commented on #304
@hokkai7go
プレゼントってどうなってますでしょうか。
オーム社さんより、問い合わせを頂きまして。

[2015-04-16 10:46] hokkai7go commented on #304
@ko1 はっ。すみません。応募だけいただいてその後何もできていないです

[2015-04-19 01:40] gunjisatoshi commented on #324
ちょっといったん状況を整理したほうがいいかもしれませんね‥‥。

- [ ] 残作業の確認
- [ ] あらためてリリース日を決める
- [ ] るびま編集コミュニティ全員に 0050 号全体のプルーフリーディングのお願いをする
- [ ] るびま編集コミュニティ全員に編集後記の記載を促す https://github.com/rubima/rubima/issues/335
- [ ] 各記事の担当者に担当記事がリリースできる状態になっているか確認し、リリースできる記事は表紙からリンクを張り、リリースできないと判断した記事は表紙から落とす
- [ ] リリース作業
- [ ] リリースしたことを広報

[2015-04-19 09:34] SugHimsi commented on #324
リスト自身の不備を冒頭の「残作業」に加えていく、っていう感じですかね。
残るは主に査読だと思うので、日程を決めて広報=お願いすることで、いくつか同時に課題がつぶせると思う。

[2015-04-20 14:25] miyohide commented on #324
50号というラベルが付いているもののうち、残作業と思われるのは、以下のものかと思われます。

#302 渋谷Ruby会議レポート
#326 Hypermedia Web API
#329 他言語からの訪問
#330 Tokyu Ruby会議
#334 アクセスランキング
#335 編集後記
#336 表紙

[2015-04-20 18:07] sunaot commented on #329
@yosuke-furukawa 返事遅れてすみません、今編集モードの記事を見られる ID/Password を Twitter DM で送りました。記事の転記で意図しない形になった箇所がないから確認お願いします。

[2015-04-26 09:47] miyohide commented on #324
#302 の渋谷Ruby会議レポートを引き取ろうと思います。ちょっと見た感じ、原稿はできているかなと思います。後は校正をして著者のみなさまにご連絡といった感じでしょうか。

また、 #330 も合わせて引き取ろうかと思います。ちょっと見た感じ、原稿はできている感じですので、後は構成して著者のみなさまにご連絡といった感じかと思います。

4月29日（水）17:00ぐらいを目標に上記2つを完了させようかと考えています。 @sunaot さん、 @gunjisatoshi さん、よろしくおねがいします。

[2015-04-26 10:53] gunjisatoshi commented on #324
@miyohide ありがとうございます！　アクセスランキング #334 は私がやります。それ以外で終わらなそうなのは次号に回すことにして、4/29 (水) にリリースしてしまうのが良いと思いますがいかがでしょうか？ > @sunaot さん

[2015-04-26 11:01] gunjisatoshi commented on #324
というか他の 2 記事も原稿上はほぼ終わっているように見えるのですが、リリースにあたって他にブロック要因って何かあるんでしたっけ‥‥（あんまり全体が把握できてなくてすみません）。

[2015-04-26 11:18] miyohide commented on #324
@gunjisatoshi さんへ。
#326 のHypermedia Web APIは、校正が未完了で作者さんへの確認がまだって感じのようです。
#329 の他言語からの訪問は、作者さんの確認中というステータスのようです。

[2015-04-26 11:28] muryoimpl commented on #333
lintかけて整形してみました。
@takahashim アンダースタンディングコンピュテーションのところで出てきた `CS` は`コンピュータ・サイエンス`だと思ったので(ちょっと唐突かなと思ったので)、コンピュータ・サイエンスにして置きました。

[2015-04-26 11:53] muryoimpl commented on #328
@gunjisatoshi 質問です。(今更ですみません。。)
nomitory へのリンクが貼られていないのですが、意図的でしょうか？なんとなく、どこにあるかくらいは掲載しておいたほうがよいかな、と思いました。

リポジトリと思われる [nomitory-eclipse-plugin](https://github.com/yamanekko/nomitory-eclipse-plugin) と [nomitory](https://github.com/yamanekko/nomitory) を見てみたのですが、README にあるリンクが "gh-pages" としか表示されないので、気になりました。

[2015-04-26 12:07] yurie commented on #328
こんにちは、やまねです。
現時点ではソースコードは公開しておりません。Eclipseプラグインのみ公開しています。
Eclipseのインストールページにて下記URLを指定するとインストールできます。
http://yamanekko.github.io/nomitory/

ページにその旨記載しておいた方がいいですね・・・。
今ちょっと電波が不安定なところにいるので、明朝までに記載しておきます。
という感じでいいでしょうか？

[2015-04-26 12:13] muryoimpl commented on #328
@yurie ありがとうございます！対応いただけると嬉しいです！
読者の方も触りやすくなると思います。
Eclipse のインストールページでURLを指定する必要があるんですね。

[2015-04-26 13:14] muryoimpl commented on #328
@yurie "明朝" という単語を見落としておりました…
29日をリリース目標にしようとしているため、28日にはチェックできる状態であると助かります。もちろん、難しい状況であれば調整いたしますので、ご連絡ください。無理して明朝、とかでなくて全然大丈夫です。
急なお願いでご迷惑おかけします。よろしくお願いいたします。

[2015-04-26 13:21] muryoimpl commented on #324
今更ながら、プルーフリーディングというか、提出いただいている記事を読んでおります。
#328 でちょっと気になった点があったため追記をお願いしてしまいました。

こちらで29日を目標にしていると記載があったため、29日リリース目標で動いている旨をお伝えして対応いただくようにお願いしております。
状況変わったら、こちらにも書き込みます。

[2015-04-26 13:22] yurie commented on #328
紛らわしくてすみません。
27日の午前3時ぐらいには直ってます！

[2015-04-26 13:23] yurie commented on #328
紛らわしくてすみません。
27日の午前3時ぐらいには直ってます！

[2015-04-26 13:24] muryoimpl commented on #328
ありがとうございます。助かります。

[2015-04-26 14:18] muryoimpl commented on #317
@sho-h 今更ながらすみません。るびまの記事で、Ruby.Jr のリンクが切れていたので、これかな？というリンクに貼り替えてみました。貼り替えたリンク先は下記のURLなのですが、間違いないかご確認いただけますでしょうか。よろしくお願いいたします。
http://www1.city.matsue.shimane.jp/jigyousha/sangyou/ruby/rubyjr.html

[2015-04-26 14:52] miyohide commented on #324
#302 の渋谷については、ツールを使った編集指針のチェックを完了しました。

ちょっと気になる表現があったので、 @gunjisatoshi さんや @muryoimpl さんに確認していただきたいです。

すこやかRailsの記事の下りのところで

という記述があり、さすがに「クソ」という表現は好ましくないと感じたのですが、いかがでしょうか。

[2015-04-26 14:55] miyohide commented on #324
@muryoimpl さん、 @gunjisatoshi さん。
すみません、ちょっと誤解を招く表現でした。私が持っている記事の編集作業が4/29（水）完了目標なだけで、リリースが4/29（水）という認識ではありませんでした。
個人的な考えとしては、5/3（日）か、さらに伸ばして5/10（日）がよいかなと思っています。

[2015-04-26 15:41] muryoimpl commented on #283
@miyohide ちょっとご相談なのですが(今更過ぎて申し訳ないです…)、基調講演2 の `その後は...` に続く文章をもう少し補完したほうが、私を含む当日その場にいなかった人にもわかりやすそうな気がしました。

(お話を直接聴いていないのでエスパーなのですが、)`なりきるときがしんどくなったとき` は `(設定したロールに)`なりきるときがしんどくなったとき、みたいにするとわかりやすそうだな、と思いました。
もし↑の想定であっているのであれば、続く文章も`(設定したロールの)理想(像に)はたどり着けないぐらいにすごそうなイメージなので` とできそうです。
※↑は想像で書いています。。

`ロールは新しく作られることもある` の「ロール」が何をさしているのか(何のロールなのか)ちょっと分かりづらい気がしました。こちらも少し情報を補完してあげるとわかりやすくなりそうと思いました。

[2015-04-26 15:46] sho-h commented on #317
@muryoimpl さん、修正ありがとうございます！間違いありませんでした。

[2015-04-26 15:53] muryoimpl commented on #317
ご確認いただきありがとうございます！よかったです

[2015-04-26 17:53] yurie commented on #328
遅くなりましたが、追記してみました。
やっぱりわかりにくい・・・ということでしたらご連絡ください
# 該当ページにも書いているようにWindows環境では試せていません。すみません・・・

[2015-04-26 18:26] muryoimpl commented on #328
説明の追記ありがとうございます！環境とか説明については今のベストエフォートで全然大丈夫だと思います！
私の方で、るびま記事の `monitory とは` のパートの最後に下の一文を追加してみました。いかがでしょうか…

`利用する場合は、こちら http://yamanekko.github.io/nomitory/ を参考に Eclipse の機能を利用してインストールしてください。`

[2015-04-27 00:04] gunjisatoshi commented on #324
@miyohide 了解です。

連休中は予定のある方も多いと思いますので、5/10(日) が良いかと思います。いかがでしょうか > @sunaot さん (もしお忙しいようでしたら進行役引き取りますが、いかがでしょうか？)

[2015-04-27 00:40] gunjisatoshi commented on #324
@miyohide

（元のプレゼン資料にもその表現があるので）個人的には別にいいとおもいますが、気になるようであれば渋谷 01 関係者の方と相談ですかねえ。

[2015-04-27 01:47] sunaot commented on #324
よいと思います。なにもしてなくてすみません。。
進行役ひきとっていただけたら、担当記事のshipに集中いたします。

[2015-04-27 01:53] muryoimpl commented on #324
@miyohide
@gunjisatoshi さんと同じで、気になるようであればご相談ですかね。

後のクエリのほうは取り除けるとして、スライドを見ると最初のほうはいろいろな意味が包含されていて言い換えるのは少し難儀するかもしれない、と思いました。

[2015-04-27 01:53] sunaot commented on #324
かくたにさん曰く Regional RubyKaigi のレポートは日本 Ruby の会の活動である地域 Ruby 会議への場所貸しなので、るびまの記事としての校正も入らなくてもいいんじゃないかという話が以前ありました。
地域 Ruby 会議の開催条件にレポート提出があって、やったよということとそのかんたんな内容が伝わればいいというものなので、形式や見せ方も地域ごとでいいというような話だったような。

メールなどでの形の残るもので発見できなかったので、ニュアンス違っていたら申し訳ないのですが、当初の意図としては手を加えずありのままでOKというものだったということだけ伝えさせていただきます。

[2015-04-27 04:09] gunjisatoshi commented on #324
@sunaot では進行役引き取ります！　他にも手がかかりそう (間に合わなそう) でお手伝いできそうなものがあればご相談ください！

[2015-04-27 04:10] gunjisatoshi commented on #324
これぼくも聞いた記憶がある！
(でも記録には残ってない‥‥ざんねん)

[2015-04-27 12:08] miyohide commented on #283
@muryoimpl さん、ご指摘ありがとうございます。

補足については、どうしようか悩んでいます。意図としては、スライドと同じ文言を使っており、そこに著者としての解釈を加える事に抵抗があるからです。
そのことを示すために「」で囲っているのですが、分かりにくいと言われるとそうかもしれません。

[2015-04-27 12:10] miyohide commented on #324
@gunjisatoshi さん、 @muryoimpl さん、 @sunaot さん、了解しました。では表現の件は、そのまま残します。

[2015-04-27 12:23] miyohide commented on #324
#302 の渋谷Ruby会議と#330のTokyuについて、lintでのチェックと表記ゆれをチェックしました。おそらく出せる状態になったかと思います。

[2015-04-27 12:58] miyohide commented on #330
@yukaina さん、長らく停滞していて済みません。
Tokyu Ruby 会議 07レポートの編集が完了しました。誤字・脱字や表記ゆれを直し、大きな編集は加えていないつもりですが、今一度ご確認いただけますでしょうか。

なお、リリースは、5月10日（日）を目標としております。おまたせして申し訳ございませんが、よろしくお願いします。

[2015-04-27 13:45] yurie commented on #328
遅くなってすみません。
修正いただいたのにすみませんが、元々Eclipseの話にすると読者の興味が薄れそうな点を危惧して
nomitoryではEclipse使ってるけどこの記事を読んで試す分にはEclipseはいらないよ！ということを
強調したネタだったので、「おわりに」のところに興味をもったらEclipseの方も試してみてね。という感じに移動させてみました。
併せて、冒頭も「mruby を使ったことはありますか？ 」に変えてみました。
いかがでしょうか？

[2015-04-27 14:11] miyohide commented on #302
@chiastolite さん、こんにちは。
長らくお待たせして申し訳ございません。

渋谷Ruby会議の記事ですが、1点お願いがあります。最後の著者のみなさまのところに自己紹介的な一言コメントを頂きたいのですが、ご用意していただけますでしょうか。

るびま0050号は5月10日（日）のリリースを目標としております。そのため、5月3日（日）までにはコメントを頂けますと助かります。

お手数おかけしますが、よろしくお願いします。

[2015-04-27 17:10] muryoimpl commented on #283
@miyohide
最終的なご判断はお任せします。レポートを作成した miyohide さんたちの解釈を優先させてください。
もし言葉を補足したり添えたりするのであれば、私が前述したように直接補完するのではなく、話を聞いた人の解釈として感想的に書く、という方法もありますね。

[2015-04-27 18:41] muryoimpl commented on #328
修正ありがとうございます！

nomitoryではEclipse使ってるけどこの記事を読んで試す分にはEclipseはいらないよ！ということを
強調したネタだったので、「おわりに」のところに興味をもったらEclipseの方も試してみてね。という感じに移動させてみました。

そのほうがよいと思いました！

よいと思います！

ディレクトリについては、`/Users/xxx/…` に統一してみました。

「nomitory のしくみ」のところで、使用しているサンプルコードは…というところで https://github.com/yurie/rubima50/blob/master/rubima2.c の提示があるのですが、この記事で https://github.com/yurie/rubima50/ にある他のファイルも登場しているので、最初のほうでhttps://github.com/yu

[2015-04-28 04:09] yurie commented on #328
遅くなってすみません！
「はじめに」のところに
本記事内で使用したコードは https://github.com/yurie/rubima50 にあります。
を追加しました。

問題ないでしょうか？

修正漏れです。ありがとうございます！

別ものです。
紛らわしいので注釈をつけてみましたが、これでわかりそうですか？

[2015-04-28 04:26] yukaina commented on #330
@miyohide ありがとうございます。確認しておきます。

[2015-04-28 09:24] chiastolite commented on #302
@miyohide 了解しました!

[2015-04-28 13:32] muryoimpl commented on #328
本記事内で使用したコードは https://github.com/yurie/rubima50 にあります。
を追加しました。

ありがとうございます！よいと思います！

注釈入れていただいたことで `rubima.rb` が何かわかりやすくなったと思います。
`簡単のために` というところを `説明を簡単にするために` と変更してみました。(意図が違っていたら申し訳ありません。)
`rubima.rb`が画像の3行だとすると、`v` の値が `3` になると思います。この値から`rubycode.rb`かと思っておりました。変数表示の実装例のところの value の値を 3 にするだけでよいでしょうか？

[2015-04-28 14:26] yurie commented on #328
確かに紛らわしいかもですね。
ちょっと直してみますので、1時間ぐらい待ってください

[2015-04-28 15:36] tkawa commented on #326
@sunaot さん
お忙しいようでしたら校正手伝いますので、Wikiのアカウントをいただけますか？

[2015-04-28 15:59] yurie commented on #328
遅くなってすみません。
変数表示の実装例はrubycode.rb、「Ruby コード 1 行はバイトコード 1 行とは限らない」のところで使用しているのはrubima.rb と異なっています。(この記事内に2種類の.rbが存在しています。ややこしくてごめんなさい・・・)
rubyma.rb と rubycode.rbについて、同じ元ネタから派生した関係で、変数名が同じだったのが紛らわしい原因かと思い、rubyma.rb で使用している変数名を変更して画像を貼り直してみました。
また、breakpointの実装例のところに注釈でrubycode.rbを使用している旨記載しておきました。

あわせて、「参考) バイトコードを出力するには (ry」の部分のコード
./bin/mruby -v rubima.rb　ついて、bin ってどこ？というのがわかりにくいので、
~/git/mruby/bi

[2015-04-28 16:20] muryoimpl commented on #328
いろいろと対応ありがとうございます！確認させていただきます

[2015-04-28 17:11] muryoimpl commented on #328
よいと思います！すごく読みやすくなったと思います。

こちら承知いたしました。(ネタなんですね。情弱ですみません…)

遅い時間にいろいろとご対応いただきありがとうございました！LGTM です！

[2015-04-28 17:57] yurie commented on #328
こちらこそ、いろいろご指摘ありがとうございました！

ネタというか、ちょっと話題になってたので、機会があれば使ってみたいなーと思ってただけですw

[2015-04-29 13:25] miyohide commented on #326
@tkawa さん、お手数おかけします。
アカウントを発行しました。アカウント情報は Twitter DMにて送信させていただきましたので、ご確認ください。

編集については、ログイン後 http://magazine.rubyist.net/?0050-Hypermedia にアクセスしていただき、「編集」リンクをクリックしていただくと可能となります。
どのようにHikiを書けばよいかわからないなどの場合は、このIssueでご連絡頂けますと対応いたします。

なお、リリースは5/10（日）を目指しています。よろしくお願いします。

[2015-04-29 13:33] miyohide commented on #324
@gunjisatoshi さん。私が持っている各記事の現在の状況のご連絡です。

#302 の渋谷に関しては、現在、著者さんの紹介コメントをお願いしている状況です。
#330 のTokyuに関しては、完了という状況でよいかと思います（リリース可能）。
#326 のHypermedia については、著者さんのアカウントを発行して内容の確認をお願いしている状況です。
#283 の神奈川に関しては、今のままで行こうと思っています（リリース可能）。

[2015-04-29 14:21] gunjisatoshi commented on #324
@miyohide ありがとうございます！　助かりました～ :bow:

[2015-04-30 01:13] sunaot commented on #326
@tkawa さん、ありがとうございます。
目は通し終わっていて、校正は特に必要なかったです。
ただ、hiki のフォーマットで表の中央寄せがないのでそこの見せ方だけどうにかしようと思ってました。

[2015-04-30 01:13] sunaot commented on #326
@miyohide さんもフォローありがとうございます。

[2015-05-01 14:14] miyohide commented on #326
@tkawa さん
こんにちは。すみません、1点確認させてください。
記事の中頃にある

という部分なのですが、これはMarkdownでいう1行コードを意図されていますでしょうか。

もしそうだとしますと、残念ながら、Hikiでは該当機能がサポートされていません。代替として、太字（'''）で表現することをるびまではやっているのですが、その方法で大丈夫でしょうか。

[2015-05-01 14:19] tkawa commented on #326
はい、バッククォートで囲まれた部分はそうです。たしかほかにも何ヶ所かあったと思います。
太字表現に直してもらってかまいません。

2015年5月1日金曜日、miyohide<notifications@github.com>さんは書きました:

--
Toru KAWAMURA <tkawa@4bit.net>

[2015-05-01 14:51] miyohide commented on #326
@tkawa さん
早速のご連絡ありがとうございます。太字表現に直しました。

[2015-05-01 15:55] miyohide commented on #329
@yosuke-furukawa さん
こんにちは。るびま編集者の一人であるmiyohideと申します。記事について1点確認させてください。記事の中頃にある

という部分なのですが、これはMarkdownでいう1行コードを意図されていますでしょうか（他にも類似部分がありますが省略）。

もしそうだとしますと、残念ながら、Hikiでは該当機能がサポートされていません。代替として、太字（'''）で表現することをるびまではやっているのですが、その方法で大丈夫でしょうか。

[2015-05-02 14:16] yosuke-furukawa commented on #329
@miyohide

問題ありません。今 Hiki で編集しようと思っている事があるので、明日以降修正していただけると幸いです。

[2015-05-02 14:47] miyohide commented on #329
@yosuke-furukawa さん
ご連絡ありがとうございます。では、明日以降、修正いたします。

[2015-05-02 19:29] yosuke-furukawa commented on #329
@miyohide @sunaot 修正しました。
http://magazine.rubyist.net/?0050-ECMAScript2015

[2015-05-03 15:26] chiastolite commented on #302
@miyohide

自分ともう1名のを貼ります。もう1名のは現在確認していますので申し訳ありませんがもうちょっとお待ちください :sweat:

[code]

[2015-05-03 15:55] miyohide commented on #329
@yosuke-furukawa さん、対応有難うございます。私も修正が終わりました。

お手数ですが、1点確認させてください。

今後の ECMAScript2015 の展望の部分で、

という記述があるのですが、以下のように「故」は「より」の誤変換ではないでしょうか。

[2015-05-03 16:07] miyohide commented on #302
@chiastolite さん
ご対応有難うございます。現在の状況でまずは記事を更新しました。

もう1名（ @hokkai7go さん）の情報が得られましたら、またご連絡ください。

[2015-05-03 17:54] sunaot commented on #329
追悼的な意味の故なのでは。界隈のハイコンテキストはありそうなので、るびま的に補完するなら、編集者注で[追悼な文脈](http://nanto.asablo.jp/blog/2013/05/27/6824873)を補完するのがよさそうです。

[2015-05-03 17:58] sunaot commented on #329
よさそうですっていうか、編集者なんだから自分でしろよっていう天の声を感じたので編注入れてみました

[2015-05-03 19:11] yosuke-furukawa commented on #329
@sunaot @miyohide
E4X は事実上死んでしまった仕様なので、追悼の意であってます。
https://developer.mozilla.org/ja/docs/E4X

"故E4X" よりも "かつて存在した E4X" のが伝わりやすい気がしました。

[2015-05-03 22:16] hokkai7go commented on #302
遅くなってご迷惑をおかけしてすみません。。。。

hokkai7go
北海道から出てきたRubyistです。ChefやAnsibleを書くことが多いです

よろしくお願いします！

[2015-05-04 04:42] miyohide commented on #302
@hokkai7go さん。ご連絡ありがとうございます。記事に反映しました。

[2015-05-04 15:24] miyohide commented on #329
@yosuke-furukawa さん、 @sunaot さん、ご対応有難うございます。

@yosuke-furukawa さんから提示頂きました文章（「かつて存在した E4X」）に書き直し、かつ、 @sunaot さんの脚注を活かすように編集しました。

[2015-05-04 15:25] miyohide commented on #329
なお、本記事については、5/10（日）がリリース目標日となっております。そのため修正は、5/9（土）までに行っていただけますと助かります。

[2015-05-04 15:31] miyohide commented on #324
@gunjisatoshi さん。現在の状況です。

 #302 （渋谷）、 #326 （Hypermedia）、 #329 （他言語からの訪問）に関して、ひと通り編集が完了しました。著者さんにも確認してもらっています。

[2015-05-06 08:14] gunjisatoshi commented on #324
@miyohide ありがとうございます！　引き続きよろしくお願いします :bow:

[2015-05-07 07:21] yosuke-furukawa commented on #329
@miyohide @sunaot 私の方の修正は終わっております。大きな問題がなければこのままリリースでお願い致します。

[2015-05-07 13:25] miyohide commented on #329
@yosuke-furukawa さん、ご連絡ありがとうございます。記事作成、ありがとうございます。

[2015-05-07 13:27] miyohide commented on #330
@yukaina さん、リリース日は5/10（日）の予定です。確認の状況はいかがでしょうか？修正点等ありましたら、ご協力いたしますので、ご連絡頂けますと幸いです。
特に問題ない場合は、その旨をご連絡頂けますと助かります。

[2015-05-07 13:29] miyohide commented on #326
@tkawa さん。
リリース予定日である5/10（日）が近づいてまいりました。問題が無いようでしたら、このままリリースを行いたいと考えておりますが、いかがでしょうか。

[2015-05-07 13:32] miyohide commented on #302
@chiastolite さん
リリース予定日である5/10（日）が近づいてきました。特に問題ない場合は、このままリリースを行いたいと考えておりますが、いかがでしょうか。
編集したいところがある場合は、ご連絡頂けますと助かります。
特にない場合も、お手数ですが、ご連絡頂けますと幸いです。

[2015-05-08 02:43] chiastolite commented on #302
@miyohide
このままのリリースで問題ないと思うのですが念の為内容を再確認したいと思うのですが
現在の記事確認することは出来ますか?

[2015-05-08 02:44] yukaina commented on #330
@miyohide すみません、土曜日に(某地区センターの和室にいる間に)確認します。

[2015-05-08 03:45] miyohide commented on #302
お手数おかけします。

[2015-05-08 03:51] miyohide commented on #302
@chiastolite さん、お手数おかけします。

るびま編集アカウントをお持ちの場合は、ログインして頂き、ページ一覧から渋谷Runy会議の記事を参照してください。

るびま編集アカウントをお持ちでない場合は、アカウントを発行いたします。お手数ですが、アカウント情報のご連絡のために、 miyohide ＠ gmail . com までメール頂けませんか？

なお、申し訳ありませんが、アカウント発行は、本日21時過ぎになる見込みです。申し訳ありません

[2015-05-08 04:08] chiastolite commented on #302
@miyohide メール送りました!

[2015-05-08 08:11] tkawa commented on #326
@miyohide さん、校正ありがとうございます。
目を通しました。リリースOKです！
もし細かいミスにあとから気づいたときは、直してもいいでしょうか？

[2015-05-08 12:14] miyohide commented on #302
@chiastolite さん
お待たせして申し訳ございません。
先ほど、るびま編集アカウントを作成し、頂いたメールに返信しました。ご確認いただけますでしょうか。

[2015-05-08 12:14] miyohide commented on #330
@yukaina さん
了解しました。よろしくお願いします。

[2015-05-08 12:15] miyohide commented on #326
@tkawa さん。
ご連絡ありがとうございます。
また、細かいミスに気がついたときには、編集して構いません。

[2015-05-08 12:21] miyohide commented on #324
@gunjisatoshi さん、現在の状況です。ちょっと状況が変わっています。

#302 の渋谷に関しては、現在著者さんに確認してもらっています。
#330 のTokyuに関しては、3/9（土）に確認して頂く予定です。
#326 のHypermediaに関しては、リリース可能状態です。
#329 の他言語からの訪問に関しては、リリース可能状態です。
#283 の神奈川に関しては、リリース可能状態です。

私が持っているものについては、以上の状態となります。

[2015-05-08 17:30] gunjisatoshi commented on #324
@miyohide ありがとうございます！ (Tokyu は 3/9 じゃなくて 5/9 ですね :smiley: )

[2015-05-08 17:32] gunjisatoshi commented on #324
で、特別な理由がない限りはもうリリースは延期しないつもりです。5/10 の夜 22 時ごろから粛々とリリース作業をする予定です（その時点で完了していないものは次号に回します）。

[2015-05-09 08:15] miyohide commented on #324
@gunjisatoshi さん、了解です。リリース作業、よろしくお願いします。

[2015-05-09 12:05] chiastolite commented on #302
@miyohide
ありがとうございます！確認がでいました。

いまさらなのですが、コミュニティトークの部分に写真を追加していただくことは可能でしょうか？

[2015-05-09 13:20] gunjisatoshi commented on #334
https://github.com/rubima/rubima/issues/324#issuecomment-96364574 でも書きましたが、私がやります。

（くどいようですが https://github.com/rubima/rubima/issues/313#issuecomment-66380842 でも書いた通り、るびまの Google Analytics アカウントを持っている人 https://github.com/rubima/rubima/issues/152 なら https://github.com/rubima/rubima/issues/273#issuecomment-39480713 の手順に従って誰でもこの記事を作ることができるはず）

[2015-05-09 15:15] miyohide commented on #302
@chiastolite さん、確認ありがとうございます。

写真追加は、5/10（日）22:00まででしたら可能です。 @chiastolite さんのアカウントで編集可能なので、直接編集して頂いても構いません。

[2015-05-09 23:06] hsbt commented on #334
:bow:

[2015-05-10 00:24] ko1 commented on #304
On 2015/04/16 19:46, Yutaro Sugai wrote:

こちら、私の方に当選者の連絡先を教えていただければ、進めますが、いかがし
ましょうか。

--
// SASADA Koichi at atdot dot net

[2015-05-10 11:03] miyohide commented on #330
5/9（土）に確認していただきました。ありがとうございました。

[2015-05-10 11:21] gunjisatoshi commented on #335
ちょっとまだ寂しい感じなので、編集された方もそうでない方も最近の近況とか書いていただけると嬉しいです :bow:

http://magazine.rubyist.net/?0050-EditorsNote

別にリリース後でも構わないので、よろしくお願いします！

[2015-05-10 11:22] miyohide commented on #334
Wikiに作成方法を起こしました。
https://github.com/rubima/rubima/wiki/create_access_ranking_page

[2015-05-10 11:24] gunjisatoshi commented on #324
もうちょっとしたらリリース作業を開始したいと思います。今のところ表紙に載っている記事は全部掲載という認識ですが、もし何かあれば今号掲載見送りとしたいと思いますので、何かございましたら担当各位ご連絡ください。

[2015-05-10 11:25] gunjisatoshi commented on #334
:+1:

[2015-05-10 11:28] chiastolite commented on #302
@miyohide 写真の追加終えました!

[2015-05-10 11:32] niku commented on #335
今回はなにもしておりません(すみません)が，足しました

[2015-05-10 11:35] miyohide commented on #302
@chiastolite さん、ありがとうございます。

[2015-05-10 11:36] miyohide commented on #324
@gunjisatoshi さん、私が担当している記事は全件OKです。

[2015-05-10 11:51] gunjisatoshi commented on #334
というわけで作ってみたのですが、あんまり代わり映えがしないですねえ。
（前号の記事がひとつくらいは載っていて欲しいところですが‥‥）

http://magazine.rubyist.net/?0050-RubyistMagazineRanking

[2015-05-10 12:10] gunjisatoshi commented on #324
@miyohide :+1:

[2015-05-10 13:16] gunjisatoshi commented on #324
それでは今から各記事の auth を外してサイドメニューの更新を始めます。終わったらまた連絡しますね。

[2015-05-10 13:24] gunjisatoshi commented on #324
更新終わりました。確認できる方はログアウトした状態で問題なく見ることができるかどうか、確認をお願いします！

[2015-05-10 13:26] gunjisatoshi commented on #324
そういえば神奈川 Ruby 会議ってナンバリングされてませんけど 01 でいいんですよね？
（問題なければ勝手に修正しようと思います）

[2015-05-10 13:30] takkanm commented on #324
リリースお疲れさまです。リンク切れはなさそうでした。

[2015-05-10 13:31] gunjisatoshi commented on #324
@takkanm 確認ありがとうございます！
(厳密には ML 告知とかがまだなので、まだリリース前です :smiley: )

[2015-05-10 13:42] miyohide commented on #324
@gunjisatoshi さん、リリース作業ありがとうございます。
神奈川のナンバリングは漏れていました。すみませんm(_ _)m

[2015-05-10 13:45] ko1 commented on #324
http://magazine.rubyist.net/?VolumeIndices
足しておきました。

[2015-05-10 13:47] miyohide commented on #330
@yukaina さん、 @kishima さん、 @tatsuo さん、お待たせしました。
るびま 50号が先ほどリリースされました。
http://magazine.rubyist.net/?0050

記事の寄稿、並びに校正ありがとうございました。

[2015-05-10 13:47] #330 closed

[2015-05-10 13:49] miyohide commented on #329
@yosuke-furukawa さん、お待たせしました。先ほどるびま 50号がリリースされました。
http://magazine.rubyist.net/?0050

記事の寄稿、ならびに校正へのご協力ありがとうございました。

[2015-05-10 13:49] #329 closed

[2015-05-10 13:51] miyohide commented on #326
@tkawa さん、お待たせしました。るびま 50号がリリースされました。
http://magazine.rubyist.net/?0050

今回は、記事の寄稿ならびに校正へのご協力ありがとうございました。

[2015-05-10 13:51] #326 closed

[2015-05-10 13:51] gunjisatoshi commented on #324
@ko1 ありがとうございます！　すっかり忘れてました！
（分野別も更新しないとですね‥‥）

[2015-05-10 13:52] miyohide commented on #317
@sho-h さん、お待たせしました。さきほどるびま 50号がリリースされました。
http://magazine.rubyist.net/?0050

このたびは、記事の寄稿ならびに校正へのご協力ありがとうございました。

[2015-05-10 13:52] #317 closed

[2015-05-10 13:53] miyohide commented on #302
@chiastolite さん、お待たせしました。先ほど、るびま 50号がリリースされました。
http://magazine.rubyist.net/?0050

このたびは、記事の寄稿ならびに校正へのご協力ありがとうございました。

[2015-05-10 13:53] #302 closed

[2015-05-10 13:53] miyohide commented on #283
リリースされました。
http://magazine.rubyist.net/?0050

[2015-05-10 13:53] #283 closed

[2015-05-10 14:00] tkawa commented on #326
@sunaot さん、 @miyohide さん、編集担当の方々、ありがとうございました！

[2015-05-10 14:08] gunjisatoshi commented on #324
https://github.com/rubima/rubima/wiki/ReleaseProtocol

を見ると、あとは www.ruby-lang.org への pull request と、担当記事の著者へのお礼（もうすでにやっていただいていますが）が未完了です。

[2015-05-10 14:10] gunjisatoshi commented on #336
改名の件はまだ試してませんが（すみません‥‥）、とりあえずリリースしたのでこちらはクローズします。ありがとうございました！

[2015-05-10 14:10] #336 closed

[2015-05-10 14:13] gunjisatoshi commented on #334
無事リリースされたのでこちらはクローズします！
ありがとうございました！

[2015-05-10 14:13] #334 closed

[2015-05-10 14:16] gunjisatoshi commented on #333
毎号、巻頭言をいただきありがとうございます！

だいぶ遅くなりましたが、無事 0050 号がリリースされましたのでお伝えいたします。

今後ともよろしくお願いいたします :bow:

[2015-05-10 14:16] #333 closed

[2015-05-10 14:20] gunjisatoshi commented on #328
@yurie だいぶ遅くなりましたが、ようやくリリースの運びとなりました。

投稿ありがとうございました。mruby 関連の記事は少ないので嬉しいです :smiley_cat:

また機会があれば投稿お待ちしておりますので、引き続きよろしくお願いいたします :bow:

[2015-05-10 14:20] #328 closed

[2015-05-10 14:25] gunjisatoshi commented on #321
著者の方にお礼のメールをお送りしましたので、本件クローズします。

[2015-05-10 14:25] #321 closed

[2015-05-10 14:28] gunjisatoshi commented on #325
0050 号がリリースされましたので、こちらはいったん閉じます。
（0051 号の記事候補として、別途また Issue を立てましょう！）

[2015-05-10 14:28] #325 closed

[2015-05-10 14:42] gunjisatoshi commented on #335
リリースされたのでクローズします。記入ありがとうございました！
（リリース後でも追記OKなので、何か書きたい方は後からでもぜひ）

[2015-05-10 14:42] #335 closed

[2015-05-10 15:11] yukaina commented on #330
@sunaot さん @miyohide さん
こちらこそ、いろいろとサポートしていただきありがとうございました
:bow:

[2015-05-10 23:48] sho-h commented on #317
@miyohide さん、ご連絡ありがとうございます！校正もありがとうございました！

[2015-05-11 00:08] gunjisatoshi commented on #337
いまのところ @miyohide さんだけなので、どこかの地域 Ruby Meetup とか（その帰りに飲みに行くとか）で済んじゃうような気がしますね‥‥。
（企画倒れ）

難しい話は抜きにして「50 号おめでとう」とかのほうがいい気がしてきた！

[2015-05-11 01:11] gunjisatoshi commented on #324
pull request 出しました https://github.com/ruby/www.ruby-lang.org/pull/1071

（メールアーカイブが文字化けしてるけど気にしない）

[2015-05-11 01:14] hokkai7go opened #338 "0049号のプレゼントについて"
https://github.com/rubima/rubima/issues/304
から引き継ぎました。（closeされた課題で追いにくいので・・・）

途中からさっぱり動けていなくてすみません。。。
当選者決めるところからやる必要があります。
ひとまず、応募者リストのドキュメントに共有設定つけたいので
メールアドレス教えていただけますか。 @ko1

[2015-05-11 01:16] hokkai7go commented on #337
最近さっぱりるびまで動けていないのですが
発行を省力化するだとか、属人化しないための方策とか考えたいなぁと思っているので
やれるようなら合宿か、るびま自体のふりかえりとかやりたいです。

[2015-05-11 02:46] ko1 commented on #338
On 2015/05/11 10:14, Yutaro Sugai wrote:

ko1@heroku.com でお願いします。でも、てきとーにそちらで当選者だけ決め
て、それをメールしてもらっても良いデスよ？

--
// SASADA Koichi at atdot dot net

[2015-05-11 12:36] miyohide commented on #337
合宿だとハードルが高い気がします。 @hokkai7go さんが言われている「ふりかえり」をやるっていうのはいいかもしれませんね。どっかの会議室に集まって、2〜3時間ぐらいお話するってイメージです。

[2015-05-12 04:19] gunjisatoshi commented on #337
@miyohide @hokkai7go ではそんな感じでいきましょうか～。日時と場所を決めてしまって、あとは来れる方が来るという感じですかねえ。
（場所の当てがあればご提案をお願いします～）

[2015-05-12 11:33] hokkai7go commented on #337
場所はあんまり思いつかないですねぇ。
るびまは、結構いろんな場所に住んでいる人たちがいるので悩ましいです

[2015-05-12 11:44] hokkai7go commented on #338
@ko1 当選者を決めて、メールしましたー。確認よろしくお願いします。

[2015-05-12 11:46] hokkai7go commented on #338
それはそれとして、るびまへの感想もいただいていますので
メールアドレスなどを消した状態で共有したいと思っています。

[2015-05-12 11:54] gunjisatoshi commented on #337
そーいえば全然関係ないんですが、最近（でもないか）うちのそばにこんな施設ができたので利用してみたいなあとか思ったりもしました。

http://www.cp-bigship.net/%E8%B2%B8%E9%A4%A8%E6%96%BD%E8%A8%AD%E3%81%AE%E4%BA%88%E7%B4%84/

小会議室でも24人いけるみたい。3時間半の利用で 2,200 円。Honjo.rb でも始めようかしらん。

[2015-05-12 12:09] miyohide commented on #337
場所については、ルノアールの会議室はいかがでしょうか。
http://www.ginza-renoir.co.jp/myspace/

あと、とりあえず今の時点で手を上げている人たちがアクセスしやすい場所に決めちゃっていいような気がします。

[2015-05-12 13:01] ko1 commented on #337
休日で少人数でしたら、弊社会議室（丸の内）も可能です。
ただし、Guest wifi 遅いです。

[2015-05-12 13:31] gunjisatoshi commented on #337
@ko1 おー、それはぜひお願いしたいです！
直近で可能な日程をいくつかいただいて、そこで決めちゃいましょうか。

[2015-05-12 14:31] ko1 commented on #337
私のスケジュールを見たら、土日だと 5/30, 31 となっておりました。ちょっと、遅すぎるでしょうか。

[2015-05-12 22:11] gunjisatoshi commented on #337
ちょうどいいんじゃないでしょうか～。
あとはこのスレに参加している方の都合を聞いて、良さそうなら ML でも他の方に参加意思を聞いてみましょう。

というわけで 5/30 と 5/31 の都合はいかがでしょう？＞ @miyohide @hokkai7go

[2015-05-13 00:06] hokkai7go commented on #337
僕もちょうどいいです。
どちらの日程も昼あたりから夕方にかけてであれば問題ありません

[2015-05-13 00:34] miyohide commented on #337
31日は終日OKです。
30日はまだ未確定な予定があります(15日に確定予定)ので、それ次第といった感じです。

[2015-05-13 00:40] gunjisatoshi commented on #337
では 5/31(Sun) お昼あたりから夕方あたりで仮決めして、とくに問題ないようであれば今日中くらいに他の参加者を募る、みたいにしましょうか。

お手数ですが会議室の仮押さえをお願いします！＞ @ko1

[2015-05-13 16:50] yurie commented on #328
このたびはお世話になりました。
この記事のおかげでデバッガの名前も決まりましたし、大変感謝しています。（命名した本人は記憶にないそうですが・・・w）

なかなか るびま読者層が興味を持ちそうなネタができないので、それだったらいけるかも？ってのが出てきたら、またお声がけいただけると幸いです。

早速、すとうさんから誤字の指摘をいただきました。

修正可能でしょうか？
可能でしたらやり方を教えてください。よろしくお願いします！

[2015-05-14 00:00] gunjisatoshi commented on #328
やまねさん

郡司＠るびま編集部です。

修正は直接実施いただいてかまいません！

http://magazine.rubyist.net/?c=login

にアクセスいただいて、以前お伝えしたアカウントにてログイン後に、

http://magazine.rubyist.net/?0050-nomitory

の右上の「編集」を押してHiki記法にて
原稿の修正をお願いいたします！
（Hiki 記法については下記をご参照ください）

http://hikiwiki.org/ja/TextFormattingRules.html

2015年5月14日 1:50 yurie <notifications@github.com>:

[2015-05-14 03:49] yurie commented on #328
ありがとうございます。
修正できました！

[2015-05-18 04:04] ko1 commented on #337
現在会議室について、調整中です。

なお、ビルに入る、出る時には、私のアテンドが必要になりますので、遅刻・早退をなるべくないようにして頂けると助かります。

[2015-05-18 06:51] ko1 commented on #337
多分、大丈夫です。8人の会議室で足りるかな。

[2015-05-18 07:05] gunjisatoshi commented on #337
@ko1 ありがとうございます！　いまのところ8人で大丈夫そうですね。
あとはアテンドが必要ということであれば集合時刻も決めてしまったほうが良いですね。13:00 からがいいですかねえ。

[2015-05-18 11:49] miyohide commented on #337
@gunjisatoshi さん、13:00からでよいかと。

[2015-05-20 06:16] ko1 commented on #337
5/31 (Sun) 12:30-18:30 で会議室を取りました。
昼飯から集まるか、昼飯後集まるか、という感じでしょうか。

編集会議の交通費を、Rubyの会様に聞いてみるのは手かもしれません。

[2015-05-20 12:31] SugHimsi commented on #337
記事のあたまにあるチェックボックス、もう少し“つぶしていけそうな”形を考えてみました。
(参加を表明しているわけではありません。)

[X] 日時と場所の決定
[X] 参加者募集、
[ ] 募集の〆切(日の設定から)
[ ] 参加者と補助希望額ネゴ
[ ] 日本 Ruby の会様と補助額ネゴ
[ ] 参加者にリマインダ発信
[ ] 当日の緊急連絡法確立・連絡先確保

[2015-05-21 14:46] suchi opened #339 "浜松Ruby会議01レポート"
手順をしっかり踏んでいなかったようで申し訳ありません。

@suneo3476 さんと私 (@suchi) で担当いたします。

開催日は3/28(土)でした

[2015-05-21 15:02] miyohide commented on #339
@suchi さん、ご連絡ありがとうございます。るびま編集チームの @miyohide と申します。浜松Ruby会議の開催、お疲れ様でした。

次回のるびまは8月頃のリリースを予定しておりますが、詳細は未定となっております。大まかなスケジュール感は、

- リリースの1ヶ月前が、記事の目次・アウトラインの締め切りのめど
- リリースの2週間前が、記事の締め切り
- リリースまで、校正を実施。

となっておりますので、ご認識いただけますと幸いです。

記事につきましては、最終的にはHiki記法で書く必要があるのですが、初稿においてはMarkdownなどでも問題ありません。

記事として書く内容につきましては、最近のるびまに掲載されている各種地域Ruby会議レポートを参照してください。

まずは、ご連絡まで。ご質問等ありましたら、お気軽にお問い合わせください（このIssueへの書き込みでOKで

[2015-05-21 15:36] suchi commented on #339
ありがとうございます。再来週までには初稿が提出できる見込みです。よろしくお願いします。

[2015-05-21 23:42] gunjisatoshi commented on #337
https://github.com/ruby-no-kai/official/issues/177#issuecomment-104102223 にて、交通費は出してもらえそうだったので遠方の方もご参加につきご検討いただければと思います :smiley:
（おそらく飛行機なり新幹線なりのチケット購入時に日本 Ruby の会様宛の領収書をもらえばそれが確証になるかと思いますので、もし来られる際は領収書をお忘れなく）

いずれにせよ費用の相談のためにいったん参加者募集の締め切りを決めましょうか。一週間前の 5/24(Sun) あたりにしますかね。

[2015-05-22 14:26] miyohide commented on #339
@suchi さん、了解しました。

私が担当しますので、初稿は「 miyohide _atmark_ gmail _dot_ com 」（ _atmark_ は＠に _dot_ は「.」に変更してください）に送信してください。

また、るびま編集用アカウントを発行いたします。初稿送付時に、必要となるアカウント数と希望ユーザ名を明記していただけますと助かります。

それでは、初稿お待ちしております。

[2015-05-22 15:21] suchi commented on #339
承知しました。でき次第お送りします。

[2015-05-24 09:45] miyohide opened #340 "みなと Ruby 会議 02 レポート"
Yokohama.rbから参りましたみよひでです。

Yokohama.rbのメンバーが主体となって開催する地域Ruby会議、みなとRuby会議02を2015年10月11日（日）に開催しますので、レポートIssueを立てます。

たぶん、私がレポートを書くような気がします。

[2015-05-27 13:57] miyohide commented on #337
@gunjisatoshi さん、 @hokkai7go さん、 @ko1 さん、 @SugHimsi さん、今度の日曜日が開催予定日です。

集合場所と時間を決めたいです。場所は丸の内のJPタワーでしょうか？
http://www.salesforce.com/jp/company/direction.jsp

[2015-05-27 14:22] SugHimsi commented on #337
集合時間ですが__現地での食事の都合がよい__時間を提示いただければ(当方はその辺の事情よく分からず…)、_なるべく_ 合わせます。

[2015-05-27 14:41] ko1 commented on #337
はい、JPタワーになります。

休日で、普通の扉は開いていないので、
KITTE 1F から JPタワーオフィスフロアに入る手前の自動ドアでお集まり頂く感じになるかと思います。
13:00 にそこにお集まり下さい。
多分、行けばわかると思いますが、わからなかったら適当に twitter などで聞いて貰う感じで。

昼食なら、1時間程度でしょうか。
12:00 にどっかで集まって食べて頂き、13:00 にオフィスフロアで合流という感じで。

あと、会議室でお弁当食べることも可能です。アイスブレイクのために、お弁当を 13 時集合時に買って、食いながら会議、でもいいかもしれませんね。お任せします。

各自のご意向を聞いておけると助かります。

[2015-05-27 23:40] gunjisatoshi commented on #337
これが楽な気がしますねー。食べながらだと集合時間はもうちょっと早くても良いかもしれないので「12:30 集合、その時点で（必要な人は）お弁当持参」にしましょうか。

なお、領収書の宛名は「一般社団法人日本Rubyの会」だそうですので領収書をもらう際にはご留意ください。 https://github.com/ruby-no-kai/official/issues/177#issuecomment-105349528

[2015-05-28 02:38] ko1 commented on #337
おっと、会議室は 13 時から空調がつくようにしているんで、ちょっと暑いかも。
12:30 集合、飯の調達開始、でどうでしょう。私がいると、地下 1F でお弁当が1割引です。

[2015-05-28 05:58] gunjisatoshi commented on #337
ありがとうございます！　では 12:30 集合してお弁当を買いに行く、ということにしましょう！

集合場所は「KITTE 1F から JPタワーオフィスフロアに入る手前の自動ドア」のままで良いでしょうか。

[2015-05-28 07:08] ko1 commented on #337
はい、それが良いかと思います。人も少ないですし。

[2015-05-28 12:15] miyohide commented on #337
@gunjisatoshi さん、 @ko1 さん、了解しました。調整ありがとうございます。

5/31（日） 12:30 に「KITTE 1F から JPタワーオフィスフロアに入る手前の自動ドア」付近に集まります。

[2015-05-28 21:16] SugHimsi commented on #337
集合時間と場所、諒解しました。
おなかをすかせてうかがいますが、そちらのお弁当は、おいくらくらいのものでしょうか。

[2015-05-29 05:52] ko1 commented on #337
高くても1000円弱くらいかと思います。（いや、もっと高いのもあるようですが）
昼食代は、Rubyの会が出してくれるそうです。

[2015-05-30 16:09] hokkai7go commented on #337
会場提供ありがとうございます！
時間と場所承知しました。

[2015-05-31 04:20] gunjisatoshi commented on #337
全員そろったので、そろそろ始めます。

[2015-05-31 04:31] ko1 opened #341 "0050 プレゼント"
@takkanm
http://magazine.rubyist.net/?0050-Present

これ、どうなってますか？

[2015-05-31 04:35] takkanm commented on #341
締め切りが今日までなんで、来週中には抽選しようかと

2015年5月31日日曜日、Koichi Sasada<notifications@github.com>さんは書きました:

[2015-05-31 04:39] ko1 commented on #341
ありがとう。

[2015-05-31 04:46] gunjisatoshi commented on #322
@shyouhei @snoozer05 だいぶ時間が経ってしまいましたが、状況いかがでしょうか。

[2015-05-31 05:12] gunjisatoshi commented on #319
@oshow すみません、この記事の状況はいかがでしょうか。

[2015-05-31 05:16] hokkai7go commented on #300
@yukaina お疲れ様です。こちら、 08 の件はどのような状況でしょうか。
厳しいようでしたら、お知らせください。

[2015-05-31 05:17] gunjisatoshi commented on #296
いま @ko1 さんに確認して、ちょっと無理そうなので本件クローズします。

[2015-05-31 05:17] #296 closed

[2015-05-31 05:19] oshow commented on #319
@gunjisatoshi 進展なしです。。僕だけじゃなく他の人に協力頂いた方がよいかもしれません。

[2015-05-31 05:20] hokkai7go commented on #294
るびま編集会議から来ました。

こちら、時間が経ってしまったものの出せていないので、掲載しない方向になりました。
チャレンジングではあったのですが、「るびま編集部員が頑張り過ぎない範囲で寄稿する形」での掲載は
まだまだ見直すところがあったようです。

[2015-05-31 05:20] #294 closed

[2015-05-31 05:20] gunjisatoshi commented on #20
@hsbt この記事どうしましょうか（予定が未定であればもう閉じてしまおうかという話をしています）

[2015-05-31 05:23] gunjisatoshi commented on #66
ちょっと今話をして、すみませんがこちらいったん閉じます。また書くモチベーションが湧いてきたら別 Issue として管理したいと思います。

[2015-05-31 05:23] #66 closed

[2015-05-31 05:25] gunjisatoshi commented on #52
いまさっき話をして、とりあえずちょっと実現しそうもないので閉じさせていただきます。

[2015-05-31 05:25] #52 closed

[2015-05-31 05:44] ko1 opened #342 "RubyKaigi の submission form に要望を出す"
@takahashim @kakutani @shyouhei @amatsuda

RubyKaigi の submission form に、
「あとでるびまに記事を書く」というチェックボックスを付けて貰い、選考に勘案してもらえないか交渉する。
チェックを入れた人の情報は、るびま編集部に情報が行くとか。

[2015-05-31 05:57] gunjisatoshi opened #343 "magazine at ruby-no-kai org の宛先に @miyohide を追加する"
そういえばこのアドレスの管理って誰にどう頼めばいいんでしたっけ‥‥。

[2015-05-31 06:04] hsbt commented on #342
:+1: これはいいアイデア

[2015-05-31 06:11] yukaina commented on #300
@hokkai7go すみません、まだ、まとめていないです。
メモは取ってあるので、進められないというわけではないので、まとめはじめますね。

[2015-05-31 06:47] hokkai7go opened #344 "MLを廃止し、Idobataに移行する"
るびま編集会議から来ました。

（この内容は後で、MLに流して周知します）

MLは廃止しようという流れになりました。
MLの使用は非推奨とし、リリース時などリアルタイムにコミュニケーションを取る必要がある場合は
Idobataを使用することになりました。

コミュニケーションツールは今後、以下のようにしたいと思います。
・ML→廃止
・GitHub Issue→継続
・IRC→Idobata

編集者のみなさんは、以下のリンクから 6/14(日) までに roomに入って欲しいです。
入ってもらったのを確認後、Guestではアクセスできないようにしたいと思っています。

https://idobata.io/organizations/rubima/rooms/rubima/join_request/b8133b76-9519-466b-8fd6-db7531def58f

それ以降は、

[2015-05-31 07:01] ko1 opened #345 "自己紹介スレ"
ここに編集者の自己紹介を書いてください。意気込みとか。

例：
Heroku, Inc. のささだです。
普段は Ruby の開発をしています。
@ko1 に編集に誘われました。
Ruby に興味があるので、るびまの編集に協力させて下さい。
あまり時間がないので、リリース前のチェックなどができればと思っています。
よろしくお願いします。

[2015-05-31 07:06] hokkai7go commented on #300
@yukaina わかりました！連絡ありがとうございます
ご無理のない範囲で、よろしくお願いします。

[2015-05-31 07:07] SugHimsi commented on #345
sughimsi (すぎむし) です。るびま編集会議にふらっと来ました。
今後は記事のプルーフリーディングなど、できるところで貢献したいと思います。
よろしくお願いします。

[2015-05-31 07:08] ko1 commented on #344
期日を過ぎた後の instruction は？

[2015-05-31 07:13] ko1 commented on #343
@snoozer05 わかりますか？

[2015-05-31 07:15] miyohide commented on #337
今日の議事メモです。

[code]

[2015-05-31 07:15] ko1 commented on #301
@tokumasa こちら、今現状ですと、どう思われますでしょうか。

[2015-05-31 07:16] snoozer05 commented on #343
登録するメールアドレスを教えていただけたら、ぼくの方で登録可能ですー

[2015-05-31 07:17] ko1 commented on #293
これは誰かやる気のある人って感じですかねえ。

[2015-05-31 07:21] miyohide commented on #343
@snoozer05 さん、 miyohide ＠ gmail.com でおねがいします。

[2015-05-31 07:21] snoozer05 commented on #322
状況は今のところ日程の調整で止まっているという感じかと...
6月の週末は既にすべて予定が埋まってしまったので、週末ということだと7月以降でしたら調整できそうです...

[2015-05-31 07:23] snoozer05 commented on #343
登録してみたつもりです。テストメールを送ってみますね。

[2015-05-31 07:26] snoozer05 commented on #343
送りました。届きましたでしょうか

[2015-05-31 07:28] ko1 commented on #337
次は RubyKaigi 2015 で。

[2015-05-31 08:34] kakutani commented on #342
発表したいという人のコンテンツに関連する情報を共有できると、記事あつめの観点からはよさそうですね(CFPには落選したけど、るびまの記事としての価値は十分にありそう、みたいなのは過去の応募にもありそう)。

「るびまに書くっていうと通りやすくなる」みたいなのは、それが良いことなのか判断つかないです。

[2015-05-31 08:53] ko1 commented on #342
どう勘案するかは、勿論選考者による基準になるかと思います。
一個人としては、発表だけだと勿体ないので、記事化は＋ポイントになると良いなと思います。

[2015-05-31 11:04] miyohide commented on #343
@snoozer05 さん、届きました。早速の対応有難うございます。

[2015-05-31 11:04] #343 closed

[2015-05-31 11:22] miyohide commented on #318
@sho-h さん、こんにちは。

松江Ruby会議 06のレポートですが、状況いかがでしょうか。今のところ、次号は8月頃のリリースを考えております。

[2015-05-31 20:33] amatsuda commented on #342
確かに面白いアイデアではあるけど、選考に勘案とか以前にCFPのフォームには入れたくないです。
理由は、ひとことで言うなら方向性のミスマッチです。

RubyKaigiは国際カンファレンスを志向しているし、実際海外からの応募がかなり多くなってきています。CFPの受け付けは英語で行うし、サブミットも英語で書いてもらうことを推奨します。
一方でるびまはあくまでも国内メディアですよね。ごく稀に海外の著者の記事を翻訳して載せたケースもありますが、それはあくまで編集なり訳者なりが著者と個人的なつながりがあった場合に限られていて、基本的にるびまは日本人が日本語で日本の読者に向けて書いた記事を載せるメディアですよね。英語版が出てるわけでもないので、海外にはまったくリーチしていません。これべつに批判してるわけじゃなくて、僕はるびまはそれで良いと思ってます。

つまり、国際カンファレンスのCFPフォームに謎の

[2015-05-31 20:52] ko1 commented on #342
個人的には不信感は抱きませんが、RubyKaigi 主催者がそのような判断をされるのでしたら、それが尊重されるべきであると考えます。

[2015-05-31 22:52] ore-public commented on #345
小西です。
普段はRailsでアプリケーションの開発しています。
18号か19号くらいの時に、るびま止めるかみたいな話が出たのがきっかけで参加しました。
ここ数年、ほとんど出来てないですが、余裕あるときはプルーフリーディングとか
出来る範囲でやりたいと思っています。

[2015-06-01 00:38] sho-h commented on #318
@miyohide さん、お知らせありがとうございます！

現在半分強くらいできていて、残りの分も止まっていたのですが作業を再開する動きになってきたところです。できれば今月一杯、難しそうなら来月一杯くらいか次号の締め切りまでに仕上げて51号掲載という風にできればと考えているところです。

[2015-06-01 14:09] hsbt commented on #344
議論を追えてないので、あくまでも外野の意見ですが ML を廃止するということと、IRC を Idobata にしようというのは全く関係のない別の問題のように見えました(それを承知のうえでとにかく Idobata にしよう、ということならそれはそれで良いです)

[2015-06-01 14:09] hsbt commented on #20
最近興味あるネタが変わってきているので閉じます!

[2015-06-01 14:09] #20 closed

[2015-06-02 04:44] gunjisatoshi commented on #344
補足です。

1. もともとは「コミュニケーションツールを整理しましょう」という話でした
2. 現状を分析したところ「日々の編集」は ML と GitHub、「リリース直前等のリアルタイムコミュニケーション」は IRC を使っているらしい
3. 「日々の編集」は GitHub に集約しましょう (MLは非推奨)、リアルタイムコミュニケーションは IRC をやめて idobata にしましょう、ということになりました

私はまあとくに意見を持ち合わせていないので、若くて活発なメンバーのやりやすいようにしていただく分にはぜんぜんかまわないのですが、編集会議に参加していない人たちだけで決めるのはちょっと乱暴じゃないかという話はまあ確かにそうですので、何か異論があればこの Issue か別 Issue を立てるかして議論しましょう。

そしてもうちょっと個人的な思いを書くと、「間違っていてもいいか

[2015-06-02 08:32] takahashim commented on #293
これ、わりとやる気はあるのですが、一番悩んでいるのが表紙ですね…

[2015-06-02 13:22] miyohide commented on #318
@sho-h さん、ご連絡ありがとうございます。

スケジュール感、了解しました。記事、楽しみにしております。

[2015-06-02 13:30] miyohide commented on #345
みよひでです。普段はいわゆるSIerでRubyの布教を行っております。

読者さんに興味を持って頂けるような記事を集め、スムーズに掲載するお手伝いをさせていただければと思っております。小心者な自分ですが「るびま編集から参りました」といえば、すごい人とお話ができて交流できるというのは、るびまが持つバリューだと思っています。

これからも、このバリューを最大限活用しつつ、記事を載せていければと思っております。よろしくお願いします。

[2015-06-06 13:35] miyohide commented on #315
2015年5月31日（日）の編集会議で対応済みということをヒアリングしましたので、Closeします。

[2015-06-06 13:35] #315 closed

[2015-06-06 13:36] miyohide commented on #338
2015年5月31日（日）の編集会議で対応済みということをヒアリングしましたので、Closeします。

[2015-06-06 13:36] #338 closed

[2015-06-06 13:39] miyohide commented on #324
pull requestがマージされていますので、閉じちゃいますね。

50号、お疲れ様でした。

[2015-06-06 13:39] #324 closed

[2015-06-06 13:41] miyohide commented on #337
議事メモをWikiに起こしました。
https://github.com/rubima/rubima/wiki/EditorialMeeting50

完了しましたので、Closeしますね。お疲れ様でした。

[2015-06-06 13:41] #337 closed

[2015-06-08 12:58] znz commented on #337
Wiki の方ですが、閉じ括弧が全角だとそこまで自動リンクに含まれてリンク切れになっているように見えます。

[2015-06-08 18:00] miyohide commented on #337
@znz さん、ご指摘ありがとうございます。修正しました。

[2015-06-09 03:50] hokkai7go commented on #345
すがいです。よく使うハンドルネームは hokkai7go です。

カンファレンスのレポートをよく書いていました。その流れでるびまにもするりと入ってきました。
いろいろ課題があると認識しているので、るびまを良くするために何が出来るかなと考えています。
よろしくお願いします。

[2015-06-09 11:43] takkanm commented on #341
当選者発表、ならびに当選連絡のメールをだしました

[2015-06-09 12:05] ko1 commented on #341
:+1:

[2015-06-10 03:43] takkanm commented on #341
当選者の方から住所をいただいたので、週末には送付予定。
送料を日本 Ruby の会から援助していただけないかを issue にしております。 https://github.com/ruby-no-kai/official/issues/186

[2015-06-11 04:04] gunjisatoshi opened #346 "RedDotRubyConf 2015 レポート"
@igaiga さんより RedDotRubyConf 2015 参加レポートを寄稿予定というお話を伺っておりますので、取り急ぎ Issue といたします。

[2015-06-11 05:45] igaiga commented on #346
@gunjisatoshi ありがとうございます！

[2015-06-11 09:36] takkanm commented on #341
本日、当選者の方への発送が完了しました。
感想をまとめたら close にします。

[2015-06-11 14:44] kurotaky commented on #345
はじめまして、ペパボのくろたき(@kurotaky)です。

Yokohama.rbでみよひでさんに声をかけていただきました。
るびまはいつも読者として楽しんでいましたが、
今回(51号)からできる範囲で協力したいと思っています。よろしくお願いいたします!

[2015-06-12 21:41] zunda commented on #345
zundaです

最近Herokuのサポートになりました。体調を崩してからあんまり編集できていないのですが、そろそろ復活したいです。よろしくお願いします！

[2015-06-15 09:19] gunjisatoshi opened #347 "0051 号の進行役を決める"
次の号の進行役を決めるための Issue です。どなたかやってみたい、という方はいらっしゃいませんか。

参考までに直近 5 号の進行役は下記です。

* 0050 号は @sunaot さん https://github.com/rubima/rubima/issues/221 多忙のため途中 @gunjisatoshi に交代 https://github.com/rubima/rubima/issues/324#issuecomment-96494407
* 0049 号は @muryoimpl さん https://github.com/rubima/rubima/issues/303
* 0048 号は @takkanm さん https://github.com/rubima/rubima/issues/290
* 0047 号は @sunaot さん https://gith

[2015-06-30 11:14] gunjisatoshi commented on #346
@igaiga 遅くなりましたが、空のページを作りました！

http://magazine.rubyist.net/?0051-RedDotRubyConf2015

[2015-06-30 11:21] gunjisatoshi commented on #345
書いていないことに気がついた！！１

郡司です。

普段は Excel を使って仕事をしてますが、たまに Excel から tsv を生成して Ruby でデータの処理をしたりしています。

るびまとの関わりはもう何がきっかけだったかは忘れてしまいましたが、読者としては 2005 年くらいから、記事の執筆者としては大江戸 01 のレポートあたりから、編集者としては yugui さんの Hotlinks のテープ起こしあたりから関わっているような気がします。

るびまには最近はあんまり関われていませんが、これからもできる範囲で参加したいと思いますのでよろしくお願いします！

[2015-07-01 14:42] vestige opened #348 "とちぎRuby会議06のレポート"
2015/06/20 に”とちぎ06”が無事に行い終わりました。
なので、あとはレポートを書くだけです。
今回、書くのは僕ではないのですが、issueをたてて、レポート班との連絡を行っていきます。

[2015-07-02 01:11] gunjisatoshi commented on #348
@vestige ご連絡ありがとうございます！　（とちぎ Ruby 会議、またも体調不良で行けませんでした。ざんねん）
引き続きよろしくお願いします :bow:

[2015-07-02 05:29] kbaba1001 commented on #332
@sunaot 引き受けたきり音沙汰がなくてすみません。
今月は時間がありそうなので書かせていただきたいと思います。

ただ、私の興味として statesman より [monban](https://github.com/halogenandtoast/monban) という authentication に関する gem への関心が高まっておりまして、もし差し支えなければ monban をテーマとした記事を書かせていただきたく思います。
概要としては、 monban は新しく知名度が低い gem なので devise や sorcery などの同系統の gem との比較や、カスタマイズの方法について紹介したいと考えております。
勝手なお願いで恐縮ですが、ご検討頂きたいです。

[2015-07-04 12:31] shyouhei commented on #322
これ明日やります。

[2015-07-04 12:39] gunjisatoshi commented on #322
@shyouhei @snoozer05 当日はよろしくお願いします！

（ちなみに野次馬も十分そうだったので、募集とかは特にしてません）

[2015-07-05 06:42] shyouhei commented on #322
実施しました。録音済みですが結局どうしますか? テープ起こしします?

参加者は 島田さん、卜部夫妻、設楽さん、前田さん、佐藤さん、今津さん、角谷さん、須藤さんでした。

[2015-07-05 07:09] snoozer05 commented on #322
しまだRuby会議の資料です https://dl.dropboxusercontent.com/u/175923/20121027-ShimadaRubyKaigi.pdf

[2015-07-05 07:12] gunjisatoshi commented on #322
@shouhei @snoozer05 おつかれさまでした！

テープ起こしはここで募集すると埋もれてしまうので、別 Issue で募集したほうが良いですかねえ。

[2015-07-05 07:14] gunjisatoshi opened #349 "Rubyist Hotlinks テープ起こしの募集"
https://github.com/rubima/rubima/issues/322 の件ですが、インタビューについては無事終了したようですのでテープ起こしをやりたいという方を募集します。

どなたかやってみませんか。

[2015-07-07 13:33] miyohide opened #350 "寄稿記事「Rubyで暦を研究する」"
- [x] 担当を決める
- [x] 作者から概要をもらう
- [x] 作者から目次アウトラインをもらう
- [x] 作者から記事をもらう
- [x] もらった記事を編集Wikiに転載する
- [x] 編集Wikiの記事を校正する
- [x] 編集した記事を作者に確認してもらう
- [x] 編集MLに作者からの確認が完了した旨を伝える
- [x] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [x] 作者にお礼を伝える

@swallow-life さんより、「Rubyで暦を研究する」という記事を寄稿頂きました（原稿はメーリングリストに展開済み）。

作業進捗用として、Issueを立てておきます。よろしくお願いします。

[2015-07-08 01:39] sunaot commented on #332
@kbaba1001 いえ、こちらこそ状況の確認などせずすみません。

ありがとうございます！

関心の高いものについて書いていただくのが一番なので、monban での寄稿歓迎です。なかなかスタンダードが決まらないところで、読者の興味も高いものだと思うので楽しみにしています。

[2015-07-08 10:54] SugHimsi commented on #349
今週であれば5分間分くらいは文字起こしできると思います。

[2015-07-09 09:15] shyouhei commented on #322
データ受け渡しどうしますかねえ。

[2015-07-10 01:23] gunjisatoshi commented on #322
大きなファイルの共有は毎回悩みどころですね‥‥。

以前（こさきさんインタビューの時）は Dropbox で共有いただいて URL を個別にお伝え頂いたかと思いますが、容量的に問題なければ今回もそんな感じでお願いできますでしょうか。

[2015-07-10 01:55] sho-h opened #351 "松江 Ruby 会議 07 レポート"
松江 Ruby 会議07を開催するため、レポート作成 Issue を起こします。

レポート担当は @sho-h 他数名です。
開催は2015.9.26(土)です。よろしくお願いします。

[2015-07-12 12:46] ogom opened #352 "関西Ruby会議06のレポート"
[関西Ruby会議06](http://regional.rubykaigi.org/kansai06/)を開催しました。レポート作成 Issue を起こします。

開催日は 2015年7月11日 (土) です。
レポート担当は @ogom です。

よろしくお願いします。

----

- [x] 作者から概要をもらう
- [x] 作者から目次アウトラインをもらう
- [x] 原稿を受け取る
- [x] ページ名を決める ( http://magazine.rubyist.net/?0050-XXXX の XXXX の部分)
- [x] 上記名前で auth つきで空ページをつくる (auth つきだとログインしないと見えない)
- [x] 上記で作った空ページにいただいた原稿を転記する
- [x] るびまWiki のアカウントを作って著者の方にお伝えする
- [x] 転記した記事を著者

[2015-07-12 12:48] muryoimpl commented on #352
私、担当しようと思います。

[2015-07-12 12:50] miyohide commented on #351
@sho-h さん、Issueの作成ありがとうございます。

松江 Ruby 会議 07、頑張ってください。

[2015-07-12 13:34] muryoimpl commented on #352
@ogom さん、issue の作成ありがとうございます。

レポートについては markdown や hiki で作成いただいた後、るびまの本サイトに非公開のかたちで登録して、リリースまでの間、そこで細かい修正を行った後、リリース時に公開、という流れになっています。
TODO を description に書かせていただきました。上のような流れで進めていく予定でおります。

もし、原稿作成でわからないことがありましたら、お気軽に質問いただければと思います。
よろしくお願いします。

[2015-07-12 13:37] ogom commented on #352
原稿は markdown で作成する予定です。公開までよろしくお願いします。

[2015-07-12 23:34] sho-h commented on #351
@miyohide さん、ありがとうございます！頑張ります。

[2015-07-14 02:31] shyouhei commented on #349
ちなみにデータは卜部の手元にあります。

[2015-07-15 23:38] gunjisatoshi commented on #347
結局だれもいなそうなので @gunjisatoshi が引き取ります。

[2015-07-15 23:38] #347 closed

[2015-07-15 23:46] gunjisatoshi opened #353 "0051 号のリリース時期を決める"
とりあえず仮置きしますので、問題あればコメントください。今週中くらいには決めちゃいましょう

* 記事申し込み・概要締め切り
    * 7/26 (日)
* 記事の目次、アウトライン締め切り
    * 8/9 (日)
* 記事の締め切り
    * 8/16 (日)
* 校正完了、リリース
    * 9/6 (日)

参考: #324

[2015-07-16 00:08] gunjisatoshi opened #354 "11 周年記念企画について議論するスレ"
次号は 11 周年記念号になるんですが、実は[前回の 10 周年記念号](http://magazine.rubyist.net/?0048)から 3 号しか進んでないんですね‥‥。なので 3 号に 1 回が n 周年記念号になるのもどうかなあという気がしなくもないです‥‥。

いつもは「[Rubyist Magazine へのたより](http://magazine.rubyist.net/?0048-Comments)」と「[Rubyist Magazine n 周年](http://magazine.rubyist.net/?0048-EditorComment)」という記事を毎回作っているんですけど、これどうしましょう。今後も必要ですかねえ。発行ペースが今くらいなら、2 年に一回にするとか、ちょっと考えてもいいかもしれません。

その他、やりたい企画などありましたら自由にご提案くだ

[2015-07-16 02:30] miyohide commented on #339
@suchi さんより記事をいただきましたので、ご連絡いたします。51号を目処に編集いたします。

- [x] 担当を決める
- [x] 作者から概要をもらう
- [x] 作者から目次アウトラインをもらう
- [x] 作者から記事をもらう
- [ ] もらった記事を編集Wikiに転載する
- [ ] 編集Wikiの記事を校正する
- [ ] 編集した記事を作者に確認してもらう
- [ ] 編集MLに作者からの確認が完了した旨を伝える
- [ ] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [ ] 作者にお礼を伝える

[2015-07-16 02:42] gunjisatoshi commented on #339
おつかれさまです。浜松 Ruby 会議 01 には私も参加していたので、どんな感じのレポートか楽しみです :smile:

[2015-07-16 02:49] miyohide commented on #339
@suchi さん。
るびま編集用アカウントをメールでご連絡いたしました。ご確認いただけますと幸いです。

[2015-07-16 03:55] suchi commented on #339
確認いたしました。また執筆の藤森さんにも連絡いたしました。ありがとうございました。

[2015-07-16 16:12] ogom commented on #352
原稿を書きました。GitHub Pages で開示するために画像のURLが liquid の形式になっています。
https://raw.githubusercontent.com/rubykansai/kansai06/gh-pages/report/index.md

`{{ site.baseurl }}`は`http://regional.rubykaigi.org/kansai06`です。

[2015-07-17 05:28] gunjisatoshi commented on #349
@shyouhei ファイルの受け渡しをどうしましょうか（問題なければ以前のように Dropbox などの共有ストレージサービスで共有いただけると助かります）

[2015-07-17 06:00] muryoimpl commented on #352
@ogom 早速の原稿ありがとうございます。
hiki化してるびまサイトに登録したら、確認できるアカウント情報とURLをご連絡差し上げますので、少々お待ちください(この週末に対応予定でおります)

[2015-07-17 06:17] shyouhei commented on #322
データすでにdropboxに置いてありますがURLどうしますか? ここに書くとみんなアクセスできちゃうしな。

[2015-07-17 06:25] gunjisatoshi commented on #322
ではとりあえず私宛にURLをお願いします！
（ご協力いただける方に展開します）

[2015-07-17 10:29] ogom commented on #352
@muryoimpl よろしくお願いします。
hiki化にするときに集合写真とアフターパーティーの写真は横並びに３枚並べてもよいかなと思っております。ご対応が可能ならよろしくお願いします。

[2015-07-18 15:14] miyohide commented on #339
@suchi さん。
取り急ぎ、頂いた原稿を記事化しました。お手数ですが、先日お知らせしたユーザIDとパスワードでログインしていただき、その後、下記URLにアクセスしていただけますでしょうか。
http://magazine.rubyist.net/?0051-HamamatsuRubyKaigi01Report

修正に関しましては、ここでお知らせしていただけると編集部の方で修正します。
また、ご自身でも修正可能です。修正方法については下記URLを参照してください。
https://github.com/rubima/rubima/wiki/HowToMakeWikiPagePrivate

[2015-07-18 15:17] miyohide commented on #353
スケジュール、上記で賛成です。

[2015-07-18 15:44] gunjisatoshi commented on #349
@SugHimsi 遅くなりましたが音声ファイルのありかを個別にメールしましたのでご確認ください！
（内容聞いてないのでオフレコ具合は分からないのですが、取り扱いにはご注意ください）

[2015-07-18 16:59] muryoimpl commented on #353
次号掲載予定記事が把握できていないのですが、Hotlinksを掲載しようと考えた場合に、1ヶ月きった状態で文字起こしが収まりそうなのかどうか感覚的に判断できなくて、私はなんとも答えにくい、というのが正直なところです。

[2015-07-19 01:15] igaiga commented on #346
おおむね書けました。一晩寝かせて校正したら完成の予定です。

[2015-07-19 05:05] gunjisatoshi commented on #353
@muryoimpl Hotlinks は奇跡でも起きない限りは次号掲載は無理かと思われます :smile:

次号掲載予定記事はスケジュールを決めたあとで選定することになりますが、記事候補としては article ラベルが貼られた Issue をご参照ください。

https://github.com/rubima/rubima/labels/article

もしどうしても次号に掲載したいけど間に合わない、という記事があるのであれば（たとえば上記でご指摘の Hotlinks とか）ご相談ください。

[2015-07-19 05:07] gunjisatoshi commented on #346
@igaiga おお、ありがとうございます！　というわけで 0051 号掲載の方向で進めたいと思いますので、よろしくお願いします :smile:

[2015-07-19 23:04] zunda commented on #350
http://magazine.rubyist.net/?0051-FebruaryRectangleWithRuby に転載を始めました。

[2015-07-20 01:13] igaiga commented on #346
@gunjisatoshi 校正したのでこれで提出とします。なにか問題あれば編集などしていただいても構わないです。よろしくお願いします。m(_ _)m

[2015-07-20 02:45] zunda commented on #350
時間を取れそうですので編集を担当します。

[2015-07-20 02:58] gunjisatoshi commented on #346
@igaiga ありがとうございます！

[2015-07-20 13:24] SugHimsi commented on #349
@gunjisatoshi 前半(58分以前)は、9割くらいはオープンで問題ないような。

[2015-07-20 23:34] suchi commented on #339
ありがとうございます。とりあえず見逃していた「YouTube」の表記だけ統一しました。

[2015-07-21 02:11] gunjisatoshi commented on #353
とくに反対意見はなかったので、これで Fix とします。

本 Issue は備忘録として Open のままにしておき、0051 号のリリースのタイミングで Close する予定です。

[2015-07-22 12:04] kakutani commented on #349
クラウドソーシン的なやつも検討してみましょうか〜。ちょっとググったらRubyの会で出しちゃってもよさそうな金額感だった。RFP書くのがめんどくさそうだけど、試す価値はありそう。

[2015-07-22 23:27] gunjisatoshi commented on #349
そうですね、ご支援いただけるのであればぜひ（アウト｜クラウド）ソーシングを試してみたいなあという個人的な思いはあります（他の方から特に反対意見がなければ、ですが）。

ただなにぶん経験がないので（アウト｜クラウド）ソーシングを利用する際のノウハウとかをお持ちの方がいれば是非知見を伺いたいです！

[2015-07-23 06:59] zunda commented on #350
- [ ] 「2/1」などの日付の表記を「2 月 1 日」などとした方が読みやすいのではないか
- [ ] 配列を返す関数をirbで実行すると結果がみにくい。`puts`するのではなく`.join("\n")`した結果を返すのはどうか?
- [ ] あとがきの「相対位置」について説明が必要ではないか
- [ ] 著者について

[2015-07-28 05:57] gunjisatoshi opened #355 "0051 号の掲載記事を決める"
スケジュール https://github.com/rubima/rubima/issues/353 にあるとおり、すでに記事申し込み日を過ぎていますので掲載記事を決めたいと思います。

記事候補は https://github.com/rubima/rubima/labels/article を参照ください。

以前どこかで「巻頭言やアクセスランキング、編集後記などを除いて記事 3 本以上、うち一本は技術的な記事」が最低限のリリース基準という話がありましたが、現状では https://github.com/rubima/rubima/issues/350 と https://github.com/rubima/rubima/issues/346 の 2 本なのであと 1 本は欲しいところですね。

のちほど掲載号未定の各記事を ping してまわりたいとおもいます。

[2015-07-28 05:59] gunjisatoshi commented on #355
おっと見落としていました https://github.com/rubima/rubima/issues/339 も掲載予定なので、いちおう現時点でもリリース基準を満たしていることになりますね。

[2015-07-28 06:35] sunaot commented on #332
@kbaba1001 次号へのスケジュールがこのような進行になっているのですが、ご都合いかがでしょうか？
もし問題なければ、このまま9月リリース号掲載予定で進めるようにします。

* 記事の目次、アウトライン締め切り
    * 8/9 (日)
* 記事の締め切り
    * 8/16 (日)
* 校正完了、リリース
    * 9/6 (日)

via https://github.com/rubima/rubima/issues/353

[2015-07-28 15:27] znz commented on #355
https://github.com/rubima/rubima/issues/352 も掲載予定で良さそうに見えます。

[2015-07-29 23:08] gunjisatoshi commented on #352
0051 号の進行役の方から来ました https://github.com/rubima/rubima/issues/347

関西Ruby会議06のレポートの件ですが、0051 号 (スケジュールは https://github.com/rubima/rubima/issues/353 をご参照) の掲載という認識でよろしいでしょうか（よければ Labels の「掲載号未定」を「51号」に変更したいと思います）。

[2015-07-29 23:12] gunjisatoshi commented on #348
0051 号の進行役の方から来ました https://github.com/rubima/rubima/issues/347

とちぎRuby会議06のレポートの件ですが、0051 号 (スケジュールは https://github.com/rubima/rubima/issues/353 をご参照) の掲載を目指すかどうかの確認です (スケジュール的に厳しいようであれば次号以降としたいと思います)。

別のところで簡易なレポートにするかどうかの議論も進行中かと思いますが、まずは状況を共有いただきたく、よろしくお願いします :bow:

[2015-07-29 23:16] gunjisatoshi commented on #318
0051 号の進行役の方から来ました https://github.com/rubima/rubima/issues/347

松江 Ruby 会議 06 レポートの件ですが、0051 号 (スケジュールは https://github.com/rubima/rubima/issues/353 をご参照) の掲載を希望されていますが、変更ないでしょうか（よければ Labels の「掲載号未定」を「51号」に変更したいと思います）。

[2015-07-29 23:18] gunjisatoshi commented on #311
@sunaot すみません、本件の状況の共有をお願いできますでしょうか (0051 号のスケジュール https://github.com/rubima/rubima/issues/353 に乗りそうでしょうか)。

[2015-07-29 23:20] gunjisatoshi commented on #300
0051 号の進行役の方から来ました https://github.com/rubima/rubima/issues/347

Tokyu Ruby 会議 08 レポートの件ですが、0051 号 (スケジュールは https://github.com/rubima/rubima/issues/353 をご参照) の掲載を希望されるかどうかにつき確認させてください。

お忙しいところすみませんが、よろしくお願いします :bow:

[2015-07-29 23:23] gunjisatoshi commented on #355
@znz ありがとうございます！

とりあえず掲載意志の確認を ping して回りましたので、その回答をもって掲載記事候補をまとめたいと思います。

[2015-07-30 00:20] vestige commented on #348
よねざわです。
8.16には間に合わなそうな気がします。
いまやっと、レポート全体が揃ったところです。基調講演の内容が豪華だったため、最適化中です。

[2015-07-30 00:33] gunjisatoshi commented on #348
@vestige ご連絡ありがとうございます！

では、とりあえず「掲載号未定」のままとしますが、もし間に合いそうになって 0051 号掲載を希望されるようでしたら（締め切り後でも多少は融通ききますので）別途ご相談ください :smile:

[2015-07-30 01:34] sho-h commented on #318
@gunjisatoshi さん、はい。希望に変更ありません。

上の僕の発言だと明日にはプルリクエストをお送りしないといけないのですが、少しだけ遅れそうですorz...こちらの現状のステータスとしてはあとは「著者について」の部分を全員分集めて、見なおしたら終わりといった状態です。

そのため、7末から2、3日遅れて問題なければ51号希望のままとさせてください。

[2015-07-30 03:51] gunjisatoshi commented on #318
@sho-h はい、問題ないです！
それでは 0051 号掲載という認識でおりますので、すみませんが引き続きよろしくお願いします :bow:

[2015-07-30 14:02] ogom commented on #352
@gunjisatoshi よろしくお願いします。

[2015-07-30 21:09] gunjisatoshi commented on #352
@ogom ありがとうございます！

それでは引き続きよろしくお願いします :bow:

[2015-08-01 17:31] sunaot commented on #311
@gunjisatoshi いったん閉じちゃいます。代わりに http://magazine.rubyist.net/?0050-ECMAScript2015 を書いてもらってます。Go のほうは識者をご紹介いただくという話をしてましたが、その後私が職場を変えたこともあって、とくに動いてません。ゼロからのスタートになるので、やる気になったときにまた issue 立てます。

[2015-08-01 17:31] #311 closed

[2015-08-02 05:39] yukaina commented on #300
@gunjisatoshi
記事の締め切り 8/16 (日)が、間に合わないかもしれないのですが、
0051 号に載せていただきたいです。
すぐに必要ではないですが、掲載予定ページを用意していただけましたら、
こちらで、掲載予定ページへ移しますのでよろしくお願いします。

[2015-08-03 02:07] gunjisatoshi commented on #311
@sunaot 了解です！

[2015-08-03 02:09] gunjisatoshi commented on #300
@yukaina ご連絡ありがとうございます。それでは 0051 号掲載予定ということで承知いたしました！

引き続きよろしくお願いします :bow:

[2015-08-03 02:13] gunjisatoshi commented on #355
掲載見込記事に 51 号ラベルを貼りました。

https://github.com/rubima/rubima/labels/51%E5%8F%B7

もうちょっとしたら別 Issue にて担当のついていない記事の担当者募集をしましょう。

[2015-08-03 05:26] zunda commented on #350
#353 のリリース予定をメールでお知らせしました。現在は @zunda の校正待ちです

[2015-08-03 05:39] gunjisatoshi commented on #350
@zunda ありがとうございます！

[2015-08-03 06:43] gunjisatoshi opened #356 "0051 号 巻頭言"
@takahashim いつも巻頭言をご執筆いただき、ありがとうございます！

0051 号の発行予定は現在のところ 9/6 (日) となっております。 https://github.com/rubima/rubima/issues/353

お忙しいところ恐縮ですが、発行の 1 週間前頃までに巻頭言の原稿を頂けると幸いです。

それでは、よろしくお願いいたします :bow:

[2015-08-03 08:25] takahashim commented on #356
@gunjisatoshi う、了解です！

[2015-08-04 21:57] sho-h commented on #318
ありがとうございます！#358 で提出しました！

[2015-08-05 14:52] miyohide commented on #300
@yukaina さん、掲載予定ページを作成しました。
http://magazine.rubyist.net/?0051-TokyuRubyKaigi08Report

ログイン後、上記URLにアクセスしていただき、「編集」リンクをクリックすると編集可能となります。

[2015-08-06 13:33] miyohide commented on #318
@sho-h さん、記事の提出ありがとうございます。

http://magazine.rubyist.net/?0051-MatsueRubyKaigi06Report
に記事の内容を貼り付けました。まだ貼り付けただけで、推敲はできておりません。今週末ぐらいには対応しようかと思っています。

内容は、ログインの後に上記URLにアクセスしていただけると確認ができます。

推敲ができた段階で再度お知らせいたします。

[2015-08-06 13:38] miyohide commented on #339
@suchi さん、しばらく連絡が遅れまして済みません。
「YouTube」の表記統一ありがとうございます。

次号のるびまですが、 9月6日にリリースの予定です（ #353 ）。それまでは編集・修正可能です。

現在編集部で校正中です。 今週中を目処に完了する予定ですので、今しばらくお待ち下さい。

[2015-08-06 13:38] miyohide commented on #340
本件、開催自体がキャンセルとなりましたのでCloseします。

[2015-08-06 13:38] #340 closed

[2015-08-06 13:42] miyohide commented on #300
進捗チェックリストを追加します。みよひでが担当しようと考えています。
- [ ] 担当を決める
- [ ] 作者から概要をもらう
- [ ] 作者から目次アウトラインをもらう
- [ ] 作者から記事をもらう
- [ ] もらった記事を編集Wikiに転載する
- [ ] 編集Wikiの記事を校正する
- [ ] 編集した記事を作者に確認してもらう
- [ ] 編集MLに作者からの確認が完了した旨を伝える
- [ ] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [ ] 作者にお礼を伝える
- [ ] （地域Ruby会議のみ）Regional.rubykaigi.orgのevents.ymlを編集しPRを出す

[2015-08-06 13:43] miyohide commented on #318
本件、みよひでが担当しようと考えています。

- [x] 担当を決める
- [x] 作者から概要をもらう
- [x] 作者から目次アウトラインをもらう
- [x] 作者から記事をもらう
- [x] もらった記事を編集Wikiに転載する
- [ ] 編集Wikiの記事を校正する
- [ ] 編集した記事を作者に確認してもらう
- [ ] 編集MLに作者からの確認が完了した旨を伝える
- [ ] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [ ] 作者にお礼を伝える
- [ ] （地域Ruby会議のみ）Regional.rubykaigi.orgのevents.ymlを編集しPRを出す

[2015-08-06 14:28] yukaina commented on #300
@miyohide
掲載予定ページありがとうございました。
概要、目次アウトラインについては、後ほどお伝えしますので
よろしくお願いします。

[2015-08-07 15:02] miyohide commented on #300
@yukaina さん
了解しました。概要や目次アウトラインをすっ飛ばして直接記事を送付して頂いても問題ありません。よろしくお願いします。

[2015-08-08 10:20] kurotaky commented on #339
@suchi さん
/cc @miyohide

はじめまして、るびま編集チームの @kurotaky です :octocat:

浜松Ruby会議01レポート楽しく読ませていただきました。 :smile:
2点修正しましたので、ご確認よろしくお願いします!

http://magazine.rubyist.net/?0051-HamamatsuRubyKaigi01Report

## 修正点

発表スライドのタイトルに合わせて、`Rails Girls` の間の半角スペースを削除して、
`RailsGirls と、私。` にしました。

誤字の修正です。
`Adruino` を `Arduino` に修正しました。

[2015-08-08 10:39] suchi commented on #339
@miyohide さん

ありがとうございます。リリーススケジュール承知しました。

@kurotaky さん、はじめまして。

修正確認いたしました。
ありがとうございました。助かります。

[2015-08-09 06:50] miyohide commented on #318
@sho-h さん、校正が完了しました。
http://magazine.rubyist.net/?0051-MatsueRubyKaigi06Report

リンクの確認と、表記の統一（Tmix -> tmix）を行いました。お手数ですが、上記URLにて記事の確認をお願いできますでしょうか。

[2015-08-10 00:18] gunjisatoshi opened #359 "0051 号掲載予定記事の担当編集を決める"
記事候補 https://github.com/rubima/rubima/labels/article から 51 号ラベルのついている記事を下記に書き出しました。抜けがあったら指摘してください。

* 0051 号 巻頭言 https://github.com/rubima/rubima/issues/356 @gunjisatoshi が担当します
* 関西Ruby会議06のレポート https://github.com/rubima/rubima/issues/352 @muryoimpl さん
* 寄稿記事「Rubyで暦を研究する」 https://github.com/rubima/rubima/issues/350 @zunda さん
* RedDotRubyConf 2015 レポートhttps://github.com/rubima/rubima/issues/346 @

[2015-08-10 02:48] yukaina commented on #300
@miyohide すみません、週末終わってますが、
目次アウトラインスキップの件、承知しました。

[2015-08-10 14:57] miyohide commented on #359
#310 の factory_girlとテストデータ、テストコードの記事については、みよひでが担当しようかなと思っています。他の地域Ruby会議系のものは大体終わりが見えているので、多分大丈夫でしょう。

[2015-08-10 23:29] gunjisatoshi commented on #359
@miyohide ありがとうございます！（最近はみよひでさん頼みですみません‥‥）

[2015-08-14 05:59] gunjisatoshi commented on #359
@sunaot monban の記事の件ですが、お忙しいようであれば誰か他の人に担当いただくことも考えたいと思います。現状（のお忙しさは）どんな感じでしょうか。

[2015-08-15 03:49] vestige commented on #348
@gunjisatoshi 0051には間に合わなそうですが、レポートを書いてもらいました。えっと、どういう風にするとよいんでしょうか？一応、hiki形式っぽく書いてもらったのですが...

[2015-08-15 06:15] miyohide commented on #348
@vestige さん、メールで原稿や写真をいただけますでしょうか。

miyohide @ gmail.com まで原稿をいただけると、ページを作成し、編集用アカウントをお知らせいたします。

[2015-08-15 15:04] miyohide commented on #348
@vestige さん、メールでの原稿送付ありがとうございます。

先ほど、アカウントのご連絡をメールで送信しました。ご確認いただけますと幸いです。
なお、編集作業は、はやければ8/16中に、遅くても来週中には終了する予定です。
編集が終了次第、再度このスレッド上でご連絡いたします。

[2015-08-15 22:44] zunda commented on #350
「編集Wikiの記事を校正する」まで完了しました。

[2015-08-16 07:36] miyohide commented on #348
@vestige さん、頂いた原稿を記事化しました。
http://magazine.rubyist.net/?0051-TochigiRubyKaigi06Report

リンク化やhikiの文法・るびま編集指針合わせた編集を行っております。
先日お知らせしたユーザ名とパスワードでログイン後、上記URLにアクセスして御覧ください。

1点お願いです。「書いた人」に対してそれぞれ一言コメントを書いていただけますでしょうか。

[2015-08-17 01:21] sho-h commented on #318
@miyohide さん、遅くなりました。ありがとうございます！確認しました。修正ありがたいです。

こちらでも1点だけ修正しました。「2session」→「2 session」としました。他は気になる点はありませんでした。よろしくお願いいたします。m(_ _)m

[2015-08-18 14:27] miyohide commented on #318
@sho-h さん、ご確認ありがとうございます。リリース日は、9月6日（日）を予定しております。それまでに何かありましたら、再度ご連絡いたします。

引き続きよろしくお願いします。

[2015-08-19 11:04] shyouhei commented on #349
これそろそろ向き合わないとなー

[2015-08-21 01:59] shyouhei commented on #349
@gunjisatoshi ノウハウとか待ってても誰も反応しないのでとりあえず進めていただけますか?

[2015-08-21 10:41] vestige commented on #348
書いた人のコメントいれました。

[2015-08-21 14:04] miyohide commented on #348
@vestige さん、コメント記入ありがとうございます。今週末ぐらいに確認しておきますね。

[2015-08-23 14:15] miyohide commented on #359
@gunjisatoshi さん、 @sunaot さん、 #332 の monban の記事、引き取りましょうか？とりあえず、何もリアクションがないのは先方も不安を与えてしまうので、コメントを記しておきたいと思います。

[2015-08-23 14:21] miyohide commented on #300
@yukaina さん、るびま編集のみよひでです。

本件、進捗いかがでしょうか。

[2015-08-23 14:27] miyohide commented on #359
#310 （factory_girlとテストデータ、テストコードの記事）は51号キャンセルとなりました。

[2015-08-23 14:52] miyohide commented on #332
頂いた記事を以下に貼り付けました。（要認証）
http://magazine.rubyist.net/?0051-IntroduceMonban

コードの部分の貼り付けとかの作業が残っているので、これを近日中に終わらせたい。

[2015-08-24 03:01] yukaina commented on #300
@miyohide
すみません、まだ半分程度なのですが、
今週末にはrubimaのページには、移しますのでお待ちください :bow:

[2015-08-24 05:53] gunjisatoshi commented on #359
@miyohide 任せっきりですみません :bow: お言葉に甘えてお任せしますので、よろしくお願いします :bow: :bow: :bow:

[2015-08-24 05:57] gunjisatoshi commented on #355
掲載予定記事については https://github.com/rubima/rubima/issues/359 にて担当者アサインを実施済みなので、こちらは Close します。

[2015-08-24 05:57] #355 closed

[2015-08-24 06:02] gunjisatoshi commented on #354
特に意見もなかったので、記念企画はなし、また「Rubyist Magazine へのたより」と「Rubyist Magazine n 周年」もお休みにしたいと思います。もうちょっと Close せずに置いときますので、なにかご意見あればコメントください。

[2015-08-24 06:05] gunjisatoshi commented on #349
というわけで、アウトソース（する｜しない）含めて本件を主体的に進めていきたい方を引き続き募集中です。やりたい方はコメントください :bow:

[2015-08-24 13:49] miyohide commented on #348
@vestige さん、コメントの配置を修正しました。内容等は変更しておりません。
対応有難うございました。

[2015-08-25 15:12] miyohide commented on #354
11周年記念号というわけではないのですが、RubyKaigi 2015の前にRubyKaigi 2015の紹介記事を寄稿したいという企画案があります。

[2015-08-26 23:28] gunjisatoshi opened #360 "0051 号の表紙をつくる"
そろそろ表紙を作らないとですね。

[2015-08-26 23:33] gunjisatoshi opened #361 "0051 号 編集後記"
編集後記のお題（～といえば）を募集します。ちなみに 11 周年なんですが、今回は記念号という形にはしない予定なので「11 と言えば」ではなくても良いかなあと思います。

[2015-08-26 23:36] gunjisatoshi opened #362 "0051 号アクセスランキング"
以前 https://github.com/rubima/rubima/issues/313#issuecomment-66380842 でも書いていますが、るびまの Google Analytics アカウントを持っている人 https://github.com/rubima/rubima/issues/152 なら https://github.com/rubima/rubima/issues/273#issuecomment-39480713 の手順に従って誰でもこの記事を作ることができます。どなたかやりませんか（やってみたいけど Google Analytics のアカウントがないよ！という方はご連絡ください）。

[2015-08-27 04:30] gunjisatoshi commented on #360
表紙作って掲載予定の記事のリンクを作成しました。各記事の担当者は紹介文と難易度の追記をお願いします（地域 Ruby 会議レポートは定型文なので記入済みです）。

とちぎ Ruby 会議 06 はまだリンクしていません。掲載を希望されるかどうか再度確認が必要。

[2015-08-27 11:00] vestige commented on #360
掲載してもらってもかまいませんよ。

[2015-08-27 23:39] gunjisatoshi commented on #360
@vestige ご連絡ありがとうございます、了解です！　それでは掲載の方向で進めたいと思います！

[2015-08-29 15:28] miyohide commented on #361
「夏バテ防止法」とか「夏休み」とかどうでしょう。

[2015-08-29 15:35] miyohide commented on #353
リリース1週間前ですので、現状を共有化します。

#332 monbanの記事 → 著者さんに確認してもらっています。
#348 とちぎRuby会議06 → 終了。リリース待ち。
#318 松江Ruby会議06 → 終了。リリース待ち。
#300 Tokyu Ruby会議08 → 記事なし。8/30に記事が上がってなければ次号送りかなと
#350 Rubyで暦を研究する → 終了。リリース待ち。
#339 浜松Ruby会議01 → 終了。リリース待ち。

[2015-08-30 07:51] muryoimpl commented on #360
地域 Ruby 会議のナンバリングですが、開催時期順に並べると下の順ですかね

| kaigi | Date | No |
| ------ | ------ | --- |
| 松江06 | 2014-12-20 | 50 |
| 浜松01 | 2015-03-28 | 51 |
| とちぎ06 | 2015-06-20 | 52 |
| 関西06 | 2015-07-11 | 53 |

[2015-08-30 08:08] muryoimpl commented on #352
著者の方に全体的には OK をいただいている状態で、プルーフリーディングの段階に入っています。
ちょっと気になっているところがあるので、リリースまでにちょっとだけ手が入る予定です。

[2015-08-30 13:38] miyohide commented on #360
@muryoimpl Tokyuが抜けているような...

[2015-08-30 16:20] muryoimpl commented on #360
次号送りとの記載を見たのと、仮押さえしたとして次号に 50 と 54 が並ぶのもちょっと戸惑うと思ったので、抜いてナンバリングしてみました。

[2015-08-30 23:50] gunjisatoshi opened #363 "0051 号 プルーフリーディング"
リリースまで一週間を切りました。自分の担当記事以外にも目を通して、気になるところがあれば各記事の Issue に書き込みをお願いします。

なお、明らかな Typo とかは（やりとりが煩雑になるので）断りなしに直しちゃってかまわないと思います :smile:

[2015-08-30 23:51] gunjisatoshi commented on #352
@muryoimpl 了解です！　引き続きよろしくお願いします :bow:

[2015-08-30 23:53] gunjisatoshi commented on #361
お題の案をありがとうございます！

しかし 9 月リリースなのでちょっと季節はずれかなあという気もするので、いただいた案を参考に適当に考えます :smiley:

[2015-08-31 00:00] gunjisatoshi commented on #361
というわけで「休み明け」といえば、にしましたので皆様書き込みをよろしくお願いします！

[2015-08-31 00:29] gunjisatoshi commented on #353
@miyohide ありがとうございます！ Tokyu 08 は次号送りですかねえ

[2015-08-31 02:06] miyohide commented on #300
@yukaina さん、ページ更新ありがとうございます。
「まとめ」などがまだ未記載のようですが、51号掲載に向けて動きたいと思います。対応可能でしょうか。

[2015-08-31 03:27] miyohide commented on #353
@gunjisatoshi Tokyu 08ですが、今朝確認したところ記事が上がっていました。まだ未記入のところがあるので確認中ですが、51号に入れてしまいたいです。

[2015-08-31 04:51] gunjisatoshi commented on #353
@miyohide 承知しました。というわけで表紙からもリンクを作成しました。ナンバリングは修正していませんので、他の記事との兼ね合いで適当に直しといてください :bow:

[2015-08-31 08:49] yukaina commented on #300
@miyohide さん、遅くなりすみません。まだ、メインの部分とまとめが抜けていますが、
51号に掲載してもらえるよう対応しますので、よろしくお願いします。

[2015-08-31 15:02] miyohide commented on #360
Tokyuは先日記事が上がってきたので、載せる方向としたいです。

| kaigi | Date | No |
| ------ | ------ | --- |
|Tokyu08| 2014-11-29| 50 |
| 松江06 | 2014-12-20 | 51 |
| 浜松01 | 2015-03-28 | 52 |
| とちぎ06 | 2015-06-20 | 53 |
| 関西06 | 2015-07-11 | 54 |

こんなかんじでしょうか。

[2015-08-31 15:26] miyohide commented on #300
@yukaina さん、了解しました。51号掲載で進めましょう。9月5日（土）を目処に対応をお願いします。

[2015-09-01 15:07] miyohide commented on #332
本記事、作者さんのOKが取れました。

[2015-09-01 15:08] miyohide commented on #359
#332 の monban の記事は作者さんのOKを頂きました。公開可能な状態です。

[2015-09-01 15:10] miyohide commented on #353
#332 monbanの記事は著者さんにOKを頂きました。リリース待ちの状態です。

[2015-09-02 02:15] gunjisatoshi commented on #360
@miyohide @muryoimpl 掲載か落とすか微妙なところなので、今は「ナンバリングに注意が必要」ということは留意しましたので、リリースのタイミングで調整しましょう :smiley:

@zunda @miyohide 「Ruby で暦を研究する」と「Monban どうでしょう」の紹介文と難易度設定をお願いします :bow:

[2015-09-02 02:19] gunjisatoshi commented on #332
@kbaba1001 可能であれば「著者について」の記載をお願いできますでしょうか (必須ではないので「記載しない」という判断もありです)。どんな感じで書けばよいかはるびまの他の記事をご参考にいただければと思いますが、簡単な自己紹介、近況などをいただければと思います :bow: /cc @miyohide

[2015-09-02 02:21] gunjisatoshi commented on #362
誰もやる人がいなそうなので、リリース作業のタイミングで私が作成することにします :smile:

[2015-09-02 02:26] gunjisatoshi commented on #354
@miyohide 了解です！　RubyKaigi 2015 の紹介記事の件は 51 号リリース後にでも別 Issue を立てて議論しましょう :blush:

[2015-09-02 05:32] zunda commented on #360
「Ruby で暦を研究する」の紹介文を書いて難易度を設定しました!

[2015-09-02 05:44] gunjisatoshi commented on #360
@zunda ありがとうございます！ :+1:

[2015-09-03 00:23] gunjisatoshi commented on #356
@takahashim 9/6(日) のリリース予定日まであと 4 日ほどですが、状況いかがでしょうか。

[2015-09-03 00:50] hsbt commented on #362
:bow: るびま編集部の新入部員勧誘もしていかねば〜

[2015-09-04 13:02] takahashim commented on #356
遅くなってすみません、先ほど置きましたが、ちょっとまだ要修正です…。

[2015-09-04 16:23] kbaba1001 commented on #332
@gunjisatoshi https://github.com/rubima/rubima/pull/357 末尾に追加しました。 cc @miyohide

[2015-09-05 06:53] miyohide commented on #360
「Monbanどうでしょう」の紹介文と難易度設定を記しました。

[2015-09-05 06:56] miyohide commented on #353
@gunjisatoshi Tokyu 08 ですが、記事をいただけましたので、掲載します。編集完了し、記事の内容について著者さんに確認してもらっています。なお、ナンバリングも合わせて修正しました。

[2015-09-05 15:33] gunjisatoshi opened #364 "0051 号をリリースする"
- [x] るびま編集コミュニティ全員に 0051 号全体のプルーフリーディングのお願いをする see https://github.com/rubima/rubima/issues/363
- [x] るびま編集コミュニティ全員に編集後記の記載を促す see https://github.com/rubima/rubima/issues/361
- [x] リリースの時刻を決める → とりあえず 9/6(Sun) 22:00 とします
- [x] 各記事の担当者に担当記事がリリースできる状態になっているか確認する
- [x] ~~リリースできないと判断した記事があれば、表紙から落とす~~ 今回はなし
- [x] 旧編集Wikiでリハーサルする (SideMenuとか目次ページとかの表示を確認する)
- [x] リリース時刻にリリース作業をする (各記事のauthを外し、各号目次、分野別目

[2015-09-06 06:09] muryoimpl commented on #352
@gunjisatoshi 著者様最終 :ok: を確認しました。

[2015-09-06 10:41] gunjisatoshi commented on #356
@takahashim ありがとうございます！　もうだいたいよさそうな感じでしょうか。

[2015-09-06 10:41] gunjisatoshi commented on #352
@muryoimpl ありがとうございます :smiley:

[2015-09-06 10:43] gunjisatoshi commented on #360
@miyohide ありがとうございます！

ということで表紙については完了したので本 Issue はクローズします。

[2015-09-06 10:43] #360 closed

[2015-09-06 10:54] gunjisatoshi commented on #359
基本的に現在表紙からリンクのある記事はすべてリリース可能という認識です。もし問題あるようでしたら本日 22:00 までにご連絡ください。

[2015-09-06 12:02] miyohide commented on #359
@gunjisatoshi Tokyuの記事ですが、写真提供者の大場さん（ https://twitter.com/koichiroo ）にOKがとれているか確認中です。すみません、もう少しお待ちください。

[2015-09-06 12:12] gunjisatoshi commented on #362
作りましたー

[2015-09-06 12:13] gunjisatoshi commented on #359
@miyohide りょうかりです！

[2015-09-06 12:14] gunjisatoshi commented on #361
まだ三人と少し寂しいので、リリース後でも構わないので記入をお願いします！

[2015-09-06 12:16] miyohide commented on #359
@gunjisatoshi OK取れました。リリースOKです。

[2015-09-06 12:41] gunjisatoshi commented on #359
@miyohide ありがとうございます！

[2015-09-06 13:08] gunjisatoshi commented on #364
そろそろリリース作業を開始しますが、問題あるようでしたら随時連絡ください。

[2015-09-06 13:14] gunjisatoshi commented on #356
@takahashim そろそろリリース作業をしようとおもいますが、本稿は完成でよろしいでしょうか。

[2015-09-06 13:21] takahashim commented on #356
あ、はい、OKです！

[2015-09-06 13:21] gunjisatoshi commented on #356
@takahashim ありがとうございます！

[2015-09-06 13:49] gunjisatoshi commented on #359
先ほどリリース作業を実施しました。各記事担当の方は、著者の方にご連絡をお願いします :bow:

[2015-09-06 13:50] gunjisatoshi commented on #364
先ほどリリース作業を実施しました。RSS の更新と日本 Ruby の会への pull request は明日実施します。

担当の皆さま、お疲れさまでした :beer:

[2015-09-06 13:57] gunjisatoshi commented on #346
@igaiga 予定通り本日 0051 号がリリースされ、無事記事も掲載されましたのでお伝えいたします。

http://magazine.rubyist.net/?0051-RedDotRubyConf2015

執筆ありがとうございました！　またカンファレンスに参加の際はレポートいただけると嬉しいです :smiley:

[2015-09-06 13:57] #346 closed

[2015-09-06 14:13] miyohide commented on #364
@gunjisatoshi リリース作業お疲れ様でした。

[2015-09-06 14:18] miyohide commented on #348
@vestige さん、さきほどるびま51号がリリースされ、とちぎRuby会議06のレポートも掲載されました。
http://magazine.rubyist.net/?0051
寄稿・編集へのご協力ありがとうございました。

[2015-09-06 14:19] miyohide commented on #339
@suchi さん、さきほどるびま51号がリリースされ、浜松Ruby会議01のレポートも掲載されました。
http://magazine.rubyist.net/?0051
寄稿・編集へのご協力ありがとうございました。

[2015-09-06 14:20] miyohide commented on #332
@kbaba1001 さん、さきほどるびま51号がリリースされ、monban紹介記事も掲載されました。
http://magazine.rubyist.net/?0051
寄稿・編集へのご協力ありがとうございました。

[2015-09-06 14:21] miyohide commented on #318
@sho-h さん、さきほどるびま51号がリリースされ、松江Ruby会議06のレポートも掲載されました。
http://magazine.rubyist.net/?0051
寄稿・編集へのご協力ありがとうございました。

[2015-09-06 14:21] miyohide commented on #300
@yukaina さん、さきほどるびま51号がリリースされ、Tokyu Ruby会議08のレポートも掲載されました。
http://magazine.rubyist.net/?0051
寄稿・編集へのご協力ありがとうございました。

[2015-09-06 14:26] #348 closed

[2015-09-06 14:26] #339 closed

[2015-09-06 14:26] #332 closed

[2015-09-06 14:26] #318 closed

[2015-09-06 14:27] #300 closed

[2015-09-06 14:30] muryoimpl commented on #352
@ogom 0051号(http://magazine.rubyist.net/?0051) 先ほどリリースされました。
お忙しいところ寄稿、レビュー、修正にご協力いただきありがとうございました。:smile:

[2015-09-06 14:32] #352 closed

[2015-09-06 16:47] yukaina commented on #300
@miyohide さん ご対応ご確認いろいろ調整していただきありがとうございました。:bow:

[2015-09-06 23:39] suchi commented on #339
確認しました。ありがとうございました。ようやく浜松Ruby会議01の全タスクが終了して感無量です。

[2015-09-07 00:00] sho-h commented on #318
@miyohide さん、ご連絡ありがとうございます。校正等ありがとうございました！

[2015-09-07 00:12] gunjisatoshi commented on #364
pull request 出しました https://github.com/ruby/www.ruby-lang.org/pull/1181

[2015-09-07 00:16] gunjisatoshi commented on #363
ご協力ありがとうございました :bow:

無事 0051 号がリリースされましたので、Close します。

[2015-09-07 00:16] #363 closed

[2015-09-07 00:16] #362 closed

[2015-09-07 00:17] gunjisatoshi commented on #356
無事 0051 号がリリースされました。

いつも巻頭言ありがとうございます :bow: 引き続きよろしくお願いします！

[2015-09-07 00:17] #356 closed

[2015-09-07 00:18] gunjisatoshi commented on #353
@miyohide ありがとうございます！

予定通り無事リリースされましたので Close します～

[2015-09-07 00:18] #353 closed

[2015-09-07 01:07] gunjisatoshi commented on #364
RSS も更新しました！
（しかし毎回手で更新するのも面倒なので、いずれ何とかしたい）

[2015-09-07 01:33] zunda commented on #350
著者の方にお礼を伝えました!

[2015-09-07 01:34] zunda commented on #364
ありがとうございます :+1:

[2015-09-07 01:35] zunda commented on #361
遅くなりました! リリース後ですが記入しました :)

[2015-09-07 03:34] sunaot commented on #332
@kbaba1001 記事いただいてから何もできておらず申し訳ありません。ご寄稿ありがとうございました。記事拝見しましたが、認証機能の Monban 以上にその設計のバランスから刺激を受けました (Generators 込みで)。

[2015-09-07 03:36] sunaot commented on #359
@miyohide Monban の記事、フォローしていただき、本当にありがとうございました。私事のほうで手一杯でるびまへ回す頭がなくなっていたので助かりました。。

[2015-09-07 05:46] yukaina opened #365 "Tokyu Ruby 会議 09 レポート"
TokyuRuby 会議09のレポート作成 issue を起こします。

レポート担当は @igaiga さんです。
開催は 2015.08.29 (土)でした。
よろしくお願いします。

[2015-09-08 03:53] kbaba1001 commented on #332
@sunaot るびまに貢献できて嬉しいです！お話いただきありがとうございました。

[2015-09-10 10:40] muryoimpl opened #366 "RubyConf Taiwan 2015 レポート"
@yucao24hours さんより、RubyConf Taiwan 2015 の参加レポートを寄稿予定とのお話をいただきましたので、取り急ぎ Issue を登録させていただきます。

[2015-09-11 05:19] miyohide commented on #349
最初の20分ぐらいをやってみて出来そうだったので、やります。

早くて9月末、遅くても10月末ぐらいには文字起こしを終了させる感じで動きます。

適宜、結果はるびまページとしてあげておきます。

[2015-09-14 13:33] gunjisatoshi opened #367 "Rubyist Magazine 編集コミュニティから RubyKaja 2015 を選出する"
see: http://kaja.rubyist.net/2015/about
参考: https://github.com/rubima/rubima/issues/288 https://github.com/rubima/rubima/issues/83

- [x] 応募フォームに登録する
- [ ] 誰にするか決める
- [ ] 推薦文を書く
- [ ] 応募フォームから応募する

締切はまだ決まっていないみたいですが、取り急ぎ応募フォームへの登録だけでもしておかねば。

[2015-09-14 13:42] gunjisatoshi commented on #367
とりあえず登録だけ済ませました。推薦したい方がいればコメントをお願いします！

参考：
2012: @sunaot さん
2013: @SugHimsi さん
2014: @gunjisatoshi

[2015-09-15 01:47] gunjisatoshi commented on #367
私は @miyohide さんに一票 :+1:

[2015-09-15 07:43] sunaot commented on #367
先日の無双ぶりを見たので @miyohide さん +1

[2015-09-16 02:19] gunjisatoshi commented on #364
pull request もマージされて無事掲載されました https://www.ruby-lang.org/ja/news/2015/09/06/rubyist-magazine-0051-published/ ので本件クローズします。皆様ありがとうございました！

[2015-09-16 02:19] #364 closed

[2015-09-16 02:20] gunjisatoshi commented on #361
@zunda ありがとうございます！

というわけで、本件クローズしますー

[2015-09-16 02:20] #361 closed

[2015-09-16 02:22] gunjisatoshi commented on #359
無事 0051 号がリリースされましたので、本件クローズします。各記事担当の皆様ありがとうございました！

[2015-09-16 02:22] #359 closed

[2015-09-16 02:23] gunjisatoshi commented on #350
@zunda ありがとうございました！

ということで、本件クローズしますねー

[2015-09-16 02:23] #350 closed

[2015-09-16 02:26] gunjisatoshi commented on #354
0051 号としては完了なので、本件クローズします。12 周年はもうちょっと前から議論したいですね～

[2015-09-16 02:26] #354 closed

[2015-09-21 13:55] miyohide commented on #349
今のところ、前半50分までは文字起こしができたので、アップしました。
http://magazine.rubyist.net/?0046-Hotlinks

発言者がわからないとか、聞き取れなかったところとかはとりあえず置いておいて前に進めています。

[2015-09-25 22:57] gunjisatoshi commented on #349
@kakutani 「Rubyの会で出しちゃってもよさそうな金額感」ってどれくらいでしょうか。上限があれば教えてください :bow:

というか ruby-no-kai/official のほうの issue にしたほうが良いですね。

[2015-09-27 03:59] kakutani commented on #349
ruby-no-kai/official#199 でよいとおもいます! ありがとうございます~

[2015-09-30 09:12] gunjisatoshi opened #368 "0052 号の進行役を決める"
RubyKaigi 2015 の前に出すのか後に出すのかを決めないといけないので（リリース時期は進行役が決めます）、そろそろ進行役を決めないとまずそうなので Issue を起こします。どなたかやってみたい、という方はいらっしゃいませんか。

参考までに直近 5 号の進行役は下記です。

* 0051 号は @gunjisatoshi https://github.com/rubima/rubima/issues/347
* 0050 号は @sunaot さん https://github.com/rubima/rubima/issues/221 多忙のため途中 @gunjisatoshi に交代 https://github.com/rubima/rubima/issues/324#issuecomment-96494407
* 0049 号は @muryoimpl さん https:/

[2015-10-04 13:12] miyohide commented on #368
本件、手を上げます。

RubyKaigi 2015の会期運営チームにてるびまに記事を出したいという話があります。
このため、RubyKaigi 2015の前にるびま52号を出したいという思いがあるのですが、進行役にその権限があるということなので、はじめてですが、チャレンジしてみます。

[2015-10-04 23:43] gunjisatoshi commented on #368
@miyohide ありがとうございます！　それでは、よろしくお願いします！

分からないことがあれば遠慮なくご相談ください :bow:

[2015-10-04 23:45] gunjisatoshi commented on #368
(備忘録としてこの Issue はクローズしないでおきますが、適当なところで閉じていただければと思います :smiley: )

[2015-10-05 00:26] kurotaky commented on #367
@miyohide さんに +1 です。
Yokohama.rb で編集コミュニティにお誘いしてもらって、
自分が今までしたことのなかった経験をする貴重な機会を作ってくださいました :smile:

[2015-10-09 14:01] miyohide commented on #349
テープ起こし、アウトソースの結果をいただきました。Hiki化などは引き続き自分が対応します。

[2015-10-12 08:22] miyohide commented on #349
アウトソースの結果をHiki化し、49分まで清書した結果を載せました。
http://magazine.rubyist.net/?0046-Hotlinks

いたるところで誰の発言かわからないところがありますので、フォローして頂けますと助かります。

[2015-10-12 09:35] shyouhei commented on #349
@kakutani @snoozer05 ご確認ください
@miyohide 確認方法とかをシェアしていただけると… ちょっと久々すぎて…

[2015-10-13 11:48] miyohide commented on #349
@shyouhei ログインページ（ http://magazine.rubyist.net/?c=login ）からご自身のアカウントでログイン後、 http://magazine.rubyist.net/?0046-Hotlinks に移動すると確認いただけます（ https://github.com/rubima/rubima/wiki/HowToEditRubyistMagazine ）。

[2015-10-13 12:39] snoozer05 commented on #349
島田からは、どの程度、校正とかカットとかしちゃって良いものでしょうか。適当にガシガシやっていってしまっても大丈夫でしょうか...??

[2015-10-13 12:45] miyohide commented on #349
@snoozer05 適当にガシガシやっちゃってください。

[2015-10-13 12:47] snoozer05 commented on #349
はい！承知いたしました！

あと、この後のおおよそのマイルストン（校正締切、リリース等）を教えていただいても良いでしょうか...??

[2015-10-13 12:48] miyohide commented on #349
@snoozer05 リリース予定は12月初旬です。11月末までにこの記事が出来上がってるというマイルストーンで動きたいです。

[2015-10-13 12:48] snoozer05 commented on #349
かしこまりましたー

[2015-10-15 06:20] gunjisatoshi commented on #349
@miyohide リリース時期を決めたら備忘録として Issue を起こして (参考: https://github.com/rubima/rubima/issues/353) トップページからリンク (参考: https://github.com/rubima/rubima/blob/master/README.md) いただけると幸いです :bow:

[2015-10-18 13:40] miyohide opened #369 "0052号のリリース時期を決める"
とりあえず仮置きしますので、問題あればコメントを頂けますでしょうか。10/24くらいには決めちゃいましょう。

    記事申し込み・概要締め切り
        11/1 (日)
    記事の目次、アウトライン締め切り
        11/15 (日)
    記事の締め切り
        11/22 (日)
    校正完了、リリース
        12/6 (日)

[2015-10-19 05:48] gunjisatoshi commented on #369
いいんじゃないでしょうか :+1:

[2015-10-25 13:39] miyohide commented on #369
特に反対意見がありませんでしたので、このスケジュールで進めます。この後、記事候補に対してPingを打ってみます。

[2015-10-25 13:42] miyohide commented on #366
@muryoimpl さん、 @yucao24hours さん。るびま52号進行役の @miyohide です。

るびま52号ですが、

記事申し込み・概要締め切りを11/1 (日)、記事の締め切りを11/22 (日)、リリースを12/6 (日)の予定で進めようかと考えております（ #369 ） 。記事の状況はいかがでしょうか。

[2015-10-25 13:43] miyohide commented on #365
@yukaina さん、 @igaiga さん、るびま52号進行役の @miyohide です。

次回のるびま52号ですが、

記事申し込み・概要締め切りを11/1 (日)、記事の締め切りを11/22 (日)、リリースを12/6 (日)の予定で進めようかと考えております（ #369 ） 。記事の状況はいかがでしょうか。

[2015-10-25 13:44] miyohide commented on #351
@sho-h さん、るびま52号進行役の @miyohide です。

次回のるびま52号ですが、

記事申し込み・概要締め切りを11/1 (日)、記事の締め切りを11/22 (日)、リリースを12/6 (日)の予定で進めようかと考えております（ #369 ） 。記事の状況はいかがでしょうか。

[2015-10-26 00:59] sho-h commented on #351
@miyohide さん、いつもありがとうございます！現状20%未満な感じといったところでしょうか。いつもの進捗だと、上記締切よりもう少しかかる感じなので間に合わないかもしれません。取り急ぎここ2、3日くらいの所で他のメンバーにも改めて確認してみます！

[2015-10-26 15:08] miyohide commented on #351
@sho-h さん、ご連絡ありがとうございます。
現状、上記のスケジュールは編集部で考えているプランですので、スケジュール変更は可能です。作業の目処感を教えて頂けますと助かります。

[2015-10-27 08:56] muryoimpl commented on #366
@miyohide
現在記事を作成いただいているところで、日程的には問題ないとの回答をいただきましたのでご報告いたします。よろしくお願いします。

[2015-10-27 14:03] miyohide commented on #366
@muryoimpl さん、ご連絡ありがとうございます。了解しました。

[2015-10-28 05:21] sho-h commented on #351
@miyohide なるほどです。メンバー全員からはまだ返答がありませんが、いまのところ残りの未完メンバーで一番早いのが11/3頃で一番遅いのが11/15頃にできるという話(僕だったりなのですが)なので、まだ返答がないメンバーの担当交替も可能な時間がありそうです。11/20頃にはまとめる作業が終わるのではないかと思いますので上記の予定でPullRequestができるではないかと思います。

[2015-10-29 14:02] miyohide opened #370 "0052号 巻頭言"
@takahashim いつも巻頭言をご執筆いただき、ありがとうございます。

0052 号の発行予定は現在のところ 12/6 (日) となっております（ #369 ）。
お忙しいところ恐縮ですが、発行の 1 週間前（11/29（日））までに巻頭言の原稿を頂けると助かります。
それでは、よろしくお願いいたします :bow:

[2015-10-29 14:08] miyohide commented on #351
@sho-h さん、ご連絡ありがとうございます。目処感のご連絡ありがとうございます。

11/20頃でしたら編集部として対応可能です。極力52号掲載の方向で動きたいと思います。よろしくお願いします。

[2015-10-29 23:59] gunjisatoshi opened #371 "0052 号の記事募集する"
ちょっと記事が足りないかもしれないなあ、ということで Issue とします。

（ちなみに昨日たまたま [idobata 会議 02](https://idobata.doorkeeper.jp/events/31060) に行ったら @sunaot さんとばったり会ったので、一緒に会場にいた何人かに「記事書きませんか」と声かけをしたことをここに記録しておきます）

[2015-10-30 01:19] takahashim commented on #370
う、厳しそうな時期ですが頑張ります…！

[2015-10-30 05:45] sunaot opened #372 "esa.io の作り方 (仮) の記事"
@gunjisatoshi と一緒にお願いをして @fukayatsu さんに esa.io の裏側の紹介記事を書いてもらうことになりました。
担当編集者募集中です。掲載号の相談から (最短だと12月発行の 52 号)。

[2015-10-30 07:15] fukayatsu commented on #372
よろしくお願い致します〜 "(\\( ⁰⊖⁰)/)"

[2015-10-31 06:29] snoozer05 commented on #349
@miyohide @gunjisatoshi 校正、一通り終わったつもりです。あとはリンクつけたりとか、画像とかが必要なところに貼り付けたりすれば、終われるんじゃないかなと思います...!!

[2015-10-31 06:33] snoozer05 commented on #322
こっちに書けばよかったですね...。いただいた原稿と音声データを付き合わせしながらの内容チェックと編集作業を一通り完了しました。あとはURLを貼った方が良いところに脚注リンクをつけたり、画像とかを貼った方が良いところに画像貼ったり、という作業をして校正していただければと思います。

[2015-11-01 13:37] miyohide commented on #322
@snoozer05 編集作業、ありがとうございます。取り急ぎお礼まで。

[2015-11-01 13:40] miyohide commented on #371
@gunjisatoshi さん、 @sunaot さん、記事集めありがとうございます。来週の大江戸Ruby会議において、私も記事集めをやってみようかと思います。ご協力頂けますと助かりますm(_ _)m

[2015-11-01 13:43] miyohide commented on #372
@fukayatsu さん、よろしくお願いします。最短だと52号（11/22記事締め切り、12/6リリース予定）ですが、難しいようであれば、53号（4月頃リリース？）となります。

[2015-11-01 14:38] fukayatsu commented on #372
@miyohide 了解です！

ひとまず 11/9 (月) までにアウトライン書いてみます

[2015-11-04 15:15] snoozer05 commented on #322
できる範囲で、リンク貼ったり、脚注をつけたり、画像を貼ったりもしてみました。

[2015-11-04 15:27] kakutani commented on #322
いまさらではありますが、野次馬しにいった手前、出る前にレビューというわけではないですが目を通すぐらいはやりたいと思ったのですが、いまって原稿はどこいったら見れるんでしたっけ……。

[2015-11-04 15:39] snoozer05 commented on #322
@kakutani https://github.com/rubima/rubima/issues/349#issuecomment-147692788 という感じになっております..!!

[2015-11-04 15:57] kakutani commented on #322
ありがとうございます!

[2015-11-06 12:11] niku commented on #322
すごく面白く読みました(ついでにリンクが変になっていたところを少し直しました)

写真の画像はDropboxにリンクされているようです．
これはるびまにアップロードして差し替えますか？

[2015-11-06 12:32] snoozer05 commented on #322
これはるびまにアップロードして差し替えますか？

るびまのアップロードを使おうと思ったのですが、サイズに上限があってやりづらかったので、Dropboxに置いて逃げてしまいました...上限にかからないように調節していい感じにできるのであれば、アップロードして差し替えてください ><

[2015-11-09 04:37] gunjisatoshi commented on #367
まだ公式なアナウンスが出ていませんが、RubyKaja 2015 というイベント自体が中止になったそうです (ざんねん‥‥)。

せっかくコメントいただいたところ申し訳ございませんが、(心の中で @miyohide さんを褒め称えつつ) 本 Issue としてはクローズとします。

[2015-11-09 04:37] #367 closed

[2015-11-09 05:23] sunaot commented on #367
なんと...
どのような事情かはわかりませんがざんねんですね (同じく @miyohide さんへ ++ しつつ)。

[2015-11-09 06:11] fukajun opened #373 "大江戸Ruby会議 05 レポート"
大江戸Ruby会議 05 レポート作成 issue を起こします。

レポート担当は @shokola @1syo @kei-s @stshsmt @fukajun  です。
記事が出来上がるまでのrubima担当さんとの窓口は 僕 fukajun がやります。
開催は 2015年11月8日 でした。
よろしくお願いします。

cc: @ko1
レポートのIssue作りました

[2015-11-09 08:28] ko1 commented on #373
ありがとう御座います。無理だけはしないように、気楽にお願いします！

[2015-11-09 12:04] fukayatsu commented on #372
一旦頭の中をdump

- 開発の裏側
    - 未だにstaging環境がない
    - スケジュールを決めない
    - ノルマがない
    - github flow; masterにpushしたら本番デプロイ
    - 自動 bundle update
- サポートの裏側(運用に含まれるかも。どちらかと言うと運営?)
    - 5分で返信するのが目標
    - 「はい/いいえ」よりもよい返事がある
        - 出典忘れた
    - github sync
- 運用の裏側
    - Heroku
        - buildpack
        - dyno数のスケジューリング
        - preboot
    - 障害監視
    - リリースノートをwebhookで受け取る
- モチベーションの裏側
    - (\\( ⁰⊖⁰)/)

[2015-11-10 11:58] miyohide opened #374 "プレゼントのフィードバックを頂いたので、紹介するページを作る"
0050号でのプレゼント企画にて当選された方より感想ブログの紹介をいただきましたので、簡単に当該ページを紹介するページを書きました。
http://magazine.rubyist.net/?0052-present-feedback

ご確認して頂けますと幸いです。

[2015-11-14 08:59] miyohide commented on #322
@snoozer05 一通り編集が完了しました。最後にご確認いただけますでしょうか。

画像に関しましては、画像レイアウトがうまく行かずに断念しました。

[2015-11-14 12:19] snoozer05 commented on #322
ありがとうございます。一通り確認しましたー

[2015-11-17 09:05] gunjisatoshi commented on #369
すっかり放置しててすみません。記事の目次・アウトライン締切を過ぎていますので、掲載候補となる記事の整理 (参考: https://github.com/rubima/rubima/issues/355 ) と、担当が付いてない記事の担当アサイン (参考: https://github.com/rubima/rubima/issues/359 ) を行ったほうがよさそうですね。

[2015-11-17 13:53] miyohide commented on #369
@gunjisatoshi さん、フォローありがとうございます。52号ラベルをつけているのが今のところ考えている記事候補です。
担当が付いていないのは、松江Ruby会議07なんですが、だれも手を挙げないようであれば、自分がやります。

[2015-11-17 13:59] miyohide commented on #322
@snoozer05 さん、ありがとうございます。では、これでリリースします。ご協力ありがとうございました。

[2015-11-18 04:41] sunaot commented on #369
esa の記事 #372 も 52 号目標で執筆を進めてくれてそうな気配を感じています。
そしてこちらも今のところ担当不在記事です。

[2015-11-18 04:42] sunaot commented on #372
開発や運用の裏側くらいを期待していたら、あちこちの裏側が聞けそうでとても楽しみです

[2015-11-18 09:37] gunjisatoshi commented on #369
では他にやる人がいなそうなら esa の記事は私のほうで引き取りましょう。

[2015-11-18 13:23] miyohide opened #375 "0052号 編集後記"
編集後記のページを作成する。

お題をどうするかですが、RubyKaigiの直前なので「RubyKaigiといえば」とはどうでしょうか。

[2015-11-18 13:25] miyohide opened #376 "0052 号の表紙をつくる"
0052号の表紙をつくって、リンクを載せる。

[2015-11-18 13:27] miyohide opened #377 "0052 号のアクセスランキングを作る"
アクセスランキングを作成する。

どなたか協力頂けませんでしょうか。

[2015-11-18 13:30] miyohide opened #378 "0052 号をリリースする"
- [x] るびま編集コミュニティ全員に 0052 号全体のプルーフリーディングのお願いをする
- [x] るびま編集コミュニティ全員に編集後記の記載を促す
- [x] リリースの時刻を決める → 12/6(Sun) 20:00 とします
- [x] 各記事の担当者に担当記事がリリースできる状態になっているか確認する
- [x] リリースできないと判断した記事があれば、表紙から落とす
- [x] 旧編集Wikiでリハーサルする (SideMenuとか目次ページとかの表示を確認する)
- [x] リリース時刻にリリース作業をする (各記事のauthを外し、各号目次、分野別目次、SideMenu および表紙を更新する)
- [x] 「ログアウトした状態ですべての記事が正常に見られること」の確認
- [x] RSSの更新をする
- [x] リリースした旨を日本Rubyの会 ML と ruby-l

[2015-11-18 14:08] kurotaky commented on #369
@miyohide @sunaot @gunjisatoshi
記事の担当は初めてで、51号の時に少し校正をお手伝いした程度ですが、
esaの記事か松江Ruby会議07の担当をしたいです。どちらか担当してもよいでしょうか!

[2015-11-19 00:01] gunjisatoshi commented on #369
@kurotaky ではお好きなほうのご担当をお願いしますので、決めていただいてかまいません :bow:
（残った分を私が引き取ります）

[2015-11-19 00:17] kurotaky commented on #369
@gunjisatoshi
了解です。では [esaの記事](https://github.com/rubima/rubima/issues/372) を担当します!
過去ログ追いながらやってみます :ok_woman:

[2015-11-19 00:35] hsbt commented on #377
(アカウント情報欲しければバンバン配布します)

[2015-11-19 00:36] kurotaky commented on #372
@fukayatsu さん
/cc @miyohide @gunjisatoshi @sunaot
esaの記事を担当します @kurotaky です。よろしくお願いします!

52号掲載予定で進めさせていただきたいと思います。
リリースまでのスケジュールは以下のようになっています :calendar:

* 11/22(日)  記事締め切り
* 12/6(日) リリース予定

記事は最終的にはHiki記法で書く必要がありますが、
初稿はMarkdown形式でも問題ありません。よろしくお願いします! :ok_woman:

[2015-11-19 00:38] kurotaky commented on #372
## 編集担当者ToDoリスト
- [ ] 担当を決める
- [ ] 作者から概要をもらう
- [ ] 作者から目次アウトラインをもらう
- [ ] 作者から記事をもらう
- [ ] もらった記事を編集Wikiに転載する
- [ ] 編集Wikiの記事を校正する
- [ ] 編集した記事を作者に確認してもらう
- [ ] 編集MLに作者からの確認が完了した旨を伝える
- [ ] 表紙の記事リンクの作成・記事の説明・難易度をつける
- [ ] 作者にお礼を伝える

[2015-11-19 00:42] kurotaky commented on #377
@miyohide
やります!

@hsbt
アカウント情報欲しいです!
:mailbox_with_mail: `yuta.kurotaki@gmail.com` です。

[2015-11-19 00:55] hsbt commented on #377
追加しました!

[2015-11-19 00:57] kurotaky commented on #377
ありがとうございます!

[2015-11-19 01:11] gunjisatoshi commented on #377
@kurotaky おねがいします！
(参考: https://github.com/rubima/rubima/issues/273#issuecomment-39480713 )

[2015-11-19 01:12] gunjisatoshi commented on #369
@kurotaky お願いします！
（分からないことがあればお気軽にご相談ください！）

[2015-11-19 01:31] kurotaky commented on #369
はい!

[2015-11-19 01:31] kurotaky commented on #377
便利情報ありがとうございます :octocat:

[2015-11-19 05:55] fukayatsu commented on #372
@kurotaky 承知しました。よろしくお願いします！

[2015-11-19 11:10] kurotaky commented on #372
=͟͟͞͞ (\\( ⁰⊖⁰)/)

[2015-11-19 13:52] SugHimsi commented on #378
巻頭言 #370 の番人さんも募集、かな。

[2015-11-19 14:17] miyohide commented on #369
@kurotaky @gunjisatoshi 担当引き受けていただき、ありがとうございます。助かります。

[2015-11-19 16:21] sho-h commented on #351
@miyohide さん、PullRequestしました。よろしくお願いいたします。m(_ _)m

ただ概要締切を思いっきり忘れていました...すみませんorz。

[2015-11-19 23:47] gunjisatoshi commented on #351
@sho-h 本記事の編集を担当させていただきますので、よろしくお願いします :bow:

まずは今週末にいただいた原稿を確認いたしますので、引き続きよろしくお願いいたします！

[2015-11-19 23:47] gunjisatoshi commented on #369
では 松江Ruby会議07 の担当は私が引き取ります！

[2015-11-19 23:50] gunjisatoshi commented on #351
@sho-h 概要締切りというのは技術的な記事を念頭においていますので、地域 Ruby 会議の場合は「レポート書きます」ということがその時点で分かっていれば良いので問題ないです！　お気にになさらずに :smiley:

[2015-11-20 01:01] sho-h commented on #351
@gunjisatoshi よかったです！引き続きよろしくお願いします！

[2015-11-20 03:46] fukayatsu commented on #372
MindMapで作業中: https://my.mindnode.com/aHjQT76RBsPdCmAX1ZLzDyGEampLUzPFvXi5XVuq

[2015-11-21 09:51] fukayatsu opened #380 "esa.io の作り方"
Fix #372

@kurotaky いろいろ足りない部分とかあると思うのですが、一旦書き終わりました。ご確認よろしくお願いいたします :pray:

---

# はじめに

こんにちは。fukayatsuと申します。

合同会社esaのエンジニア的な方です。
先日とあるmeetupで「るびまでesaの裏側の話を書いてみませんか？」とお誘いを頂きましたので、ありがたく書かせていただきます(\\( ⁰⊖⁰)/)

esa.ioは「情報を育てる」という視点で作られた、 自律的なチームのためのドキュメント共有サービスです。誤解を恐れずに言えば、「Markdownで書ける社内Wikiもしくはblog」のようなものです。

この記事では以下の項目について説明していきたいと思います。
しばしお付き合い下さい。

- esa.ioの開発
- 運用
- カスタマーサクセス
- マーケティング
- 合同

[2015-11-21 10:01] ko1 commented on #380
「はじめに」に、この記事に何が書いてあるか、がまとまっていると、読むときの心構えが出来て良さそうに思いました。

[2015-11-21 11:17] fukayatsu commented on #380
追加してみましたー :)

[2015-11-21 16:49] kurotaky commented on #380
記事の提出ありがとうございます! 確認しますね :ok_woman:

るびまの読者でesaの事を知らない人もいるかもしれないので、
「はじめに」の中でesa.ioのサービス説明が少しでもあると良いな〜と思いました。

[2015-11-23 03:29] fukayatsu commented on #380
なるほど確かに。後ほど追加しておきます

[2015-11-23 10:56] fukayatsu commented on #380
「はじめに」の中に、

を追加しました。

[2015-11-23 11:34] kurotaky commented on #380
@fukayatsu
追加ありがとうございます! :smile:

Tachikoma.io 以外だと以下のサービスがあったことを思い出しました。
他にも色々ありそうですね :)

https://www.deppbot.com/

[2015-11-23 12:20] fukayatsu commented on #380
それですそれです！！
名前が思い出せませんでした。ありがとうございます！

[2015-11-25 03:51] kurotaky commented on #372
@miyohide @sunaot @gunjisatoshi
こちらの記事、52号掲載予定で進めています。
権限ある方、どなたか Labels から **掲載号未定** を外して **52号** を付けていただけますか?
よろしくお願いします~

[2015-11-27 08:12] gunjisatoshi commented on #351
@sho-h るびま Wiki のほうに転載し、編集方針に従って体裁を整えました。ご確認ください（ログインしないと見えないようになっています。アカウントはすでにお持ちだと思いますので、ログインしてご確認ください）。

http://magazine.rubyist.net/?0052-MatsueRubyKaigi07Report

何かありましたらご連絡いただくか、直接 Wiki のほうに手を入れていただいて構いません。引き続きよろしくお願いいたします :bow:

[2015-11-28 12:04] miyohide commented on #378
@gunjisatoshi 52号リリース時点で、RSSの更新というのがあるのですが、ご協力頂けますでしょうか。作り方が分かっておらず、どのようにすればよろしいでしょうか。

[2015-11-28 12:06] miyohide commented on #376
表紙作り、現在の記事候補にリンクを張りました。
http://magazine.rubyist.net/?0052

難易度や説明文などを補記して頂けますと助かります。

[2015-11-28 12:07] miyohide commented on #375
ページ作成したので、ご記入お願いします。
http://magazine.rubyist.net/?0052-EditorsNote

[2015-11-28 12:10] miyohide commented on #366
@muryoimpl さん、リリースまであと1週間ほどとなりましたが、状況いかがでしょう。あとは写真を貼れば良さそうに思えました。

[2015-11-28 12:33] muryoimpl commented on #366
@miyohide (1週間前…) 画像の処理は今晩中にします。
タイトルがまだ決まっていないので、タイトルいただいてきます

[2015-11-30 00:55] gunjisatoshi commented on #378
@miyohide だいたいこんな感じです。

* 表紙が完成したらそれを元に手で XML ファイルを作成
* https://github.com/rubima/hiki/blob/master/public/atom.xml を上記で置き換え
* sqale にデプロイ

なので、rubima/owners グループに所属していて、かつ sqale のるびまアカウント情報を知っていて、かつ上記の XML を手で作れる人、じゃないと作業難しいですね。なので私がやります。
（まあ RSS はオマケなのでリリースして一週間以内くらいにやればいいかなぁという感じです）

[2015-11-30 02:28] miyohide commented on #380
@fukayatsu さん、素晴らしい記事ありがとうございます。遅くなり申し訳ございませんが、るびまの記事化を行いました。
http://magazine.rubyist.net/?0052-esaio
現在は、認証が必要な状況となっております。参照するためのアカウントを発行いたしますので、お手数ですが、 miyohide @ gmail.com やTwitterの @miyohide までDを頂けますでしょうか。

[2015-11-30 06:39] miyohide commented on #366
@muryoimpl 画像処理、お手伝いしましょうか。

[2015-11-30 06:43] muryoimpl commented on #366
@miyohide 画像をgistにおいてもらっていたのですが、容量オーバーか何かで削除されてしまっていて旧PCから今サルベージしていただいている最中なのです…画像が来れば変換はすぐにできそうです。

[2015-12-01 02:44] fukayatsu commented on #380
Twitterの方にDしました :pray:

[2015-12-01 07:03] kurotaky commented on #380
記事確認しました :eyes:  http://magazine.rubyist.net/?0052-esaio
校正で気になるところあったらコメントします~

[2015-12-03 15:09] miyohide commented on #370
@takahashim お忙しいところ申し訳ございませんが、本件状況いかがでしょうか。

[2015-12-04 09:30] takahashim commented on #370
うううすみません、今晩中に第一稿があがるかも、というところです…

[2015-12-04 10:43] muryoimpl commented on #366
@miyohide
筆者の方から写真・文章いただきチェックOK、私も再度確認して特に問題ないと思います。
リリースready だと思っております。

[2015-12-04 12:48] sho-h commented on #351
@gunjisatoshi ありがとうございます。すみません、遅くなってしまいました。確認して少し修正しました。m(_ _)m

[2015-12-05 01:52] miyohide commented on #377
@kurotaky すみません、本件進捗どうでしょう。

[2015-12-05 02:29] miyohide commented on #377
@hsbt すみません、私もアカウント情報頂けますか？ `miyohide@gmail.com` です。

[2015-12-05 11:45] SugHimsi commented on #370
(配布それ自体もWWW勃興前夜にはネットニューズでありFTPでしたからね…)

[2015-12-05 11:53] SugHimsi commented on #370
偉大さ、の一文に違和感。(どこに書いてあるの?と思った。「いくら」の前に「きっと、」と付ければよいのかな。)

[2015-12-05 12:21] SugHimsi commented on #370
(ほかの記事を読んでいるが、松江 Ruby 会議 07 #351 の基調講演と読み合わせて矛盾がないか心配)

[2015-12-05 19:57] kurotaky commented on #377
@miyohide @gunjisatoshi
[0052 号 アクセスランキング](http://magazine.rubyist.net/?0052-RubyistMagazineRanking) 作成しました!

:memo:
* 集計期間は前号発行日の 2015/09/06 から 2015/12/05 までのアクセスを集計
* るびまのトップページ、0051号のトップページ、常設記事のFirstStepRubyはランキングに含めない

[2015-12-06 03:03] kurotaky commented on #380
@miyohide
cc: @fukayatsu
おつかれさまです。再度読みなおして2点修正を行いました。:octocat:
http://magazine.rubyist.net/?0052-esaio

#### 修正箇所
* 誤字の修正
 * `これ hook にして` → `これを hook にして`
* Markdown記法からHiki記法への修正
 * `**できるだけすばやく** ` → `'''できるだけすばやく'''`

[2015-12-06 06:01] miyohide commented on #377
@kurotaky 作成ありがとうございます。助かります。

[2015-12-06 06:03] miyohide commented on #380
@kurotaky レビューありがとうございます。助かります。

[2015-12-06 06:04] miyohide commented on #366
@muryoimpl 担当ありがとうございます。了解しました。

[2015-12-06 06:13] fukayatsu commented on #380
@kurotaky ![寿司ゆき:thanks](https://d1zd1v0cxnbx2w.cloudfront.net/images/sets/sushiyuki/04.png)

[2015-12-06 06:32] kurotaky commented on #377
:smile:

[2015-12-06 07:03] takahashim commented on #370
だいたい修正も終わりましたっ

[2015-12-06 10:32] miyohide commented on #370
@takahashim お忙しい中、寄稿ありがとうございました。

[2015-12-06 11:01] miyohide commented on #378
では、リリース作業を始めます。

[2015-12-06 11:57] miyohide commented on #380
@fukayatsu さん、この度は寄稿ありがとうございました。先ほどるびまを無事リリースすることができました。ご対応ありがとうございました。
http://magazine.rubyist.net/?0052

[2015-12-06 11:57] miyohide commented on #374
リリース済み。

[2015-12-06 11:57] #374 closed

[2015-12-06 11:58] miyohide commented on #376
無事、リリース出来ました。

[2015-12-06 11:58] #376 closed

[2015-12-06 12:00] miyohide commented on #372
無事、リリース出来ました。 @kurotaky さん、担当ありがとうございます。 @sunaot さん、 @gunjisatoshi  さん記事の充実化にご尽力いただき、ありがとうございました。

[2015-12-06 12:00] #372 closed

[2015-12-06 12:03] miyohide commented on #366
@muryoimpl さん、本記事担当ありがとうございます。先ほど、無事るびまをリリース出来ました。著者の方にもご連絡・お礼をしていただけますと助かります。

[2015-12-06 12:03] miyohide commented on #351
@sho-h さん、この度は寄稿ありがとうございました。先ほどるびまを無事リリースすることができました。ご対応ありがとうございました。
http://magazine.rubyist.net/?0052

[2015-12-06 12:04] miyohide commented on #375
先ほど、るびま52号をリリース出来ました。担当編集を引き受けていただいた @kurotaky さんや @muryoimpl さんはぜひとも追記をお願いします。

[2015-12-06 12:07] miyohide commented on #322
@snoozer05 さん、先ほどるびまを無事リリースすることができました。ご対応ありがとうございました。
http://magazine.rubyist.net/?0052

[2015-12-06 12:07] miyohide commented on #371
リリースできたので、Closeします。

[2015-12-06 12:07] #371 closed

[2015-12-06 12:08] miyohide commented on #377
@kurotaky  無事、リリース出来ました。作成ありがとうございました。

[2015-12-06 12:08] #377 closed

[2015-12-06 12:08] muryoimpl commented on #366
@yucao24hours
るびまリリースされました！ 写真の件等いろいろお手数おかけしてしまいましたが、無事公開できました。ありがとうございました :smile:

[2015-12-06 12:09] miyohide commented on #369
無事、リリースすることができましたので、Closeします。

[2015-12-06 12:09] #369 closed

[2015-12-06 12:10] miyohide commented on #368
無事、リリースすることができましたのでCloseします。

[2015-12-06 12:10] #368 closed

[2015-12-06 12:11] miyohide commented on #370
@takahashim さん、先ほどるびまを無事リリースすることができました。ご対応ありがとうございました。
http://magazine.rubyist.net/?0052

[2015-12-06 12:11] miyohide commented on #349
無事、52号としてリリース出来ましたのでCloseします。

[2015-12-06 12:11] #349 closed

[2015-12-06 12:24] kurotaky commented on #369
おつかれさまでした! :confetti_ball:

[2015-12-06 12:38] snoozer05 commented on #322
@miyohide ありがとうございます。上記からリンクを辿って気づいてしまったのですが、島田の記事だけプレフィックスが0046となっている http://magazine.rubyist.net/?0046-Hotlinks のですが、これは大丈夫でしょうか...??

[2015-12-06 12:57] elim commented on #322
これがリンク切れのようですー

[2015-12-06 13:00] snoozer05 commented on #322
@elim どもです。Youtube の方が公式アーカイブっぽいので差し替えておきました...!!

[2015-12-06 13:04] elim commented on #322
@snoozer05 ありがとうございますー :tulip:

[2015-12-06 13:27] kurotaky commented on #375
リリースおつかれさまです! 追記しました。

[2015-12-06 13:35] miyohide commented on #322
@snoozer05 oh...すみません。なんで0046にしたんだろう。。。もう、公開してしまったので、このままで。

[2015-12-06 15:10] miyohide commented on #378
リリースしました。ご協力ありがとうございました。

[2015-12-06 15:10] takahashim commented on #370
@miyohide リリースおつかれさまでした！

[2015-12-06 18:22] sunaot commented on #322
一つ前の hotlinks が 0046 号だからかもしれないですね。一通り影響出そうなところ (記事一覧系のものとか) を見て問題出てないことは確認したのですが、プラグインや集計のときにその部分が号数なことを期待していることはあるので、できれば変えてしまえるとよさそうです。

[2015-12-06 20:58] miyohide commented on #322
@snoozer05 @sunaot 前言撤回して、修正しました。すみません。

[2015-12-07 05:40] gunjisatoshi commented on #351
@sho-h ありがとうございました！ (毎号連続でレポート執筆いただき大変感謝です！)

無事リリースされましたので、本件クローズとさせていただきます :bow:

[2015-12-07 05:40] #351 closed

[2015-12-07 05:59] fukayatsu commented on #378
リリース作業ありがとうございました！